{% extends 'openid_consumer/base.html' %}
{% load i18n %}

{% block title %}

{{ block.super }} - Sign in with your OpenID

{% endblock %}

{% block html_attrs %}id="login"{% endblock %}

{% block main_content %}
<div class="grid_8 push_2">
	<p><a href="{% url "auth:login" %}">{% trans 'Back to Sign In' %}</a></p>

	<form action="{{ action }}" method="post">
		<h2>{% trans "Sign in with your OpenID" %}</h2>
	    {% csrf_token %}
	    <p>
	    	<label for="openid_url">OpenID URL</label>
	        <input class="openid" type="text" name="openid_url">
	        <button type="submit" class="green_button big" value="login">{% trans 'Sign In' %}</button>
	    </p>
	</form>
</div>

{% endblock %}
