@mixin border-radius($radius: 5px) {
    -moz-background-clip: padding-box;
    -moz-border-radius: $radius;
    -webkit-background-clip: padding-box;
    -webkit-border-radius: $radius;
    background-clip: padding-box;
    border-radius: $radius;
}
@mixin box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
    -moz-box-shadow: $horizontal $vertical $blur $color;
    -webkit-box-shadow: $horizontal $vertical $blur $color;
    box-shadow: $horizontal $vertical $blur $color;
}
@mixin inset-box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
    -moz-box-shadow: inset $horizontal $vertical $blur $color;
    -webkit-box-shadow: inset $horizontal $vertical $blur $color;
    box-shadow: inset $horizontal $vertical $blur $color;
}
@mixin multi-color-border($top, $sides, $bottom) {
    border-bottom: 1px solid $bottom;
    border-left: 1px solid $sides;
    border-right: 1px solid $sides;
    border-top: 1px solid $top;
}
@mixin multi-border-radius($topLeft: 5px, $topRight: 5px, $bottomRight: 5px, $bottomLeft: 5px) {
    -moz-border-radius-bottomleft: $bottomLeft;
    -moz-border-radius-bottomright: $bottomRight;
    -moz-border-radius-topleft: $topLeft;
    -moz-border-radius-topright: $topRight;
    -webkit-border-bottom-left-radius: $bottomLeft;
    -webkit-border-bottom-right-radius: $bottomRight;
    -webkit-border-top-left-radius: $topLeft;
    -webkit-border-top-right-radius: $topRight;
    border-bottom-left-radius: $bottomLeft;
    border-bottom-right-radius: $bottomRight;
    border-top-left-radius: $topLeft;
    border-top-right-radius: $topRight;
}
@mixin vertical-gradient($start: #000, $stop: #FFF) {
    background: $start;
    background-image: -moz-gradient(center top, $start 0%, $stop 100%);
    background-image: -moz-linear-gradient(center top, $start 0%, $stop 100%);
    background-image: -ms-linear-gradient($start, $stop);
    background-image: -o-linear-gradient($start, $stop);
    background-image: -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
    background-image: -webkit-linear-gradient($start, $stop);
    background-image: linear-gradient($start, $stop);
}
@mixin vertical-gradient-with-image($image, $start: #000, $stop: #FFF) {
    background: $image, -moz-gradient(center top, $start 0%, $stop 100%);
    background: $image, -moz-linear-gradient(center top, $start 0%, $stop 100%);
    background: $image, -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
    background: ($start + $stop) / 2 $image;
}
@mixin linear-gradient($position, $first, $second, $third) {
    background-image: -moz-linear-gradient($position, $first, $second, $third);
    background-image: -ms-linear-gradient($position, $first, $second, $third);
    background-image: -o-linear-gradient($position, $first, $second, $third);
    background-image: -webkit-linear-gradient($position, $first, $second, $third);
    background-image: linear-gradient($position, $first, $second, $third);
}
@mixin opacity($op) {
    -khtml-opacity: $op;
    -moz-opacity: $op;
    opacity: $op;
}
@mixin box-right {
    padding: 0;
    position: absolute;
    top: 2em; right: 0;
    width: 120px;
}
@mixin block-level {
    display: block;
    width: 100%;
}

.amara-group {
    *zoom: 1;

    &:before, &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }
    &:after {
        clear: both;
    }
}
div.amara-embed {
    font: normal 14px;

    a {
        &:hover {
            background: transparent;
            text-decoration: underline;
        }
    }

    div.amara-popcorn {
        position: relative;

        div.amara-popcorn-subtitles {
            bottom: 40px;
            display: none;
            left: 0;
            position: absolute;
            text-align: center;
            line-height: 1.2;

            &.top {
                top: 30px;
                bottom: auto;
            }

            div {
                background: rgba(0, 0, 0, .8);
                color: #FFF;
                margin: 0;
                padding: 6px 20px;
                text-align: center;
                @include border-radius(5px);
            }

        }
    }
    div.amara-tools {
        * {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        div.amara-bar {
            border-top: 1px solid #313233;
            color: #666;
            height: 37px;
            @include multi-border-radius(0, 0, 3px, 3px);
            @include vertical-gradient(#1B1C1D, #212223);

            a.amara-logo {
                background: transparent url('../images/embedder/amara-sprites.png') 0 0 no-repeat;
            }
            a.amara-transcript-button {
                background: transparent url('../images/glyphicons_029_notes_2.png') 0 7px no-repeat;
            }
            a.amara-subtitles-button {
                background: transparent url('../images/cc-icon-amara-18px.png') 10px 11px no-repeat;
            }
            a.amara-fullscreen-button {
                background: transparent url('../images/fullscreen.svg') 0px 4px no-repeat;
            }
            a.amara-button {
                display: inline-block;
                height: 36px;
                @include opacity(.2);
                -webkit-transition: opacity .03s linear;
                -moz-transition: opacity .03s linear;

                &.amara-logo {
                    background-position: center 13px;
                    color: transparent;
                    float: left;
                    width: 81px;

                    &:active {
                        background-position: center 14px;
                    }
                }
                &.amara-share-button {
                    background-position: 13px -236px;
                    float: right;
                    width: 38px;

                    &:active {
                        background-position: 13px -235px;
                    }
                }
                &:hover, &.amara-button-enabled {
                    @include opacity(1);
                }
            }
            ul.amara-displays {
                border-left: 1px solid #2B2C2D;
                border-right: 1px solid #2B2C2D;
                display: inline-block;
                float: left;
                height: 36px;
                margin: 0;
                padding: 0 10px;

                &.amara-displays-right {
                    float: right;
                }

                li {
                    display: inline-block;
                    float: left;
                    height: 36px;
                    list-style-type: none;
                    margin: 0;

                    a {
                        width: 28px;

                        &.amara-transcript-button {
/*
                            background-position: 7px -37px;
                            margin-right: 3px;

                            &:active {
                                background-position: 7px -36px;
                            }
*/
                        }
                        &.amara-subtitles-button {
/*
                            background-position: 6px -86px;

                            &:active {
                                background-position: 6px -85px;
                            }
*/
                        }
                    }
                }
            }
            div.amara-languages {
                border-right: 1px solid #2B2C2D;
                display: inline-block;
                float: left;
                height: 36px;
                padding: 0 10px;
                position: relative;
                width: 21%;
                min-width: 100px;
                .amara-current-language {
                    background: transparent url('../images/embedder/amara-sprites.png') right -187px no-repeat;
                    color: #DEDEDE;
                    display: block;
                    font: normal 12px;
                    height: 36px;
                    padding: 10px 20px 10px 5px;
                    overflow: hidden;
                    text-decoration: none;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;
                    @include opacity(.5);
                    -webkit-transition: opacity .03s linear;
                    -moz-transition: opacity .03s linear;

                    &:hover {
                        @include opacity(1);
                    }
                }
                ul.amara-languages-list {
                    background: #1D1E1F;
                    left: 0;
                    margin: 0;
                    position: absolute;
                    top: auto;
                    bottom: 100%;
                    width: 100%;

                    li {
                        list-style-type: none;

                        a {
                            color: #DFDFDF;
                            display: block;
			    padding-left: 40px;
			    text-decoration: none;
                            &:hover {
                                color: #222;
                            }
                        }
                        a.language-item-inactive {
                            color: #555;
                        }
			a.currently-selected {
			    font-weight: bold;
			}
                     }
                }
            }
        }
        div.amara-transcript {
            border: 1px solid #DADBDC;
            display: none;
            font: normal 12px Tahoma;
            margin: 0 2px;

            div.amara-transcript-header {
                border-bottom: 1px solid #DADBDC;
                color: #9A9B9C;
                @include vertical-gradient(#CCC -3px, #FFF 20px);

                div.amara-transcript-header-left {
                    float: left;
                    padding: 12px;

                    span {
                        font-weight: bold;
                    }
                    a.amara-transcript-autoscroll {
                        color: #9A9B9C;
                        font: normal 12px;
                        text-decoration: none;
                    }
                }
                div.amara-transcript-header-right {
                    float: right;
                    position: relative;

                    input {
                        background: transparent;
                        border: 0;
                        border-left: 1px solid #DADBDC;
                        font: normal 12px;
                        padding: 12px;
                    }

                    a {
                        display: block;
                        position: absolute;
                        border-right: 6px solid transparent;
                        border-left: 6px solid transparent;
                        top: 50%;
                        margin-top: -3px;
                        display: none;

                        &.amara-transcript-search-next {
                            right: 11px;
                            border-top: 6px solid #949596;
                            &.disabled {
                                border-top-color: #ced0d1;
                            }
                        }

                        &.amara-transcript-search-prev {
                            right: 30px;
                            border-bottom: 6px solid #949596;
                            &.disabled {
                                border-bottom-color: #ced0d1;
                            }
                        }
                    }
                }
            }
            div.amara-transcript-body {
                max-height: 300px;
                padding: 5% 15%;
                overflow: auto;

                &::-webkit-scrollbar {
                    background: #F7F7F7;
                    height: 10px;
                    width: 15px;
                    -webkit-appearance: none;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 2px;
                    background-color: #C7C7C7;
                }
                a.amara-transcript-line {
                    color: #212223;
                    font: normal 12px Tahoma;
                    line-height: 32px;
                    padding: 5px 0;
                    text-decoration: none;
                    @include border-radius();

                    &:hover {
                        background: #CACBCC;
                        @include box-shadow(-4px, 0px, 0, #D1D2D3);
                    }
                    &.current-subtitle {
                        background: #DADADA;
                        @include box-shadow(-4px, 0px, 0, #DADADA);
                    }
                    &:after {
                        content: " ";
                    }
                    &:focus {
                        outline: none;
                    }
                    &.selected {
                        background: #313233;
                        color: #FFF;
                        @include box-shadow(-4px, 0px, 0, #313233);
                    }
                    .search-match {
                        background: #fcff9e;
                        padding: 5px 0;
                        margin: -5px 0;
                        @include border-radius();
                    }
                    .current-search-match {
                        border: 1px solid #bbbe68;
                        margin: -5px -1px;
                    }
                }
            }
        }
    }
}
div.amara-context-menu {
    background: #E6E6E6;
    padding: 5px;
    position: absolute;
    width: 150px;
    @include border-radius(3px);

    ul {
        margin: 0;

        li {
            list-style-type: none;

            a {
                background: #FFF;
                display: block;
                color: #000;
                font: normal 12px;
                padding: 5px;
                @include border-radius(2px);
            }
        }
    }
}
.dropdown-menu .unisubs-subtitle-homepage {
     background: url("../images/glyphicons_318_more_items.png") no-repeat scroll 16px 7px rgba(0, 0, 0, 0) !important;
}
.dropdown-menu .unisubs-download-subtitles {
     background: url("../images/glyphicons_212_down_arrow.png") no-repeat scroll 16px 7px rgba(0, 0, 0, 0) !important;
}
.dropdown-menu .currently-selected-item {
     background: url("../images/glyphicons_206_ok_2.png") no-repeat scroll 16px 7px rgba(0, 0, 0, 0) !important;
}
.dropdown-menu .unisubs-embed-link {
     background: url("../images/glyphicons_117_embed.png") no-repeat scroll 16px 7px rgba(0, 0, 0, 0) !important;
}
.dropdown-menu .unisubs-order-subtitles {
     background: url("../images/glyphicons_065_tag.png") no-repeat scroll 16px 7px rgba(0, 0, 0, 0) !important;
}
.pre-small {
    font-size: 0.75em;
}
ul.dropdown-menu.amara-languages-list {
    min-width: 250px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
ul.amara-languages-list > li {
    margin-top: 5px;
}

video {
    background-color: black;
}

#language-list-inside li a {
    padding-top: 3px;
    padding-bottom: 3px;
}
#language-list-inside {
    max-height: 130px;
    padding-left: 0px;
    overflow: auto;
}
#language-list-inside li a.language-item:hover, 
#language-list-inside li a.language-item:focus {
    background-color: #F5F5F5;
}

// This creates a nice play button that would overlay the thumbnail

$color: rgba(50,50,50,.8);
$color-dark: darken($color, 25%);
$size: 1em;

@mixin buttons($size) {
button {
  position: relative;
  display: inline-block;
  padding: .6em;
  background: linear-gradient(#fff, #ccc), #c9c5c9;
  border-radius: 10em;
  border: 0 solid rgba(208,208,208,1.000);
  width: $size;
  height: $size;
  margin-right: 20px;
  box-shadow: 0 ($size * .06) ($size * .07) rgba(0,0,0,.4);
}
button:hover {
    background: linear-gradient(#f5f5f5, #b9b9b9), #c9c5c9 ;
}
button:before, button:after {
  position: absolute;
  content: " "; 
}
  
button:active {
  top: ($size * .05);
  box-shadow: 0 ($size * .02) ($size * .03) rgba(0,0,0,.4);
}

/* Play */
.play:before {
  z-index: 2;
  top: $size * .22;
  left: $size * .36;
  width: 0;
  height: 0;
  border: $size * .3 solid transparent;
    border-left-color: $color;
  border-left-width: ($size * .45);
}
.play:hover:before {
	border-left-color: $color-dark;
}

}

div.thumbnail-button {
  opacity: 0.7; 
  @include buttons(8em);
  text-align: center;
  position: relative;
}

div.medium {
  @include buttons(5em);
}

div.small {
  @include buttons(3em);
}

