{% load i18n %}
{% if announcement %}

<ul class="announce-banner" data-id="{{ announcement.id }}">
  <li{% if add_content_class %} class="content"{% endif %}>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="note ">
            {{ announcement.content|safe }}
            <a href="#" class="hide-announcement float-right">{% trans "Hide" %}</a>
          </div>
        </div> <!--/col-xs-12-->
      </div> <!--/row-->
    </div> <!--/container-->
  </li>
</ul>
{% endif %}
