{% extends "future/base.html" %}
{% load i18n forms %}


{% block content %}
<div class="container">
  <div class="col-md-8 col-md-offset-2 text-justify">
    <div class="section content">
      <h1 class="content">{% trans 'Account Deactivation' %}</h1>

      {% if form %}
      <p class="content"> {% trans 'When your account is deactivated, your username will be displayed as a "Retired user" and your profile page will become inaccessible. Team memberships and linked external accounts will also get unlinked. You can request reactivation of your account by contacting <a href="mailto:support@amara.org">support@amara.org</a>' %}</p>

      <p class="content">{% trans 'In addition, you can opt to delete your account data by checking the options below. Both these options are permanent and irreversible even by Amara staff.' %}</p>
      <form class="content" method="POST">
        {% csrf_token %}
        {{ form.delete_account_data|render_field }}
        {{ form.delete_videos_and_subtitles|render_field }}
        {{ form.password|render_field }}
        <div class="form-actions">
          <a href="{% url 'profiles:profile' user.username %}" class="button cta-reverse">{% trans "Cancel" %}</a>
          <button type="submit" class="button cta">{% trans "Deactivate" %}</button>
        </div>
      </form>
      {% else %}
        <p class="content">
          {% trans 'You must have a valid password before deactivating your account. In order to set a valid password, you can reset it using the' %}
          <a href="{% url "password_reset" %}">
            {% trans 'Password Reset page' %}
          </a>
        </p>
      {% endif %}
    </div>
</div>
</div>

{% endblock %}