{% extends "hands_base.html" %}

{% load i18n teams_tags media_bundle %}

{% block html_attrs %}id="login"{% endblock %}
{% block main_content %}

<script>
  document.facebook_app_public_id = "{{ app_id }}";
  document.facebook_login_confirm = "{{ facebook_login_confirm }}";
</script>

{% media_bundle "login.js" %}

<div id="login-bg" class="top-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="sso">
            <h2>{% trans "Sign In" %}</h2>
            <h5>{% trans "Use an existing identity" %}</h5>
            <ul class="providers">
              <li><a class="provider" id="google" href="{% url "externalsites:google-login-confirm" %}?next={{ next }}">google</a></li>
	      <li><button class="provider" id="facebook">facebook</button></li>
              <li><a class="provider" id="twitter" href="{% url "thirdpartyaccounts:twitter_login_confirm" %}?next={{ next }}"> twitter</a></li>
              <li><a class="provider" id="ted" href="{{ ted_auth.url_confirm }}">ted</a></li>
            </ul>


            <form class="auth-form" action="{% url "auth:login_post" %}" method="post">
              <h5 class="spacer-top">{% trans "Or use your Amara account" %}</h5>

              {% csrf_token %}

              <ul class="sign-in-form">
                {{ login_form.as_ul }}
                <li>
                  {% if messages %}
                  <ul class="errorlist">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                  <button type="submit" class="green_button big" value="login">{% trans 'Sign In' %}</button>
                </li>
              </ul>

              <p class="help"><a href="{% url "password_reset" %}">{% trans 'Forgot your password?' %}</a></p>
              <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
        <div id="create-account" class="sso">
          <form class="auth-form" action="{% url "auth:create_user" %}" method="post">
              <h2>{% trans "Create an Account" %}</h2>
              <h5>{% trans "It's free!" %}</h5>

              {% csrf_token %}
              <ul class="create-account-form">
                {{ creation_form.as_ul }}
                <li>
                  <button type="submit" value="create account"  class="green_button big">{% trans 'Create Account' %}</button>
                </li>
              </ul>
              <input type="hidden" name="next" value="{{ next }}" />
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
