{% extends "base.html" %}

{% load i18n teams_tags %}

{% block html_attrs %}id="login"{% endblock %}

{% block main_content %}
<div class="grid_8 push_2">
    <div class="sso">
        <h2>{% trans "Sign in as a different user" %}</h2>
    </div>
    <form class="auth-form" action="{% url "auth:login_trap" %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="green_button big" value="login">{% trans 'Sign In' %}</button>
    </form>
</div>
{% endblock %}
