@charset "UTF-8";
@import "modules/colors";
@import "modules/fonts";
@import "modules/mixins";
@import "partials/dialogs";

/* It would be nice to put this in the fonts module, but it's not really
 * possible at this moment because the font urls are relative to the url of
 * the CSS file.
 */
$CodePro: 'CodeProLC', $OpenSans;
@font-face {
    font-family: 'CodeProLC';
    src: url('../fonts/CodeProLC.eot');
    src: url('../fonts/CodeProLC.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CodeProLC.woff') format('woff'),
         url('../fonts/CodeProLC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*******************************************
* This is to have a page whose size is a multiple
* of 100 so that there is no rounding glitch
* with integer percenages of columns
* TODO, make a SASS loop, was unsuccessful
*******************************************/
@media (max-width: 600px) {div.page {width: 600px;}}
@media (min-width: 600px) and (max-width: 699px) {div.page {width: 600px;}}
@media (min-width: 700px) and (max-width: 799px) {div.page {width: 700px;}}
@media (min-width: 800px) and (max-width: 899px) {div.page {width: 800px;}}
@media (min-width: 900px) and (max-width: 999px) {div.page {width: 900px;}}
@media (min-width: 1000px) and (max-width: 1099px) {div.page {width: 1000px;}}
@media (min-width: 1100px) and (max-width: 1199px) {div.page {width: 1100px;}}
@media (min-width: 1200px) and (max-width: 1299px) {div.page {width: 1200px;}}
@media (min-width: 1300px) and (max-width: 1399px) {div.page {width: 1300px;}}
@media (min-width: 1400px) and (max-width: 1499px) {div.page {width: 1400px;}}
@media (min-width: 1500px) and (max-width: 1599px) {div.page {width: 1500px;}}
@media (min-width: 1600px) and (max-width: 1699px) {div.page {width: 1600px;}}
@media (min-width: 1700px) and (max-width: 1799px) {div.page {width: 1700px;}}
@media (min-width: 1800px) and (max-width: 1899px) {div.page {width: 1800px;}}
@media (min-width: 1900px) and (max-width: 1999px) {div.page {width: 1900px;}}
@media (min-width: 2000px) and (max-width: 2099px) {div.page {width: 2000px;}}
@media (min-width: 2100px) and (max-width: 2199px) {div.page {width: 2100px;}}
@media (min-width: 2200px) and (max-width: 2299px) {div.page {width: 2200px;}}
@media (min-width: 2300px) and (max-width: 2399px) {div.page {width: 2300px;}}
@media (min-width: 2400px) and (max-width: 2499px) {div.page {width: 2400px;}}
@media (min-width: 2500px) and (max-width: 2599px) {div.page {width: 2500px;}}
@media (min-width: 2600px) and (max-width: 2699px) {div.page {width: 2600px;}}
@media (min-width: 2700px) and (max-width: 2799px) {div.page {width: 2700px;}}
@media (min-width: 2800px) and (max-width: 2899px) {div.page {width: 2800px;}}

/*
 * These colors sould be put in the colors modules, but does it make sense to
 * share them with the rest of the CSS?  Maybe we should have a different file
 * for editor colors.
 */

$header-height: 38px;
$top-section-height: 290px;
$video-height: 258px;
$timeline-height: 65px;
$sync-help-height: 54px;
$span-key-height: 32px;
$text-color: #565758;
$reddish-pink: #d24655;
$teal-tutorial: teal;
$lighter-blue: #29b0bf;
$warning-color: #ff6000;
$blue: #126295;
$teal: #15998e;
$semi-dark-grey: #888;
$light-grey: #F3F4F5;
$light-grey-highlight: #EEE;
$dark-grey: #333;
$off-white: #f3f3f3;

$tutorial-banner-height: 50px;
$tutorial-play-height: 70px;
$tutorial-top: 540px;

$line-height-text: 1.2;

// Mixins
@mixin border-radius($radius: 5px) {
    -webkit-background-clip: padding-box;
    -webkit-border-radius: $radius;
    -moz-background-clip: padding-box;
    -moz-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;
}
@mixin box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
  -webkit-box-shadow: $horizontal $vertical $blur $color;
  -moz-box-shadow: $horizontal $vertical $blur $color;
  box-shadow: $horizontal $vertical $blur $color;
}
@mixin inset-box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
  -webkit-box-shadow: inset $horizontal $vertical $blur $color;
  -moz-box-shadow: inset $horizontal $vertical $blur $color;
  box-shadow: inset $horizontal $vertical $blur $color;
}
@mixin multi-box-shadow($horizontalIn: 0px, $verticalIn: 1px, $blurIn: 2px, $colorIn: #CCC, $horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
  -webkit-box-shadow: inset $horizontalIn $verticalIn $blurIn $colorIn, $horizontal $vertical $blur $color;
  -moz-box-shadow: inset $horizontalIn $verticalIn $blurIn $colorIn, $horizontal $vertical $blur $color;
  box-shadow: inset $horizontalIn $verticalIn $blurIn $colorIn, $horizontal $vertical $blur $color;
}
@mixin multi-border-radius($topLeft: 5px, $topRight: 5px, $bottomRight: 5px, $bottomLeft: 5px) {
    -webkit-border-top-left-radius: $topLeft;
    -webkit-border-top-right-radius: $topRight;
    -webkit-border-bottom-right-radius: $bottomRight;
    -webkit-border-bottom-left-radius: $bottomLeft;
    -moz-border-radius-topleft: $topLeft;
    -moz-border-radius-topright: $topRight;
    -moz-border-radius-bottomright: $bottomRight;
    -moz-border-radius-bottomleft: $bottomLeft;
    border-top-left-radius: $topLeft;
    border-top-right-radius: $topRight;
    border-bottom-right-radius: $bottomRight;
    border-bottom-left-radius: $bottomLeft;
}
@mixin vertical-gradient($start: #000, $stop: #FFF) { background: $start;
    background: -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
    background: -moz-linear-gradient(center top, $start 0%, $stop 100%);
    background: -moz-gradient(center top, $start 0%, $stop 100%);
}
@mixin vertical-gradient-with-image($image, $start: #000, $stop: #FFF) {
    background: ($start + $stop) / 2 $image;
    background: $image, -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
    background: $image, -moz-linear-gradient(center top, $start 0%, $stop 100%);
    background: $image, -moz-gradient(center top, $start 0%, $stop 100%);
}
@mixin opacity($op) {
    -khtml-opacity: $op;
    -moz-opacity: $op;
    opacity: $op;
}
@mixin big-button {
    font: normal 12px $OpenSans;
    background: $light-blue;
    color: #FFFFFF;
    padding: 13px 11px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

@mixin triangle-left($color) {
  content: "";
  width: 0;
  height: 0;
  font-size: 0;
  border-top: 20px dotted transparent;
  border-bottom: 20px dotted transparent;
  border-right: 20px solid $color;
  position: relative;
}

@mixin triangle-right($color) {
  content: "";
  width: 0;
  height: 0;
  font-size: 0;
  border-top: 20px dotted transparent;
  border-bottom: 20px dotted transparent;
  border-left: 20px solid $color;
  position: relative;
}

@mixin triangle-top($color) {
  content: "";
  width: 0;
  height: 0;
  border-right: 20px dotted transparent;
  border-left: 20px dotted transparent;
  border-bottom: 20px solid $color;
  position: relative;
}

@mixin triangle-bottom($color) {
  content: "";
  width: 0;
  height: 0;
  border-right: 20px dotted transparent;
  border-left: 20px dotted transparent;
  border-top: 20px solid $color;
  position: relative;
}

// Page
body {
    background: $light-grey;
    &.loading-finished {
        background: $dark-grey;
    }
    line-height: $line-height-text;
}
html, body {
    overflow: hidden;
}
body {
    color: $text-color;
    font: normal 11px/14px $OpenSans;
    margin: 0;
    text-rendering: optimizeLegibility;
}

// border-box all the things.
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
div.toolbar {
    height: 40px;
}
// Utils
.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.hidden {
    display: none;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}
strong {
    font-weight: bold;
}
.clippedAndHidden{
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px,1px,1px,1px);
}

// Modals
div.modal {
    background: rgba(black, .6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    div.inner {
        background: $dark-grey;
        color: #F1F1F1;
        margin: 230px auto 0 auto;
        padding: 40px;
        width: 50%;
        @include border-radius(3px);
        @include box-shadow(0, 0, 30px, rgba(black, .4));

        h1 {
            /* The preloader should not use custom font, else some browsers
                will display blank text until that font has loaded */
            font: normal 17px $Helvetica;
            margin-bottom: 20px;
            
            &.loading {
                margin-bottom: 0;
            }
        }
        p {
            color: #AEAEAE;
            font: normal 12px/20px $OpenSans;
            margin-bottom: 20px;
        }
        div.buttons {
            margin-top: 40px;
            text-align: right;
        }
        div.download {
            .button {
                padding: 1em 3em;
            }
            p {
                margin-top: 20px;
                color: #CCC;
            }
        }
    }
}

/* General page layout */

.page {
    background: #F3F4F5;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

header.main {
    position: absolute;
    top: 0;
    height: $header-height;
    left: 0;
    right: 0;
}

div.help-panel {
    position: absolute;
    top: $header-height;
    height: $top-section-height - $header-height;
    left: 0;
    width: 37%;
}

div.video {
    position: absolute;
    top: 0;
    height: $top-section-height;
    left: 37%;
    width: 37%;
}

div.workflow {
    position: absolute;

    top: $header-height;
    height: $top-section-height - $header-height;
    left: 74%;
    right: 0;
}

#context-menu {
    display: none;
    position: fixed;
    color: #DDDDDD;
    z-index: 71;
    background: $dark-grey;
    text-align: left;
    width: 150px;
    li {
        list-style-type: none;
        display: inline-block;
        width:100%;
        a {
            width:100%;
            color: #DDDDDD;
            display: inline-block;
            padding: 10px;
            padding-left: 28px;
            text-decoration: none;
            &.show-timeline {
                background: url('../images/subtitle-editor/glyphicons_054_clock.png') 10px no-repeat;
            }
            &.shift-forward {
                background: url('../images/subtitle-editor/glyphicons_176_forward.png') 10px no-repeat;
            }
            &.shift-backward {
                background: url('../images/subtitle-editor/glyphicons_172_rewind.png') 10px no-repeat;
            }
            &:hover {
                background: #C5C5C5;
                color: $dark-grey;
            }
        }
    }
}

div.timeline {
    position: absolute;
    top: $top-section-height;
    height: $timeline-height;
    left: 0;
    right: 0;
}

div.edit-area {
    position: absolute;
    bottom: 0;
    top: $top-section-height;

    body.timeline-shown & {
        top: $top-section-height + $timeline-height;
    }
}

div.subtitle-area {
    width: 37%;
    &.reference {
        left: 0;
    }
    &.work {
        left: 37%;
        @include box-shadow(0, 0, 10px, rgba(0, 0, 0, 0.10));
    }
}

div.notes {
    right: 0;
    width: 26%;
}


/* Element styling */

header.main {
    background: $dark-grey;

    div.site {
        float: left;
        width: 37%;

        h1 {
            color: #949596;
            font: normal 18px $CodePro;
            letter-spacing: -1px;
            margin: 0;
            padding: 8px 12px;
            text-transform: lowercase;
            float: left;
        }
        div.video-title {
            margin: 0;
            padding: 10px 5px;
            text-align: right;
            font: normal 13px $OpenSans;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            a {
              color: #D0D1D2;
              text-decoration: none;
              vertical-align: middle;
            }
            img {
                margin: 0;
                padding: 2px 0 0 20px;
                float: right;
            }
        }
    }
    div.session {
        text-align: right;

        button {
            -webkit-transition: color 0.03s linear;
            -moz-transition: color 0.03s linear;
            transition: color 0.03s linear;

            color: #999999;
            background: $dark-grey;
            border: none;
            font: normal 11px $OpenSans;
            height: 38px;
            padding: 0 12px;
            cursor: pointer;
            outline: none;
            margin: 0;

            &:hover {
                color: white;
            }

            &.save {
                background: #126295;
                color: white;
            }
            &[disabled] {
                background: $semi-dark-grey;
                cursor: default;
            }
        }
    }
}

span.key {
    background: white;
    display: block;
    height: $span-key-height;
    float: left;
    margin-right: 10px;
    padding: 9px;
    opacity: 0.95;
    border-bottom: 1px solid #474849;
    box-shadow: 0 -5px 5px #E0E1E2 inset, -7px 0 7px rgba(0, 0, 0, 0.08);
    position: relative;
    @include border-radius(3px);

    span {
        bottom: 2px;
        color: #5A5758;
        diplay: block;
        font-size: 9px;
        font-weight: bold;
        left: 4px;
        position: absolute;
    }
}
div.subtitles-wrapper {
    overflow: visible;
    position: relative;

    a.scroll-lock {
        background: #414243 url('../images/editor/icons.png') center center no-repeat;
        bottom: 11px;
        height: 25px;
        position: absolute;
        right: 20px;
        width: 25px;
        @include border-radius(2px);

        &.locked {
            background-position: center -119px;
        }
        &.unlocked {
            background-position: center -143px;
        }
    }

    div.sync-help {
        position: absolute;
        display: none;
        width: 120px;
        height: $sync-help-height;
        color: #ffffff;
        z-index: 60;

        div.text {
            line-height: $sync-help-height;
            vertical-align: middle;
        }

        span.key {
            margin-left: 14px;
            margin-top: ($sync-help-height - $span-key-height) / 2 ;
            width: $span-key-height;
            span {
                color: #000;
                font-size: 12px;
                bottom: 5px;
            }
        }
        &:before {
            /* Draws a triangle in the middle of the box.
             */
            position: absolute;
            top: 12px;
            content: "";
            display: block;
            height: 0px;
            width: 0px;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
        }
    }
    div.sync-help.end {
        background: #126295;
        left: 100%;
        &:before {
            left: -15px;
            border-right: 15px solid #126295;
        }
    }

    div.sync-help.begin {
        background: #15998e;
        right: 100%;
        &:before {
            right: -15px;
            border-left: 15px solid #15998e;
        }
    }

    div.info-tray {
        position: absolute;
        left: 100%;
        top: 45px;
        width: 235px;
        z-index: 61;

        background: #e4e5e6;
        border-top: 1px solid #e6e7e8;
        border-right: 1px solid #e6e7e8;
        border-bottom: 1px solid #e6e7e8;
        table, div {
            width: 95%;
            margin: 0px 7px 7px 7px;
        }
	div.warning-text {
	    color: $warning-color;
            p {
                padding-bottom: 6px;
            }
        }
        td, th {
            text-align: left;
            width: 50%;
            font-size: 12px;
            padding-top: 7px;
            color: #a3a4a5;

            em.warning {
                color: $warning-color;
            }
            em {
                color: #838485;
            }
            &.warning {
                color: $warning-color;
            }
        }
        tr.child {
            td, th {
                padding-top: 3px;
            }
            th {
                padding-left: 20px;
            }
        }
    }
}
div.subtitles {
    overflow: auto;
    position: relative;

    div.metadata {
        background: #fff;
        font-size: 12px;
        position: relative;
        h2 {
            font-size: 14px;
            background: #c5c5c5;
            padding: 20px 42px;
            color: white;
        }
        h3 {
            text-transform: uppercase;
        }
        div.content {
            padding: 24px 42px;

            p {
                padding: 16px 0 30px;
                line-height: 140%;
            }
            textarea {
                margin: 16px 0 30px;
                line-height: 140%;
                width: 100%;
                border: 0;
                color: $text-color;
                font: normal 12px $OpenSans;
                resize: none;
            }
        }
        a.expander {
            position: absolute;
            left: 24px;
            top: 20px;
            height: 0px;
            width: 0px;
            border-top: 10px solid #fff;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;

            &.collapsed {
                border-left: 10px solid #fff;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
            }
        }

        &[dir=rtl] {
            a.expander {
                left: auto;
                right: 24px;

                &.collapsed {
                    border-left: 0;
                    border-right: 10px solid #fff;
                }
            }
        }

    }

    ul.subtitle-list {
        margin-right: 1px;

        li {
            color: #3C3C3D;
            font-size: 12px;
            line-height: 25px;
            position: relative;

            span.timing {
                color: #363637;
                display: block;
                font-size: 10px;
                position: absolute;
                right: 20px;
                top: 2px;
                line-height: 25px;
            }

            span.warning {
                display: block;
                position: absolute;
                right: 20px;
                top: 20px;
                line-height: 25px;
                font-weight: bold;
            }

            .new-paragraph {
                display: none;
                position: absolute;
                top: 13px;
                left: 15px;
                color: #B0B0B0;
                font: normal 13px $OpenSans;
                text-decoration: none;
            }

            .sub-toolbox {
                display: none;
                position: absolute;
                top: 35px;
                left: -100px;
                color: #B0B0B0;
                font: normal 13px $OpenSans;
                text-decoration: none;
            }

            &.paragraph-start .new-paragraph {
               display: block;
               color: #666;
            }

            button, div.sub-toolbox {
                display: none;
                padding: 0;
                margin: 0;
                border: none;
                cursor: pointer;
                background: transparent;

                &:focus {
                    outline: none;
                }

                img {
                    display: block;
                }
            }

            &:hover button, &:hover div.sub-toolbox {
                display: block;
            }

            button.remove-subtitle {
                position: absolute;
                bottom: 7px;
                height: 10px;
                right: 20px;
                width: 10px;
            }

            button.insert-subtitle {
                position: absolute;
                top: 0px;
                left: 50%;
                height: 15px;
                width: 30px;
                margin-left: -15px;
                background: #BABBBC;

                img {
                    position: absolute;
                    top: 3px;
                    left: 12px;
                }
                @include border-radius(0 0 30px 30px);
            }

            textarea, span.subtitle-text {
                $line-height: 18px;
                $number-lines: 3;
                $padding-top: 8px;
                $padding-bottom: 3px;
                border: 0;
                border-top: 1px solid #EBECED;
                border-left: 0;
                border-right: 0;
                height: $padding-top + $padding-bottom + $number-lines * $line-height;
                line-height: $line-height;
                overflow: hidden;
                padding: $padding-top 60px $padding-bottom 40px;
                word-wrap: break-word;
            }

            textarea {
                font: normal 12px $OpenSans;
                margin: 0;
                display: block;
                resize: none;
                width: 100%;

                &:focus {
                    outline: none;
                }
            }
            span.subtitle-text {
                cursor: text;
                display: block;
                b {
                    font-weight: bold;
                }
                i {
                    font-style: italic;
                }
            }
            &.edit span.subtitle-text {
                display: none;
            }
            &.current-subtitle {
                background: #ddeaf7;
            }

            &.empty {
                background: #fdfdea;

                textarea, span {
                    background: #fdfdea;
                }
            }
        }
        &[editable="false"] {
            li {
                margin-right: 6px;
            }
        }

        &[dir=rtl] {
            span.timing {
                left: 20px;
                right: auto;
            }
        }

    }
    .end {
        color: #3C3C3D;
        display: block;
        line-height: 20px;
        padding: 15px 0;
        text-align: center;
        text-decoration: none;

        &:hover {
            background: #EBECED;
        }
    }
}

div.help-panel {
    color: $dark-grey;
    font-size: 12px;
    display: table;
    padding: 15px 70px 5px 35px;

    a {
        color: $text-color;
        font: normal 12px $OpenSans;
        background: transparent;
        font-size: 12px;
        text-decoration: none;
        &.guidelines-link {
            line-height: 40px;
        }
        &.playback-mode-link {
            float: right;
            line-height: 40px;
        }
    }
    span.key {
        width: 20%;
    }
    div.key-row {
        display: table-row;
        table-layout: fixed;
        div.instruction-item-small { 
          display: table-cell;
          width: 0.05%;
        }
        div.instruction-item { 
          display: table-cell;
          width: 2%;
          margin: 0px 10px;
        }
    }
    div.instruction-item {
        margin: 10px 0px;
        padding: 10px;
        &.reddish-pink-key {
            background: $reddish-pink;
        }
        &.lighter-blue-key {
            background: $lighter-blue;
        }
        &.blue-key {
            background: $blue;
        }
        &.teal-key {
            background: $teal;
        }
        display: table;
        width: 100%;
        @include border-radius(3px);
        &.clickable:hover {
            cursor: pointer;
        }
        div.key-pattern {
            &.small {
            padding: 3px 5px;
            }
            float: left;
            border-bottom: 1px solid #474849;
            box-shadow: 0 -5px 5px #E0E1E2 inset, -7px 0 7px rgba(0, 0, 0, 0.08);
            background: white;
            opacity: 0.95;
            margin: 0px 5px;
            padding: 3px 20px;
            @include border-radius(3px);
            vertical-align: middle;
            display: table-cell;
        }
        div.shortcut-desc {
        width: 100%;
        text-align: right;
        color: white;
        }
    }
    a.advanced {
        color: white;
        float: right;
        font-size: 11px;
        margin-top: 1px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
    h1 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    p {
        font-size: 11px;
        line-height: 18px;
    }
    ul {
        margin: 20px 0 0 10px;

        li {
            margin: 10px 0;
            font-size: 12px;
            span.description {
                display: block;
                float: left;
                margin-top: 7px;
            }
            
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
div.notes {
    ul.notes {
        color: #ddd;
        position: absolute;
        top: 3.5em;
        bottom: 10em;
        left: 2em;
        right: 2em;
        overflow: auto;
        padding: 0.5em;

        li {
            background: $semi-dark-grey;
            padding: 5px 20px;
            border-radius: 10px;
            margin-bottom: 1em;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        p.byline {
            color: #222;;
            font-style: italic;
        }
    }


    .new-note {
        background: $dark-grey;
        position: absolute;
        height: 11em;
        width: 100%;
        bottom: 0;
        padding: 0.5em 2em;

        textarea {
            left: 2em;
            right: 2em;
            background: #ececec;
            border: none;
            resize: none;
            width: 100%;
            height: 4em;
            border-radius: 5px;
            margin: 1em 0;
            padding: 0.5em;
            color: $text-color;
        }
        button {
            @include big-button;
            float: right;
            color: #ddd;
            background: #666;
            padding: 5px 20px;
        }
        p {
            color: #aaa;
            font-style: italic;
        }
    }

}
div.preview {
    color: #949596;
    height: 32px;
    text-align: center;
    text-shadow: 0 1px 0 white;

    a {
        color: #256F9E;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
    }
}
div.language-selections {
    background: #ECECEC;
    border-top: 1px solid #DADBDC;
    position: relative;

    div.select {
        background: transparent url('../images/down-arrow-offset.png') center right no-repeat;
        border-right: 1px solid #DADBDC;
        float: left;
        overflow: hidden;
        padding: 10px 0 0 10px;
        position: relative;
        width: 42%;

        select {
            // No idea why it is not inherited from body
            color: $text-color;
            font: normal 12px $OpenSans;
            background: transparent;
            font-size: 12px;
            line-height: 134%;
            border: 0;
            cursor: pointer;
            margin: 0;
            overflow: hidden;
            width: 140%;
            text-indent: 0;
            -webkit-appearance: none;
            @include border-radius(0);

            &:focus {
                outline: none;
            }
        }
        &:last-of-type {
            border-right: 0;
        }
    }
}

div.video {
    position: relative;
    background: none repeat scroll 0 0 $dark-grey;

    div.instructions-overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: none repeat scroll 0 0 $dark-grey;
        opacity: 0.95;
        display: block;
        div {
        ul {
            list-style-image: url('../images/subtitle-editor/glyphicons_halflings_006_star.png');
            margin-left: 25px;
        }
        margin: 35px 40px 0px 40px;
        color: white;
        font-size: 12px;
        line-height: 200%;
            h1 {
                line-height: 350%;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
    div.subtitle-overlay {
        position: absolute;
        left: 20px;
        right: 20px;
        padding: 8px 20px;
        text-align: center;
        min-height: 62px;

        &.top {
            top: 30px;
        }
        &.bottom {
            bottom: 63px;
        }

        &.dragging {
            background: rgba($lighter-blue, 0.7);
        }
        &.will-drop {
            background: rgba($lighter-blue, 0.9);
        }

    }
    .subtitle-overlay-text {
        background: rgba(0, 0, 0, .8);
        color: #FFF;
        display: inline-block;
        font: normal 16px/22px Helvetica;
        margin: 0;
        padding: 12px 20px;
        cursor: move;
        text-align: center;
        max-width: 100%;
        width: auto;
        @include border-radius(5px);

        b {
            font-weight: bold;
        }
        i {
            font-style: italic;
        }
        u {
            text-decoration: underline;
        }
    }
    div.video-container {
        height: $video-height;
        width: 100%;
        iframe, video {
            height: $video-height;
            width: 100%;
        }
    }

    ul.video-controls {
        height: 32px;
        background: $dark-grey;
        color: #fff;

        li {
            display: block;
            float: left;
            padding-top: 2px;
            height: 30px;
            line-height: 30px;
            vertical-align: middle;
            text-align: center;
        }
        li a {
            display: block;
            height: 30px;
        }

        li.play-pause {
            float: left;
        }

        li.time, li.volume {
            float: right;
        }

        li.play-pause a {
            width: 48px;
            background: url('../images/editor/play-button.png') center center no-repeat;
        }

        li.play-pause.playing a {
            background-image: url('../images/editor/pause-button.png');
        }

        li.time {
           width: 85px;
        }

        li.volume a {
            width: 40px;
            background: url('../images/editor/volume-icon.png') center center no-repeat;
        }
        
        li.progress {
            float: none;
            margin-left: 48px;
            margin-right: 135px;
            padding-top: 4px;

            div {
                height: 28px;
                background: center center repeat-x;
            }

            // This is kindof tricky because we want to display a
            // sliced image on top of another sliced image.  We create
            // 3 div for the slices and put the background on them,
            // then create an inner div inside each of them and put
            // the forground on them

            .slice-left {
                float: left;
                width: 14px;
                background-image: url('../images/editor/progress-background-left.png');
                div {
                    background-image: url('../images/editor/progress-bar-left.png');
                    width: 0px;
                }
            }
            .slice-right {
                float: right;
                width: 14px;
                background-image: url('../images/editor/progress-background-right.png');
                div {
                    background-image: url('../images/editor/progress-bar-right.png');
                    width: 0px;
                }
            }
            .slice-mid {
                float: none;
                background-image: url('../images/editor/progress-background-middle.png');
                margin: 0px 14px;
                div {
                    background-image: url('../images/editor/progress-bar-middle.png');
                    width: 0px;
                }
            }
        }
    }
    div.volume-bar {
        position: absolute;
        width: 40px;
        height: 110px;
        bottom: 33px;
        right: 85px;
        background: url('../images/editor/volume-background.png') center center no-repeat;
        padding: 10px 0 5px;
        div {
            width: 40px;
            height: 0px;
            background: transparent center top repeat-y;
        }
        div.slice1 {
            background-image: url('../images/editor/volume-bar-top.png');
        }
        div.slice2 {
            background-image: url('../images/editor/volume-bar-middle.png');
        }
        div.slice3 {
            background-image: url('../images/editor/volume-bar-bottom.png');
        }
    }
}
div.workspace-tools {
    background: #E7E8E9;
    border-top: 1px solid #DADBDC;
    position: relative;
    @include multi-box-shadow(
        0, -2px, 2px, rgba(#E0E1E2, 1),
        -2px, 0, 7px, rgba(0, 0, 0, 0.08)
    );

    .heading {
        padding: 10px;
        font-size: 12px;
        line-height: 1.34em;
    }

    div.subtitles-language {
        float: left;
    }
    div.toolbox {
        padding-top: 5px;
        padding-right: 10px;
        float: right;
        div.toolbox-inside:hover ul.toolbox-menu {
          display:block;
        }
        div.toolbox-inside:hover .helper_margin {
          display:block;
        }
        div.toolbox-inside {              
           width: 150px;
           position: relative;
        }
        div.toolbox-inside .active{
          background-color: $lighter-blue;
        }
        div.toolbox-inside > .button-subs {
        outline: none;
        border-radius: 5px;
        background-image: url('../images/subtitle-editor/glyphicons_halflings_135_wrench.png');
        background-position: 10px center;
        background-repeat: no-repeat;
        position: absolute;
        right: 15px;
        padding: 5px 10px 20px 20px;
        cursor: pointer;
        z-index: 70;
        }
        div.toolbox-inside > .button-timing {
        outline: none;
        border-radius: 5px;
        background-image: url('../images/subtitle-editor/glyphicons_halflings_022_time_large.png');
        background-position: 10px center;
        background-repeat: no-repeat;
        position: absolute;
        right: 55px;
        padding: 5px 10px 20px 20px;
        cursor: pointer;
        z-index: 70;
        }
        div.toolbox-inside > .helper_margin {
          display:none;
          position: absolute;
          text-align: left;
          top: 0;
          right: -155px;
          width: 200px;
          height: 240px;
          z-index: 62;
        }


        ul.toolbox-menu-subs {
           right: -200px;
	}
        ul.toolbox-menu-timing, div.toolbox-menu-forward, div.toolbox-menu-backward {
           right: -160px;
	}
        div.toolbox-menu-forward, div.toolbox-menu-backward {
           width:100%;
           color: #DDDDDD;
           padding: 10px;
           padding-left: 28px;
	   h1 {
	       text-decoration: underline;
	    }
	   form {
	       display: inline-block;
               p {
                   font-size: 12px;
                   line-height: 150%;
                   margin-top: 0.5em;
                   &.error {
                     font-size: 10px;
                     color: $reddish-pink;
                   }
	       }
               input[type="text"] {
                 border-radius: 5px;
                 padding: 0;
                 margin: 5px 0;
              }
	   }
	}
        ul.toolbox-menu-subs, ul.toolbox-menu-timing, div.toolbox-menu-forward, div.toolbox-menu-backward {
           &:before {
               position: absolute;
               display: block;
               content: "";
               border-color: transparent $dark-grey transparent transparent;
               border-style: solid;
               border-width: 10px;
               height:0;
               width:0;
               position:absolute;
               top: 0px;
               left: -20px;
           }
           background: $dark-grey;
           position: absolute;
           text-align: left;
           top: 0;
           width: 200px;
           z-index: 70;
           li { 
               list-style-type: none;
               display: inline-block;
               width:100%;
               a {
                   width:100%;
                   color: #DDDDDD;
                   display: inline-block;
                   padding: 10px;
                   padding-left: 28px;
                   text-decoration: none;
                   &.copyover {
                     background: url('../images/subtitle-editor/glyphicons_358_file_import.png') 10px no-repeat;
                   }
                   &.show-timeline {
                     background: url('../images/subtitle-editor/glyphicons_054_clock.png') 10px no-repeat;
                   }
                   &.clear-timing {
                     background: url('../images/subtitle-editor/glyphicons_057_history.png') 10px no-repeat;
                   }
                   &.clear-text {
                     background: url('../images/subtitle-editor/glyphicons_104_text_strike_2.png') 10px no-repeat;
                   }
                   &.clear-empty-subtitles {
                     background: url('../images/subtitle-editor/glyphicons_207_remove_2.png') 10px no-repeat;
                   }
                   &.revert-saved {
                     background: url('../images/subtitle-editor/glyphicons_085_repeat.png') 10px no-repeat;
                   }
                   &.upload-subtitles {
                     background: url('../images/subtitle-editor/glyphicons_419_disk_export.png') 10px no-repeat;
                   }
                   &.show-warnings {
                     background: url('../images/subtitle-editor/glyphicons_196_circle_exclamation_mark.png') 10px no-repeat;
                   }
                   &.show-tutorial {
                     background: url('../images/subtitle-editor/glyphicons_194_circle_question_mark.png') 10px no-repeat;
                   }
                   &.shift-forward {
                     background: url('../images/subtitle-editor/glyphicons_176_forward.png') 10px no-repeat;
                   }
                   &.shift-backward {
                     background: url('../images/subtitle-editor/glyphicons_172_rewind.png') 10px no-repeat;
                   }
                   &.undo {
                     background: url('../images/subtitle-editor/glyphicons_435_undo.png') 10px no-repeat;
                   }
                   &.redo {
                     background: url('../images/subtitle-editor/glyphicons_434_redo.png') 10px no-repeat;
                   }
                   &:hover:not(.disabled) {
                      background: #C5C5C5;
                      color: $dark-grey;
                   }
                   &.disabled {
                     background-color: $dark-grey;
                     color: #888;
                   }
                  }
              }
        }
    }
    div.switches {
        float: right;

        a {
            background: transparent url('../images/editor/icons.png') top left no-repeat;
            color: #7A7B7C;
            display: inline-block;
            padding: 10px;
            padding-left: 22px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
            &.timeline-display {
                background-position: left -88px;
            }
            &.copyover-display {
                background-position: left -88px;
            }
            &.video-display {
                background-position: left -63px;
            }
        }
    }
}

div.workflow {
    h2 {
        font-size: 20px;
        margin-bottom: 1em;
        line-height: 1.2em;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
        line-height: 150%;
        margin-top: 0.5em;

        &.error {
            font-size: 10px;
            color: $reddish-pink;
	    a {
                color: inherit;
	    }
        }
    }

    a.edit-metadata {
        margin-top: 0.5em;
        color: $blue;
    }

    &.review {
        padding: 2em;

        a.edit-metadata {
            color: $lighter-blue;
        }

        .actions {
            button {
                margin-right: 10px;
            }
            position: absolute;
            bottom: 1em;
            left: 2em;
            right: 2em;
        }
    }

    ol {
        list-style: decimal outside;
        padding: 0.5em 0;
    }

    li {
        padding: 0.75em 0;
        margin: 0 2em;
        border-bottom: 1px solid #DADBDC;
        font-size: 16px;

        &:last-of-type {
            border-bottom: none;
        }

        &.active {
            color: #313233;

            h3 {
                color: #222;
            }
        }

        &.inactive {
            color: #767879;

            p, button {
                display: none;
            }
        }
    }


    button {
        @include big-button;
        margin-top: 10px;
        background: $light-blue;
    }

    &.review button {
        padding: 10px;
    }

    button {

        &.send-back {
            background-color: #d24655;
            background-image: url("../images/thumbs-down.png");
            background-position: 10px center;
            background-repeat: no-repeat;
            padding-left: 30px;
        }

        &.endorse {
            background-image: url('../images/thumbs-up.png');
            background-position: 10px center;
            background-repeat: no-repeat;
            padding-left: 30px;
        }

        &.disabled {
            background-color: $semi-dark-grey;
            border-color: $semi-dark-grey;
            cursor: default;
        }
    }



}

// Timeline mode
div.timeline {
    background: #1a1a1a;
    overflow: hidden;
    z-index: 51;
    div.subtitle {
        background: #DADBDC;
        font-size: 11px;
        height: 28px;
        overflow: hidden;
        position: absolute;
        top: 10px;
        @include border-radius(3px);

        .timeline-subtitle-text {
            padding: 7px 12px;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            white-space: nowrap;
        }
        .handle {
            height: 100%;
            position: absolute;
            top: 0;
            width: 6px;
            &.left {
                background: #3E8982;
                left: 0;
                @include multi-border-radius(3px, 0, 0, 3px);
                    
                &:before {
                    background: #3E8982;
                    content: "";
                    display: block;
                    height: 12px;
                    left: -3px;
                    position: absolute;
                    top: 8px;
                    width: 12px;
                    @include border-radius(12px);
                }
                &:after {
                    content: "";
                    display: block;
                    height: 100%;
                    width: 12px;
                }
            }
            &.right {
                background: #A2A3A4;
                right: 0;
                @include multi-border-radius(0, 3px, 3px, 0);

                &:before {
                    background: #A2A3A4;
                    content: "";
                    display: block;
                    height: 12px;
                    position: absolute;
                    right: -3px;
                    top: 8px;
                    width: 12px;
                    @include border-radius(12px);
                }
                &:after {
                    content: "";
                    display: block;
                    height: 100%;
                    width: 12px;
                    position: absolute;
                    left: -6px;
                }
             }
         }
    }
    div.nextSubSticker {
        height: 100%;
        width: 150px;
        padding-left: 5px;
        background-color: $dark-grey;
        float: right;
        position: relative;
        div.subtitle {
            width: 150px;
            background-color: $semi-dark-grey;
        }
    }
    div.current-time-marker {
        content: "";
        display: block;
        height: $timeline-height;
        left: 50%;
        position: absolute;
        width: 0;
        z-index: 54;
        border-right: 1px solid #FC0D1B;
    }
    div.subtitles-container {
        height: $timeline-height;
        position: absolute;
        top: 0;
        width: 100%;
        .subtitle {
            span {
                cursor: move;
            }
            .handle {
                cursor: col-resize;
            }
        }
        div.unsynced {
            background: #FEFFE2;
        }
    }
    canvas.timing {
        position: absolute;
        top: 0;
        left: 0;
        height: $timeline-height;
        width: 100px;
    }
}

// Modal dialogs

#modal-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.6);
    z-index: 99;

    &.shown {
        display: block;
    }
}

#set-title-modal {
    label, textarea {
        display: block;
        width: 100%;
    }
    label {
// Styling of the new modals
//.modal-style {
//    @extend %modal;    
//    background: rgba(black, .6);
//    color: #F1F1F1;
//    div.modal-inner {
//      padding: 40px;
//      background: $dark-grey;
//      .modal-content {max-height: 385px;}
//      div,
//      footer,
//      header {
//        border: none;
//        background: $dark-grey;
//      }
//      h1 {
        font: normal 17px $Helvetica;
        margin: 12px 0 6px 0;

        &:first-of-type {
            margin-top: 0;
        }
    }
    textarea {
        font: normal 12px $OpenSans;
        background: #E3E6E9;
        margin: 0 0 5px 0;
        padding: 10px;

        &.refarea {
            background: #555;
            color: #F1F1F1;
            border: none;
        }
    }

}

aside.freeze-box {
    display: none;
    position: fixed;
    left: 25%;
    top: 20%;
    width: 50%;
    height: 100px;
    margin: -50px 0 0 0;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0, 0, 30px, rgba(black, .4);
    background: $dark-grey;
    z-index: 12000;
    color: #F1F1F1;

    h1 {
        text-align: center;
        vertical-align: middle;
        font: normal 20px $OpenSans;
        line-height: 100px;
    }

    &.shown {
        display: block;
    }
}

aside.freeze-box#loading {
    display: block;
}

body.loading-finished aside.freeze-box#loading {
    display: none;
}

aside.overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 11000;
    &.shown {
        display: block;
    }
}

aside.overlay#tutorial {
    display: none;
}

body.tutorial-shown aside.overlay#tutorial {
    display: block;
}

aside.modal {
    textarea.dfxp-string {
        background: #E3E6E9;
        font: normal 12px monospace;
        height: 100px;
        margin-bottom: 5px;
        margin-top: 0;
        padding: 10px;
        width: 100%;
        @include border-radius(3px);
    }
    h3 {
        margin: 20px 0;
    }
    button {
        @include big-button;
    }
    a {
        color: white;
        &.expand-link {
            text-decoration: none;
            padding: 10px 0px 10px 0px;
            line-height: 30px;
            font-size: 14px;
            font-weight: bold;
        }
    }
    .error {
        color: red;
        font-size: 14px;
        font-weight: bold;
    }
    table td, th {
        padding: 8px;
        font-size: 12px;
    }
    footer.buttons {
        button.last-chance {
            background: none;
            color: #4398C5;

            &:hover {
                text-decoration: underline;
                border: 1px solid transparent;
            }
        }
    }
}

aside.modal#guidelines-modal {
    width: 600px;
    div.modal-content {
        margin: 15px 0;
        div.team-all-guidelines div {
            padding: 15px 0;
        }
    }
}

aside.modal#playback-mode-modal {
    div.modal-content {
        select {
            width: 100%;
        }
    }
}

.warning {
    color: $warning-color;
    font-size: 10px;
}
.warningText {
    color: $warning-color;
    font-size: 14px;
}

aside#tutorial {
  div {
    color: white;
    text-align: center;
    background: $teal-tutorial;
    h1 {
      font-size: 16px;
      line-height: 1.6em;
    }
    h2 {
      font-size: 12px;
    }
  }
  div.bubble {
    padding: 0 10px 10px 10px;
    position: absolute;
  }
  div.tut-play {
    width: 210px;
    top: 140px;
    left: 10%;
    &:before {
        @include triangle-top($teal-tutorial);
        top: -33px;
    }
  }
  div.typing {
    width: 240px;
    top: $top-section-height - $tutorial-banner-height + 40px;
    left: 45%;
    &:before {
        @include triangle-bottom($teal-tutorial);
	left: 0px;
	top: 98px;
    }
  }
  div.done {
    width: 220px;
    top: 90px;
    left: 60%;
    &:before {
        @include triangle-right($teal-tutorial);
	left: 110px;
	top: 25px;
    }
  }
  div.tut-review-1 {
    width: 250px;
    top: 165px;
    left: 3%;
    &:before {
        @include triangle-bottom($teal-tutorial);
	left: 0px;
	top: 84px;
    }
  }
  div.tut-review-2 {
    width: 330px;
    top: 282px;
    left: 20%;
    &:before {
        @include triangle-right($teal-tutorial);
	left: 170px;
	top: 22px;
    }
  }
  div.tut-review-3 {
    width: 280px;
    top: 205px;
    left: 52%;
    &:before {
        @include triangle-right($teal-tutorial);
	left: 145px;
	top: 22px;
    }
  }
  div.tut-trans-type-ref {
    width: 260px;
    top: 335px;
    left: 4%;
    &:before {
        @include triangle-top($teal-tutorial);
        left: 0;
        top: -34px;
    }
  }
  div.tut-trans-type-2 {
    width: 260px;
    top: 380px;
    left: 40%;
    &:before {
        @include triangle-top($teal-tutorial);
        left: 0;
        top: -34px;
    }
  }

  div.tut-trans-type-3 {
    width: 180px;
    top: 165px;
    left: 74%;
    &:before {
        @include triangle-top($teal-tutorial);
        left: 0;
        top: -34px;
    }
  }
  div.subtitlessync {
    width: 320px;
    top: 240px;
    left: 3%;
    &:before {
        @include triangle-top($teal-tutorial);
        left: 0;
        top: -34px;
    }
  }
  div.synctools {
    width: 280px;
    top: 410px;
    left: 60%;
    &:before {
        @include triangle-top($teal-tutorial);
        left: 0;
        top: -34px;
    }
  }
  div.tut-sync-3 {
    width: 260px;
    top: 130px;
    left: 54%;
    &:after {
        @include triangle-right($teal-tutorial);
        top: -15px;
        left: 140px;
    }
  }
  div.banner {
    position: absolute;
    padding: 18px 0;
    top: $tutorial-top;
    left: 0;
    right: 0;
    div.badge {
    position: relative;
    top: -10px;
    float: right;
    }
    img {
      vertical-align: top;
    }
  }
}

div.sub-toolbox {
    padding-top: 5px;
    padding-right: 10px;
    float: right;
    div.sub-toolbox-inside:hover ul.sub-toolbox-menu {
        display:block;
        @include border-radius(6px);
        background-color: $light-grey-highlight;
    }
    div.sub-toolbox-inside {
       width: 150px;
       position: relative;
    }
    div.sub-toolbox-inside > a {
        color: black;
        font-weight: 900;
        font-size: 18px;
        line-height: 1.34em;
        text-decoration: none;
        text-align: right;
        position: absolute;
        right: 20px;
        padding: 8px 0px 10px 20px;
    }
    ul.sub-toolbox-menu {
        list-style: none;
        display:none;
        position: absolute;
        text-align: left;
        top: 0;
        right: -90px;
        width: 130px;
        z-index: 62;
        li {
            list-style-type: none;
            display: inline;
            width:100%;
            a {
                padding: 0 12px;
                &.jump-to {
                    background: url('../images/subtitle-editor/glyphicons_halflings_160_log_in.png') 6px no-repeat;
                }
                &.insert-top {
                    background: url('../images/subtitle-editor/glyphicons_halflings_132_circle-arrow-top.png') 6px no-repeat;
                }
                &.insert-down {
                    background: url('../images/subtitle-editor/glyphicons_halflings_133_circle-arrow-down.png') 6px no-repeat;
                }
                &.remove {
                    background: url('../images/subtitle-editor/glyphicons_halflings_087_remove-circle.png') 6px no-repeat;
                }
                &.note-time {
                    background: url('../images/subtitle-editor/glyphicons_halflings_022_time.png') 6px no-repeat;
                }
                &:hover {
                    @include border-radius(6px);
		    border: 1px solid $semi-dark-grey;
                }
            }
        }
    }
}

// Forms and fields
label {
    display: block;
    font-size: 14px;
}

.formControl {
    padding-bottom: 20px;
}

input {
    color: $dark-grey;
    background: $light-grey;
    border: none;
}
input[disabled] {
    color: lighten($dark-grey, 40%);
    background: $medium-grey;
}
.durationPicker {
    background: $light-grey;
    color: $medium-grey;
    display: inline-block;

    &.disabled {
        color: lighten($dark-grey, 40%);
        background: $medium-grey;
    }
}
.durationPicker-input {
    margin-left: 8px;
    margin-right: 1px;
    text-align: right;
    &:first-of-type {
        margin-left: 0;
    }
    &.invalid {
        color: $reddish-pink;
    }
}

.formHelp {
    font-size: 14px;
}

.min-lines-3 {
    min-height: ($line-height-text * 3) * 1em;
}

.min-lines-2 {
    min-height: ($line-height-text * 3) * 1em;
}
