{% load i18n %}

<ul class="tabs">
    <li{% if current == "activity" %} class="current" {% endif %}>
        <a href="{{ user_info.get_absolute_url }}">
            {% trans "Activity" %}
        </a>
    </li>
    <li{% if current == "videos" %} class="current" {% endif %}>
        <a href="{% url "profiles:videos" user_info.username %}">
            {% trans "Videos" %}
        </a>
    </li>
    {% if user.is_authenticated and user == user_info %}
        <li{% if current == "profile" %} class="current" {% endif %}>
            <a href="{% url "profiles:edit" %}">
                {% trans "Personal Info" %}
            </a>
        </li>
        <li{% if current == "account" %} class="current" {% endif %}>
            <a href="{% url "profiles:account" %}">
                {% trans "Account" %}
            </a>
        </li>
    {% endif %}
</ul>
