{% extends "base.html" %}

{% load to_json i18n messages_tags media_bundle recent_activity auth_tags profiles_tags teams_tags old_query_string videos_tags %}

{% block body_attrs %}class="v1 dashboard"{% endblock %}
{% block html_attrs %}id="user_dashboard"{% endblock %}

{% block title %}{% trans "Dashboard" %} | {{ user_info }} | Amara{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% media_bundle "teams.js" %}
    <script src="{% url "teams:rpc_api" %}" type="text/javascript"></script>
{% endblock %}

{% block main_content %}


    <div class="view grid_8 push_2 alpha">
        <h2>Hey {{ user }}!</h2>

        {% if user.unread_messages_count > 0 %}
            <div class="section messages">
                <p>
                    {% trans "You have " %}
                    <a href="{% url "messages:inbox" %}" title="{% trans 'Go to your inbox' %}" class="messages">
                        {{ user.unread_messages_count }}
                        {% trans "unread message" %}{{ user.unread_messages_count|pluralize }}
                    </a>
                </p>
            </div>
        {% endif %}
        {% if user_dashboard_extra %}
            <div class="section">
	      {% for item in user_dashboard_extra %}
              <h3>{{ item.head }}</h3>
                <ul class="listing">
                    {% for list_item in item.bodies %}
                    <li>{{ list_item|safe }}</li>
		    {% endfor %}
		</ul>
		{% endfor %}
		<a href="{% url "profiles:dashboard" %}?more_extra_items={{ more_items }}">{% trans "Show More" %}</a>
	    </div>
	{% endif %}
        {% if tasks %}
            <div class="section">
                <h3>{% trans "Videos you're working on" %}</h3>
                <ul class="listing tasks">
                    {% for task in tasks %}
                        <li>
                            <a href="{{ task.team_video.video.get_absolute_url }}" title="{{ task.team_video.video.title }}"><img src="{{ task.team_video.video.get_small_thumbnail }}" alt="{{ task.team_video.video.title_display }}"></a>
                            <h4>
                                {{ task.team_video.video.title_display }}
                            </h4>
                            <p>
                                <a href="{{ task.team.get_absolute_url }}">{{ task.team }}</a>
                            </p>
                            <ul>
                                <li>
                                    <a class="perform" href="{{ task.get_perform_url }}">
                                    {% if task.get_type_display == "Subtitle" or task.get_type_display == "Translate"%}
                                        {% blocktrans with language=task.get_language_display %}Create {{ language }} subtitles{% endblocktrans %}
                                    {% else %}
                                        {% blocktrans with language=task.get_language_display task_action=task.get_type_display %}{{ task_action}} {{ language }} subtitles{% endblocktrans %}
                                    {% endif %}
                                    </a>
                                </li>
                                {% with can_decline=task|can_decline_task:user %}
                                    {% if can_decline %}
                                        <li>
                                            <a href="#" class="action-decline">{% trans "I can't do this" %}</a>
                                            <form class="hidden" action="{% url "teams:assign_task" slug=task.team.slug %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="next" value="{{ request.path }}{% query_string request.GET %}" />
                                                <input type="hidden" name="task" value="{{ task.id }}" />
                                                <input type="hidden" name="assignee" value="" />
                                                <input type="submit" class="submit" value="Decline Task" name="" id="decline-submit" />
                                            </form>
                                        </li>
                                    {% endif %}
                                {% endwith %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="section">
            <h3>{% trans "Activity on your videos" %}</h3>
            {% if video_activity %}
                <ul class="listing activity">
                    {% for record in video_activity %}
                    <li>{% include "activity/old_record.html" %}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="prompt">
                    {% with user.videos.all as user_vids %}
                        {% if user_vids %}
                            {% blocktrans %}
                                Nothing happening yet.
                            {% endblocktrans %}
                        {% else %}
                            {% blocktrans %}
                                You haven't shared any videos yet.
                            {% endblocktrans %}
                            <a href="{% url "videos:create" %}">Add one now!</a>
                        {% endif %}
                    {% endwith %}
                </p>
            {% endif %}
        </div>

        <div class="section">
            <h3>{% trans "Activity in your teams" %}</h3>
            {% if team_activity %}
                <ul class="listing activity">
                    {% for record in team_activity %}
                    <li>{% include "activity/old_record.html" %}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="prompt">
                    {% with user.teams.all as user_teams %}
                        {% if user_teams %}
                            {% blocktrans %}
                                All's quiet in your teams so far.
                            {% endblocktrans %}
                        {% else %}
                            {% blocktrans %}
                                You haven't joined any teams yet.
                            {% endblocktrans %}
                            <a href="http://blog.universalsubtitles.org/volunteer/">Volunteer now!</a>
                        {% endif %}
                    {% endwith %}
                </p>
            {% endif %}
        </div>
    </div>

{% endblock %}
