{% extends "profiles/base.html" %}

{% load i18n auth_tags profiles_tags %}

{% block title %}{% trans "Edit Profile" %} | Amara{% endblock %}

{% block email_confirmation_block %}
    {% email_confirmation_notification 'true' %}
{% endblock %}

{% block view_content %}

    {% with 'profile' as current %}
        {% include 'profiles/_tabs.html' %}
    {% endwith %}

	<h3 class="tab-heading">{% trans "Languages you can caption or translate" %}</h3>
	<fieldset>
	  <div>
	    <a href="#" data-modal="language_modal" id="lang_select_btn">{% trans "Specify or update your languages" %}</a>
	  </div>
	  <div>
	    {% block select_language_dialog %}
	    {% select_language_dialog hide_link="True" show_current="True" %}
	    {% endblock %}
	  </div>
	</fieldset>
    <form class="edit_profile" action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <h3>{% trans "Name" %}</h3>
        <fieldset>
            <div class="grid_4 alpha">
                {% include "_form_field.html" with field=form.first_name %}
            </div>
            <div class="grid_4 omega">
                {% include "_form_field.html" with field=form.last_name %}
            </div>
        </fieldset>
        <h3>{% trans "About you" %}</h3>
        <div class="grid_4 alpha">
            <fieldset>
                {% include "_form_field.html" with field=form.biography %}
               
                {% include "_form_field.html" with field=form.homepage %}

                {% if user.is_staff %}
                    {% include "_form_field.html" with field=form.pay_rate_code %}
                {% endif %}
            </fieldset>
        </div>
        <div class="grid_4 omega">
            <fieldset>
                <label>{% trans "Photo" %}</label>
                <div class="avatar-container">
                    <div class="remove"{% if not user_info.picture %} style="display: none;"{% endif %}>
                        <img class="avatar" src="{{ user_info.avatar }}"/>
                        <div><a class="remove-avatar" href="#">{% trans 'Remove current photo' %}</a></div>
                    </div>
                    <div class="add"{% if user_info.picture %} style="display: none;"{% endif %}>
                        <input type="file" id="id_picture" name="picture" size="6"/>      
                    </div>
                    <div class="error_list" id="picture-errors">
                    {{ form.picture.errors }}
                    </div>
                </div>
            </fieldset>             
        </div>

        <div class="submit">
            <button class="button save" type="submit" value="Save">
                {% trans 'Save Changes' %}
            </button>
        </div>
    </form>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery(function($){
            var showMessage = function(msg){
                $('#messages').remove();
                $('.content').prepend('<div id="messages"><p>' + msg + '</p><a href="#" id="closeBut" style="display: block; float: right;">x</a></div>');
            };
            $('#id_picture').change(function(){
                $('.edit_profile').ajaxSubmit({
                    url: '{% url "profiles:edit_avatar" %}',
                    dataType: 'json',
                    success: function(response){
                        if(response.status != 'error'){
                            $('.avatar').attr('src', response.avatar);
                            $('.avatar-container .remove').show();
                            $('.avatar-container .add').hide();
                        }
                        $('#picture-errors').html('');
                        showMessage(response.message);
                    },
                    error: function(response){
                        $('#picture-errors').html('');
                        showMessage(response.error);
                    },
                    beforeSubmit: function(arr, $form, options) { 
                        $('#picture-errors').html('{% trans "Saving..." %}');
                    }                    
                });
            });
            $('.remove-avatar').click(function(){
                if(confirm('{% trans "Do you really want to delete your photo?" %}')){
                    $.ajax({
                        type: "POST",
                        url: '{% url "profiles:remove_avatar" %}',
                        data: {remove: true},
                        success: function(response){
                            console.log(response);
                            $('.avatar').attr('src', response.avatar);
                            $('.avatar-container .remove').hide();
                            $('.avatar-container .add').show();
                            $('#id_picture').val('');
                            showMessage(response.message);
                        },
                        error: function(response){
                            showMessage(response.error);
                        },
                        dataType: 'json'
                    });
                }
                return false;
            });
        });
    </script>
{% endblock %}
