{% extends "profiles/base.html" %}

{% load i18n messages_tags profiles_tags recent_activity paginator %}

{% block title %}{{ user_info }} | Amara{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% url "messages:rpc_api" %}" type="text/javascript"></script>  
{% endblock %}

{% block view_content %}
    {% with 'activity' as current %}
        {% include 'profiles/_tabs.html' %}
    {% endwith %}
    {% if user_info.is_active %}
        {% if activity_list %}
            <ul class="listing activity">
                {% for record in activity_list %}
                <li>{% include "activity/old_record.html" %}</li>
                {% endfor %}
            </ul>
            {% if is_paginated %}{% paginator %}{% endif %}
        {% else %}
            <p class="empty">{{ user_info }} {% trans "doesn't have any activity yet." %}</p>
        {% endif %}
    {% else %}
        <p class="empty">{% trans 'Profile deleted by user.' %}</p>
    {% endif %}
{% endblock %}

{% block left_column_extra %}
{% if form %}
    <h3>{% trans "Edit" %}</h3>

    <form class="admin-edit-user" action="" method="post" >
        {% csrf_token %}
        {{ form.non_field_errors }}
        <fieldset>
            {% include "_form_field.html" with field=form.pay_rate_code %}
        </fieldset>

        <div class="submit">
            <button class="button save" type="submit" value="Save">
                {% trans 'Save Changes' %}
            </button>
        </div>
    </form>
{% endif %}
{% endblock %}

{% block page_controls %}
    {% if user.is_staff and perms.videos.edit_video %}
        <ul id="page_controls">
            <li>
                <a href="{% url "admin:amara_auth_customuser_change" user_info.pk %}" target="blank">{% trans 'Edit user' %}</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
