{% extends "new-teams/base.html" %}

{% load i18n %}

{% block content %}
<h2>{% blocktrans %}{{ team }}: Languages{% endblocktrans %}</h2>
<table>
  <thead>
    <tr>
      <th>{% trans "Language" %}</th>
      <th>{% trans "Videos" %}</th>
      <th>{% trans "Completed Subtitles" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for code, name, video_count, completed_count in languages %}
    <tr>
      <td><a href="{% url "teams:language-page" team.slug code %}">{{ name }}</a></td>
      <td>{{ video_count }}</td>
      <td>{{ completed_count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

