{% extends "hands_base.html" %}

{% load i18n teams_tags media_bundle %}

{% block html_attrs %}id="login"{% endblock %}
{% block main_content %}

<script>
  document.facebook_app_public_id = "{{ app_id }}";
  document.facebook_login_confirm = "{{ facebook_login_confirm }}";
</script>

{% media_bundle "login.js" %}

<div id="login-bg" class="top-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="create-account" class="sso">
          <form class="auth-form" action="" method="post">
              <h2>{% trans "Create an Account" %}</h2>
              <h5>
              	{% blocktrans %}
              		You are one step away from joining the subtitling team of {{ team_name }}!
              	{% endblocktrans %}
              </h5>
              {% csrf_token %}
              <ul class="create-account-form">
                {{ creation_form.as_ul }}
                <li>
                  <button type="submit" value="create account"  class="green_button big">{% trans 'Create Account' %}</button>
                </li>
              </ul>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
