{% extends "new-teams/base.html" %}

{% load i18n %}

{% block content %}

<h2>{% trans "Invite members" %}</h2>
<form method="post" action="" class="team-invite">
  {% csrf_token %}
  {% include "_error-list.html" with errors=form.non_field_errors %}
  {% include "_field.html" with field=form.username %}
  {% include "_field.html" with field=form.email %}
  {% include "_field.html" with field=form.message %}
  {% include "_field.html" with field=form.role %}

  <div class="actions">
    <button class="submit">{% trans "Invite" %}</button>
  </div>
</form>

{% endblock %}
