{% load i18n videos_tags %}
<div class="main team-landing-page">
  {% if videos %}
  <h5>{% trans "Latest Videos" %}</h5>
  <ul class="thumb-list">
    {% for video in videos %}
    <li>
    <div class="thumb">
      <img src="{{ video.get_wide_thumbnail }}" alt="{{ video.title_display }}">
      {% if video.duration %}<div class="badge">{{ video.duration|format_duration }}</div>{% endif %}
      {% if bulk_mode_enabled %}
      <input class="selection" type="checkbox" name="team_videos" value="{{ team_video.id }}">
      {% endif %}
        </div>
    <div class="extra-info">{{ video.get_primary_audio_language_code_display }}</div>
    <h6 class="one-line">
      <a href="{% url "videos:video" video_id=video.video_id %}">{{ video.title_display }}</a>
    </h6>
    {% with description=video.description|urlize|linebreaks %}
    <div class="three-lines">{{ description }}</div>
    {% endwith %}
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p class="empty">{% trans "No Videos found" %}</p>
  {% endif %}
</div>
