{% extends "new-teams/base.html" %}

{% load i18n %}

{% block content %}
<h2>{% blocktrans %}{{ team }}: {{ language }}{% endblocktrans %}</h2>
<div class="split-view">
  <div class="sidebar">
    <div class="section">
      <h5>{% trans "Managers" %}</h5>
      {% if managers %}
      <ul class="team-managers">
        {% for manager in managers %}
        <li>
        {% if remove_manager_form %}
        <button class="open-modal remove" data-modal="remove-manager-form" data-heading="{% blocktrans %}Remove Language Manager: {{ manager }}{% endblocktrans %}" data-set-form-values='{"member": "{{ manager.user.username }}"}'><span class="fa fa-remove"></span></button>
        {% endif %}
        <a href="{{ manager.user.send_message_url }}" title="{% blocktrans with user=manager.user %}Send {{ user }} a message{% endblocktrans %}">{{ manager }}</a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p class="empty">{% trans "No managers" %}</p>
      {% endif %}
      {% if add_manager_form %}
      <div class="tools"><button class="open-modal medium" data-modal="add-manager-form">{% trans "Add Manager" %}</button></div>
      {% endif %}
    </div>
    {% block sidebar-extra %}{% endblock %}
  </div>
  {% block main %}{% include "new-teams/landing-page.html" %}{% endblock %}
</div>
{% endblock %}

{% block bottom %}
{% if add_manager_form %}
<aside class="modal{% if add_manager_form.errors %} start-open {% endif %}" id="add-manager-form">
  <h3>{% trans "Add Language Manager" %}</h3>
  <button class="close"></button>
  <form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="form" value="add">
    {% include "_field.html" with field=add_manager_form.member %}
    <footer class="buttons">
      <button>{% trans "Add Manager" %}</button>
    </footer>
  </form>
</aside>
{% endif %}

{% if remove_manager_form %}
<aside class="modal" id="remove-manager-form">
  <h3></h3>
  <button class="close"></button>
  <p>{% trans "Are you sure you want to remove this manager?" %}</p>
  <form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="form" value="remove">
    <input type="hidden" name="member">
    <footer class="buttons">
      <button>{% trans "Remove" %}</button>
    </footer>
  </form>
</aside>
{% endif %}
{% endblock %}
