{% extends "new-teams/base.html" %}

{% load i18n %}

{% block content %}

<h2>{% blocktrans %}Members for {{ team }}{% endblocktrans %}</h2>
<div class="split-view">
  <div class="filters sidebar">
    <div class="section">
      <h5>{% trans "Filter and Sort" %}</h5>
      <form method="GET" action="">
        {% include "_field.html" with field=filters_form.q %}
        {% include "_field.html" with field=filters_form.role %}
        {% include "_field.html" with field=filters_form.language %}
        {% include "_field.html" with field=filters_form.sort %}

        <div class="actions">
          <button class="submit">Filter</button>
          {% if filters_form.is_bound %}
          <a href="{% url "teams:members" team.slug %}" class="button cancel">Clear</a>
          {% endif %}
        </div>
      </form>
    </div>
    <div class="section tools">
      {% if show_invite_link %}
      <a href="{% url "teams:invite" team.slug %}" class="button">{% trans "Invite Member" %}</a>
      {% endif %}
      {% if show_add_link %}
      <a href="{% url "teams:add-members" team.slug %}" class="button">{% trans "Add Members" %}</a>
      {% endif %}
    </div>
  </div>
  <div class="main">
    {% if page %}
    <ul class="card-list team-members">
    {% for member in page %}
      <li>
        <h4><a href="{{ member.get_absolute_url }}">{{ member.user }}</a></h4>
        <a href="{{ member.get_absolute_url }}" class="thumb"><img src="{{ member.user.avatar }}" alt="{% blocktrans with user=member.user %}{{ user }} avatar{% endblocktrans %}"></a>
        <table class="key-value">
          <tr>
            <td>{% trans "Role" %}</td>
            <td>{{ member.get_role_display }}</td>
          </tr>
          {% if member.languages_managed.all or member.projects_managed.all %}
          <tr>
            <td>{% trans "Manager for" %}</td>
            <td>
              {% for language in member.languages_managed.all %}
              {{ language.get_code_display }}
              {% endfor %}
              {% for project in member.projects_managed.all %}
              {{ project }}
              {% endfor %}
            </td>
          </tr>
          {% endif %}
          <tr>
            <td>{% trans "Languages" %}</td>
            <td>
              {% if member.user.get_languages %}
              {% for lang in member.user.get_language_names %}
              {{ lang }}{% if not forloop.last %},{% endif %}
              {% endfor %}
              {% else %}
              <p class="empty">{% trans "None set" %}</p>
              {% endif %}
            </td>
          </tr>
        </table>
        <ul class="actions">
          <li><a class="medium" href="{{ member.user.send_message_url }}">{% trans "Send message" %}</a></li>
          {% if member.id in edit_form.editable_member_ids %}
          <li><a class="medium edit" data-set-form-values='{"member": {{ member.id }}, "role":"{{ member.role }}"}' data-name="{{ member.user.display_name }}" href="#">{% trans "Edit membership" %}</a></li>
          {% endif %}
        </ul>
      </li>
    {% endfor %}
    </ul>
    {% include "_new_paginator.html" %}
    {% else %}
    <p class="empty">{% trans "No members found" %}</p>
    {% endif %}
  </div>
</div>
{% if edit_form.editable_member_ids %}
<aside class="modal" id="edit-form">
  <h3>{% trans "Edit Team Membership" %}<span class="subheading name"></span></h3>
  <form action="" method="POST">
    {% csrf_token %}
    <button class="close"></button>
    <input id="member-id" type="hidden" name="member">
    {% include "_field.html" with field=edit_form.role %}
    <footer class="buttons">
      <button>{% trans "Update" %}</button>
      {% if edit_form.show_remove_button %}
      <button class="delete" name="remove" value="1">{% trans "Remove member" %}</button>
      {% endif %}
    </footer>
  </form>
</aside>
{% endif %}
{% endblock %}
