{% extends "new-teams/base.html" %}
{% load i18n %}

{% block content %}

<h2>{% trans "Team Settings" %}</h2>
<form class="settings" enctype="multipart/form-data" method="POST" action="">
  {% csrf_token %}

  <fieldset>
    <legend>{% trans "Team Details" %}</legend>

    {% if form.name %}
    {% include "_field.html" with field=form.name %}
    {% else %}
    <input type="text" value="{{ team.name }}" disabled="disabled" />
    {% endif %}
    {% include "_field.html" with field=form.description %}
    {% include "_field.html" with field=form.is_visible %}
    {% include "_field.html" with field=form.sync_metadata %}
  </fieldset>

  <fieldset class="assets group">
    <legend>{% trans "Assets" %}</legend>

    <div>
      {% include "_field.html" with field=form.logo %}
      {% if team.logo %}
      <img src="{{ team.logo_thumbnail_medium }}">
      {% endif %}
    </div>

    <div>
      {% include "_field.html" with field=form.square_logo %}
      {% if team.square_logo %}
      <img src="{{ team.square_logo_thumbnail_medium }}">
      {% endif %}
    </div>
  </fieldset>

  <div class="actions">
    <button class="submit">{% trans "Save Changes" %} <span class="fa fa-angle-double-right"></span></button>
  </div>
</form>
{% endblock %}
