{% extends "new-teams/base.html" %}
{% load i18n l10n %}

{% block content %}

<h2>{% trans "Team Settings - Video Feeds" %}</h2>

{% if feeds %}
<table>
  <tr>
    <th>{% trans "URL" %}</th>
    <th>{% trans "Last import attempt" %}</th>
    <th></th>
  </tr>
  {% for feed in feeds %}
  <tr>
    <td>{{ feed.url }}</td>
    <td>{{ feed.last_update|localize }}</td>
    <td class="actions">
      <form method="post" action="">
        {% csrf_token %}
        <input type="hidden" name="action" value="import">
        <input type="hidden" name="feed" value="{{ feed.id }}">
        <button name="import" class="medium primary">{% trans "import now" %}</button>
      </form>
      <a class="button medium delete open-modal" data-modal="confirm-delete" data-heading="{% trans "Are you sure you want to delete this feed?" %}" data-text="{{ feed.url }}" data-set-form-values='{"feed": {{ feed.id}} }'>{% trans "delete" %}</button>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p class="empty">{% trans 'This team does not have any video feeds yet' %}</p>
{% endif %}

<a class="button open-modal" data-modal="add-form">{% trans 'Add Video Feed' %}</a>

<aside class="modal" id="add-form">
  <form method="post" action="">
    {% csrf_token %}
    <h3>{% trans "Add Video Feed" %}</h3>

    <input type="hidden" name="action" value="add">
    {% include "_field.html" with field=add_form.feed_url %}

    <footer class="buttons">
      <button>{% trans "Add" %}</button>
    </footer>
  </form>
</aside>

<aside class="modal" id="confirm-delete">
  <form method="post" action="">
    {% csrf_token %}
    <input type="hidden" name="action" value="delete">
    <input type="hidden" name="feed">

    <h3></h3>
    <p class="text"></p>

    <footer class="buttons">
      <button>{% trans "Delete" %}</button>
    </footer>
  </form>
</aside>
{% endblock %}
