{% extends "new-teams/base.html" %}
{% load i18n %}

{% block content %}

<h2>{% trans "Team Settings - Projects" %}</h2>

{% if projects %}
<table>
  {% for project in projects %}
  <tr>
    <td><h4>{{ project.name }}</h4></td>
    <td class="actions">
      {% if request.user.is_staff %}
      <a class="button small copy-text" data-text="{{ project.slug }}">{% trans "copy slug" %}</a>
      {% endif %}
      <a class="open-modal button small" href="#" data-clear-errors="1" data-modal="edit-form" data-heading="{% blocktrans with name=project.name %}Edit project: {{ name }}{% endblocktrans %}" data-set-form-values='{"project": {{ project.id }}, "name": "{{ project.name }}", "description": "{{ project.description }}"}' >{% trans "edit" %}</a>
      <a class="open-modal button small delete" href="#" data-modal="delete-form" data-heading="{% blocktrans with name=project.name %}Delete project: {{ name }}{% endblocktrans %}" data-text="{% trans "Are you sure you want to delete this project?" %}" data-set-form-values='{"project": {{ project.id }} }'>{% trans "delete" %}</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p class="empty">{% trans 'This team does not have any projects yet' %}</p>
{% endif %}

<a class="button open-modal" data-modal="add-form"><span class="fa fa-plus"></span> {% trans 'Add Project' %}</a>

<aside class="modal{% if add_form.errors %} start-open{% endif %}" id="add-form">
  <form method="POST" action="">
    <h3>{% trans "Add Project" %}</h3>
    {% csrf_token %}

    <input type="hidden" name="form" value="add">
    {% include "_field.html" with field=add_form.name %}
    {% include "_field.html" with field=add_form.description %}

    <footer class="buttons">
      <button class="submit">{% trans "Create" %}</button>
    </footer>
  </form>
</aside>

<aside class="modal{% if edit_form.errors %} start-open{% endif %}" id="edit-form">
  <form method="POST" action="">
    <h3></h3>
    {% csrf_token %}

    <input type="hidden" name="form" value="edit">
    <input type="hidden" name="project">
    {% include "_field.html" with field=edit_form.name %}
    {% include "_field.html" with field=edit_form.description %}

    <footer class="buttons">
      <button class="submit">{% trans "Update" %}</button>
    </footer>
  </form>
</aside>

<aside class="modal" id="delete-form">
  <form method="POST" action="">
    <h3></h3>
    <p class="confirmation text"></p>
    {% csrf_token %}
    <input type="hidden" name="form" value="delete">
    <input type="hidden" name="project">

    <footer class="buttons">
      <button class="submit">{% trans "Delete" %}</button>
    </footer>
  </form>
</aside>

{% endblock %}
