{% extends "new-teams/base.html" %}

{% load i18n videos_tags %}

{% block html_attrs %}id="team-videos" {{ block.super }}{% endblock %}

{% block content %}
<h2>{% blocktrans %}Videos for {{ team }}{% endblocktrans %}</h2>
<div class="split-view">
  <div class="sidebar">
    <div class="section filters">
      <h5>{% trans "Filter and Sort" %}</h5>
      <form method="GET" action="">
        {% include "_field.html" with field=filters_form.q %}
        {% if filters_form.show_project %}
        {% include "_field.html" with field=filters_form.project %}
        {% endif %}
        {% include "_field.html" with field=filters_form.has_language %}
        {% include "_field.html" with field=filters_form.missing_language %}
        {% include "_field.html" with field=filters_form.sort %}

        <div class="actions">
          <button class="submit">Filter</button>
        </div>
      </form>
    </div>

    {% if "add_form" in forms.enabled %}
    <div class="section tools">
      <button class="open-modal" data-modal="add-form">{% trans "Add Videos" %}</button>
    </div>
    {% endif %}
    {% if "add_csv" in forms.enabled %}
    <div class="section tools">
      <button class="open-modal" data-modal="add-csv-form">{% trans "Add Videos from CSV" %}</button>
    </div>
    {% endif %}
  </div>
  <div class="main">
    {% if filters_form.is_filtered %}
    <div class="current-filter-list">
      <ul>
        {% for filter_label in filters_form.get_current_filters %}
        <li>{{ filter_label }}</li>
        {% endfor %}
        <li class="reset"><a href="{% url "teams:videos" team.slug %}">{% trans "Clear filters" %}</a></li>
      </ul>
    </div>
    {% endif %}
    {% if page %}
    {% if bulk_mode_enabled %}
    <div class="select-all-thumbs"><label><input type="checkbox"> {% trans "Select all" %}</label></div>
    {% endif %}
    <ul class="thumb-list{% if bulk_mode_enabled %} bulk-mode{% endif %}">
      {% for video in page %}
      <li>
        <div class="thumb">
          <img src="{{ video.get_wide_thumbnail }}" alt="{{ video.title_display }}">
          {% if video.duration %}<div class="badge">{{ video.duration|format_duration }}</div>{% endif %}
          {% if bulk_mode_enabled %}
          <input class="selection" type="checkbox" name="team_videos" value="{{ video.id }}">
          {% endif %}
        </div>
        <div class="extra-info">{{ video.get_primary_audio_language_code_display }}</div>
        <h6 class="one-line">
          <a href="{% url "videos:video" video_id=video.video_id %}">{{ video.title_display }}</a>
        </h6>
        {% with description=video.description|urlize|linebreaks %}
        {% if "edit" in forms.enabled %}
        <div class="three-lines">{{ description }}</div>
        <button class="open-edit-modal" data-video-id="{{ video.id }}" data-modal-url="{% url "teams:videos-form" team.slug "edit" %}">{% trans "edit" %}</button>
        {% else %}
        <div class="four-lines">{{ description }}</div>
        {% endif %}
      </li>
      {% endwith %}
      {% endfor %}
    </ul>
    {% include "_new_paginator.html" %}
    <div class="total-count">
      {% if results_are_filtered %}
      {% blocktrans with count=paginator.count %}{{ count }} matching videos{% endblocktrans %}
      {% else %}
      {% blocktrans with count=paginator.count %}{{ count }} total videos{% endblocktrans %}
      {% endif %}
    </div>
    {% else %}
    <p class="empty">{% trans "No Videos found" %}</p>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block bottom %}
{% if bulk_mode_enabled %}
<div class="bottom-sheet">
  {% if "bulk-edit" in forms.enabled %}
  <button class="needs-multiple-selected" data-modal-url="{% url "teams:videos-form" team.slug "bulk-edit" %}">{% trans "Bulk Edit" %}</button>
  {% endif %}
  {% if "move" in forms.enabled %}
  <button data-modal-url="{% url "teams:videos-form" team.slug "move" %}">{% trans "Move" %}</button>
  {% endif %}
  {% if "remove" in forms.enabled %}
  <button data-modal-url="{% url "teams:videos-form" team.slug "remove" %}">{% trans "Remove" %}</button>
  {% endif %}
  {% for ext_form in forms.get_extension_forms %}
  <button data-modal-url="{% url "teams:videos-form" team.slug ext_form.name %}">{{ ext_form.label }}</button>
  {% endfor %}
  <button class="dismiss deselect-all">{% trans "deselect all" %}</button>
</div>
{% endif %}

{% if "add_form" in forms.enabled %}
<aside class="modal{% if add_form.errors %} start-open{% endif %}" id="add-form">
  <h3>{% trans "Add Videos" %}</h3>
  <button class="close"></button>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% include "_non-field-errors.html" with form=add_form %}
    <input type="hidden" name="form" value="add">
    {% include "_field.html" with field=add_form.project %}
    {% include "_field.html" with field=add_form.language %}
    {% include "_field.html" with field=add_form.thumbnail %}
    {{ add_formset.management_form }}
    <table class="formset-table">
      {% for form in add_formset %}
      {{ form }}
      {% endfor %}
    </table>
    <footer class="buttons">
      <button>{% trans "Add" %}</button>
    </footer>
  </form>
</aside>
{% endif %}
{% if "add_csv" in forms.enabled %}
<aside class="modal{% if add_csv_form.errors %} start-open{% endif %}" id="add-csv-form">
  <h3>{% trans "Add Videos from CSV" %}</h3>
  <button class="close"></button>
  <p>{% trans "Please use this " %}<a href="{{ STATIC_URL }}images/template.csv" download>{% trans "CSV Import Template" %}</a>{% trans " as the basis for your import. The Video URL field is mandatory, but all other fields can be left blank." %}</p>
  <p>{% trans "A CSV file can be created with a text editor or using the export function of a spreadsheet editor." %}</p>
  <p>{% trans "Upon completion, you will receive a summary by email." %}</p>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% include "_non-field-errors.html" with form=add_csv_form %}
    <input type="hidden" name="form" value="add-csv">
    {{ add_csv_form }}
    <footer class="buttons">
      <button>{% trans "Upload" %}</button>
    </footer>
  </form>
</aside>
{% endif %}
{% endblock %}
