{% extends "new-teams/base.html" %}

{% load i18n videos_tags %}
{% block content %}
<h2>{% blocktrans %}Video Durations for {{ team }}{% endblocktrans %}</h2>

<table>
  <thead>
    <tr>
      <th>{% trans "Project" %}</th>
      <th>{% trans "Video Count" %}</th>
      <th class="right">{% trans "Total Duration" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr{% if forloop.last %} class="section-end"{% endif %}>
      <td>{{ project }}</td>
      <td>
        {% if project.videos_without_duration == 0 %}
        {{ project.video_count }}
        {% else %}
        {% blocktrans with video_count=project.video_count no_duration_count=project.videos_without_duration %}{{ video_count }} (<em>{{ no_duration_count }} with unknown duration</em>){% endblocktrans %}
        {% endif %}
      </td>
      <td class="right">{% if project.total_duration > 0 %}{{ project.total_duration|format_duration }}{% endif %}</td>
    </tr>
    {% endfor %}
    <tr>
      <td>{% trans "Total" %}</td>
      <td>
        {% if totals.1 == 0 %}
        {{ totals.0 }}
        {% else %}
        {% blocktrans with video_count=totals.0 no_duration_count=totals.1 %}{{ video_count }} (<em>{{ no_duration_count }} with unknown duration</em>){% endblocktrans %}
        {% endif %}
      </td>
      <td class="right">{{ totals.2|format_duration }}</td>
    </tr>
</table>
{% endblock %}
