$dark: #486f87;
$darker: #3e6782;
$darkest: #2f3c45;
$faint: #b7c3c9;
$fainter: #dce2e5;
$faintest: #f3f6f8;
$light: #7692a3;
$lighter: #a0b2bd;
$normal: #678ca3;
$usblue: #0f517a;
$light-blue: #29b0bf;
$dark-grey: #212223;
$medium-grey: #4a4b4c;
$light-grey: #dedfdf;
$red: #ff4136;
