@mixin border-radius($radius: 5px) {
    -moz-background-clip: padding-box;
    -moz-border-radius: $radius;
    -webkit-background-clip: padding-box;
    -webkit-border-radius: $radius;
    background-clip: padding-box;
    border-radius: $radius;
}
@mixin border-box() {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@mixin box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
    -moz-box-shadow: $horizontal $vertical $blur $color;
    -webkit-box-shadow: $horizontal $vertical $blur $color;
    box-shadow: $horizontal $vertical $blur $color;
}
@mixin inset-box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
    -moz-box-shadow: inset $horizontal $vertical $blur $color;
    -webkit-box-shadow: inset $horizontal $vertical $blur $color;
    box-shadow: inset $horizontal $vertical $blur $color;
}
@mixin multi-color-border($top, $sides, $bottom) {
    border-bottom: 1px solid $bottom;
    border-left: 1px solid $sides;
    border-right: 1px solid $sides;
    border-top: 1px solid $top;
}
@mixin multi-border-radius($topLeft: 5px, $topRight: 5px, $bottomRight: 5px, $bottomLeft: 5px) {
    -moz-border-radius-bottomleft: $bottomLeft;
    -moz-border-radius-bottomright: $bottomRight;
    -moz-border-radius-topleft: $topLeft;
    -moz-border-radius-topright: $topRight;
    -webkit-border-bottom-left-radius: $bottomLeft;
    -webkit-border-bottom-right-radius: $bottomRight;
    -webkit-border-top-left-radius: $topLeft;
    -webkit-border-top-right-radius: $topRight;
    border-bottom-left-radius: $bottomLeft;
    border-bottom-right-radius: $bottomRight;
    border-top-left-radius: $topLeft;
    border-top-right-radius: $topRight;
}
@mixin vertical-gradient($start: #000, $stop: #FFF) {
    background: $start;
    background-image: -moz-gradient(center top, $start 0%, $stop 100%);
    background-image: -moz-linear-gradient(center top, $start 0%, $stop 100%);
    background-image: -ms-linear-gradient($start, $stop);
    background-image: -o-linear-gradient($start, $stop);
    background-image: -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
    background-image: -webkit-linear-gradient($start, $stop);
    background-image: linear-gradient($start, $stop);
}
@mixin vertical-gradient-with-image($image, $start: #000, $stop: #FFF) {
    background: $image, -moz-gradient(center top, $start 0%, $stop 100%);
    background: $image, -moz-linear-gradient(center top, $start 0%, $stop 100%);
    background: $image, -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
    background: ($start + $stop) / 2 $image;
}
@mixin linear-gradient($position, $first, $second, $third) {
    background-image: -moz-linear-gradient($position, $first, $second, $third);
    background-image: -ms-linear-gradient($position, $first, $second, $third);
    background-image: -o-linear-gradient($position, $first, $second, $third);
    background-image: -webkit-linear-gradient($position, $first, $second, $third);
    background-image: linear-gradient($position, $first, $second, $third);
}
@mixin opacity($op) {
    -khtml-opacity: $op;
    -moz-opacity: $op;
    opacity: $op;
}
@mixin box-right {
    padding: 0;
    position: absolute;
    top: 2em; right: 0;
    width: 120px;
}
@mixin block-level {
    display: block;
    width: 100%;
}
@mixin clearfix {
    &:after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
        font-size: 0;
    }
}
