{% load i18n forms modal captureas %}
{% captureas title %}{% blocktrans count count=selection_count %}Remove Member{% plural %}Remove Members{% endblocktrans %}{% endcaptureas %}
{% startmodal "remove-members-dialog" title %}
<form class="ajaxForm" method="POST" action="{{ request.get_full_path }}" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="modal-content">
    <p>
      {% blocktrans count count=selection_count %}
      Are you sure that you want to remove {{ member }} ({{ username }}) from {{ team }}?
      {% plural %}
      Are you sure that you want to remove {{ count }} members from {{ team }}?
      {% endblocktrans %}
    </p>
    {% include "future/forms/non-field-errors.html" %}
    {% if form.include_all %}
    {{ form.include_all|render_field }}
    {% endif %}
  </div>
  <div class="modal-footer">
    <button class="button cta-reverse modal-close">{% trans "Cancel" %}</button>
    <button class="button cta">{% trans "Remove" %}</button>
</form>
{% endmodal %}
