{% load i18n ui dropdown %}
{% if page %}
<div tabindex="0" class="listView memberDirectory{% if is_team_admin %} admin{% endif %}">
  {% if is_team_admin %}
  <div class="listView-header">{% checkbox "all" id_prefix="selection-" class="checkAll" data_name="selection" %}</div>
  {% endif %}
  <div class="listView-header">{% trans 'Name' %}</div>
  <div class="listView-header">{% trans 'Role' %}</div>
  <div class="listView-header">{% trans 'Joined' %}</div>
  <div class="listView-header">{{ experience_column_label }}</div>
  {% if is_team_admin %}
  <div class="listView-header"></div>
  {% endif %}

  {% for member in page %}
  {% if is_team_admin %}
  <div class="listView-checkbox">
    {% if member.user != request.user  %}
    {% checkbox member.id id_prefix="member-" name="selection" value=member.id %}
    {% endif %}
  </div>
  {% endif %}
  <div>
    <a href="{% url 'teams:member-profile' slug=team.slug username=member.user.username %}">{{ member.user }}</a>
    <div class="listView-secondary">{% include "future/users/icon.html" with user=member.user %} {{ member.user.username }}</div>
  </div>
  <div>
    {{ member.get_role_summary }}
    {% if member.is_a_project_manager or member.is_a_language_manager %}
    <div class="listView-secondary">
      {% if member.is_a_project_manager %}{{ member.get_projects_managed_display }}{% if member.is_a_language_manager %}<br>{% endif %}{% endif %}
      {% if member.is_a_language_manager %}{{ member.get_languages_managed_display  }}{% endif %}
    </div>
    {% endif %}
  </div>
  <div>{{ member.created|datetime }}</div>
  <div>
    {{ member.experience.count}}
    {% if member.experience_extra %}<div class="listView-secondary"><ul>{% for experience in member.experience_extra %}<li>{{ experience.label }}: {{ experience.count}}</li>{% endfor %}</ul></div>{% endif %}
  </div>
  {% if is_team_admin %}
  <div class="listView-actions">
    <button class="listView-action listView-expand"><span class="fa fa-info-circle"></span></button>
    {% if member.user != request.user  %}
    {% dropdown-button-icon "member-context-menu" "listView-action" %}
    {% endif %}
  </div>
  {% endif %}
  <div class="listView-secondaryRow">
    {% with languages=member.user.get_language_names|join:", " %}
      {% if languages %}
        {% blocktrans %}Languages: {{ languages}}{% endblocktrans %}
      {% else %}
      {% trans "No languages specified" %}
      {% endif %}
    {% endwith %}
  </div>
  {% endfor %}

  {% if is_team_admin %}
    {% dropdown "member-context-menu" %}
    {% dropdown-js-item _('Remove') 'listview-form' 'remove' %}
    {% dropdown-js-item _('Change role') 'listview-form' 'role' %}
    {% enddropdown %}
  {% endif %}

</div>
<div class="contentFooter">
  {% if show_application_link %}<div class="contentFooter-extra"><a href="{% url "teams:applications" team.slug %}">{% trans "Review Applications" %}</a></div>{% endif %}
  {% include "content-footer-paginator.html" %}
</div>


{% if is_team_admin %}
<div id="memberDirectory-actionBar" class="actionBar">
  <form class="actionBar-form ajaxForm" method="GET">
    <button class="button cta" type="submit" name="form" value="role">Change Role</button>
    <button class="button cta" type="submit" name="form" value="remove">Remove</button>
    <button class="button borderless actionBar-deselect">Deselect</button>
  </form>
</div>
{% endif %}
{% else %}
<div class="zero-state">{% trans "No members" %}</div>
{% endif %}
