{% load i18n forms modal captureas %}

{% captureas modal_title %}{% trans "Add account" %}{% endcaptureas %}
{% startmodal "add-account" modal_title %}
  <div class="modal-tabs">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#youtube" data-toggle="tab">{% trans "YouTube" %}</a>
      </li>
      <li>
        <a href="#vimeo" data-toggle="tab">{% trans "Vimeo" %}</a>
      </li>
      <li>
        <a href="#kaltura" data-toggle="tab">{% trans "Kaltura" %}</a>
      </li>
      <li>
        <a href="#brightcove" data-toggle="tab">{% trans "Brightcove" %}</a>
      </li>
    </ul>
  <div class="modal-content">
      <div class="tab-content">
        <div id="youtube" class="tab-pane
          {% if modal_tab == 'youtube' %}active{% endif %}">
          <p>{% trans 'Click the "Add YouTube account" button below to start the authentication process for adding a YouTube account to your team.' %}</p>
          <form method="POST">
            {% csrf_token %}
            <div class="text-right">
              <button class="button borderless modal-close">{% trans "Cancel" %}</button>
              <a href="{{ add_youtube_url }}" class="button cta">{% trans 'Add YouTube account' %}</a>
            </div>
          </form>
        </div>

        <div id="vimeo" class="tab-pane
          {% if modal_tab == 'vimeo' %}active{% endif %}">
          <p>{% trans 'Click the "Add Vimeo account" button below to start the authentication process for adding a Vimeo account to your team.' %}</p>
          <form method="POST">
            {% csrf_token %}
            <div class="text-right">
              <button class="button borderless modal-close">{% trans "Cancel" %}</button>
              <a href="{{ add_vimeo_url }}" class="button cta">{% trans 'Add Vimeo account' %}</a>
            </div>
          </form>
        </div>

        <div id="kaltura" class="tab-pane 
          {% if modal_tab == 'kaltura' %}active{% endif %}">
          <p>
            <span class="h4">{% trans "Kaltura account details" %}</span>
          </p>
          <form class="ajaxForm" method="POST" action="{% url 'externalsites:team-add-external-account' team.slug %}">
            {% csrf_token %}
            {% render_field kaltura_form.partner_id %}
            {% render_field kaltura_form.secret %}
            <input type="hidden" value="kaltura" name="modalTab"/>
            <div class="text-right">
              <button class="button borderless modal-close">{% trans "Cancel" %}</button>
              <button type="submit" class="button cta">
                {% if kaltura_form.has_existing_account %} 
                  {% trans 'Update Kaltura account' %}
                {% else %}
                  {% trans 'Add Kaltura account' %}
                {% endif %}
              </button>
            </div>
          </form>
        </div>

        <div id="brightcove" class="tab-pane
          {% if modal_tab == 'brightcove' %}active{% endif %}">
          <p>
            <span class="h4">{% trans "Brightcove CMS account details" %}</span>
          </p>
          <form class="ajaxForm" method="POST" action="{% url 'externalsites:team-add-external-account' team.slug %}">
            {% csrf_token %}
            {% render_field brightcove_form.publisher_id %}
            {% render_field brightcove_form.client_id %}
            {% render_field brightcove_form.client_secret %}
            <input type="hidden" value="brightcove" name="modalTab"/>
            <div class="text-right">
              <button class="button borderless modal-close">{% trans "Cancel" %}</button>
              <button type="submit" class="button cta">
                {% if brightcove_form.has_existing_account %} 
                  {% trans 'Update Brightcove account' %}
                {% else %}
                  {% trans 'Add Brightcove account' %}
                {% endif %}
              </button>
            </div>
          </form>
        </div>

      </div> <!-- close .tab-content -->
    </div> <!-- close .modal-content -->
  </div> <!-- close .modal-tabs -->
{% endmodal %}