body#index .wrapper {
    width: 980px !important
}
body#index a {
    color: #126895;
    text-decoration: none;
}
body#index a:visited {
    color: auto
}
body#index a:hover {
    color: #333;
    text-decoration: none;
}
.button {
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#177db6', EndColorStr='#1369a8');
    background-image: -moz-linear-gradient(top, #177db6, #1369a8);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #177db6),color-stop(1, #1369a8));
    border: 1px solid #093362;
    border-radius: 3px;
    box-shadow: inset 0px 1px 0 #23bddb, 0 1px 3px rgba(0,0,0,0.1);
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
    padding: 0 16px;
    text-decoration: none !important;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}
.button.grey {
    -moz-box-shadow: inset 0px 1px 0 #959595, 0 1px 3px rgba(0,0,0,0.4);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#737373', EndColorStr='#555555');
    -webkit-box-shadow: inset 0px 1px 0 #959595, 0 1px 3px rgba(0,0,0,0.4);
    background-image: -moz-linear-gradient(top, #737373, #555);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #737373),color-stop(1, #555));
    border: 1px solid #393939;
}
.rounded-img {
    background-clip: padding-box !important
}
.rounded-img img {
    display: block;
    opacity: 0;
}
#home-blurb {
    margin-bottom: 36px;
    text-align: center;
}
#home-blurb h1 {
    color: #393939;
    font-size: 32px;
    font-weight: bold;
    margin: 36px 0 10px;
}
#home-blurb p {
    color: #878787;
    font-size: 18px;
    margin: 0;
}
#home-left, #home-right {
    margin-bottom: 30px
}
#home-left #subtitle p {
    font-size: 11px;
    margin-top: 4px;
}
#home-left #features {
    border-left: 1px solid #dfdfdf;
    float: right;
    font-size: 11px;
    margin: 0;
    padding: 0;
    width: 170px;
}
#home-left #features li {
    list-style-type: disc;
    margin-bottom: 4px;
    margin-left: 14px;
}
#home-left #features h3 {
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 5px;
}
#home-left #features h3, #home-left #features ul {
    padding-left: 14px
}
#home-left button, #partners a.button {
    background: #1573AF;
    -moz-box-shadow: inset 0px 1px 0 #23bddb, 0 1px 3px rgba(0,0,0,0.1);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#177db6', EndColorStr='#1369a8');
    -webkit-box-shadow: inset 0px 1px 0 #23bddb, 0 1px 3px rgba(0,0,0,0.1);
    background-image: -moz-linear-gradient(top, #177db6, #1369a8);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #177db6),color-stop(1, #1369a8));
    border: 1px solid #093362;
    border-radius: 3px;
    color: #fff !important;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
    padding: 0 16px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}
#home-left input {
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    color: #555;
    font-size: 14px;
    font-weight: bold;
    height: 32px;
    margin-right: 5px;
    padding: 0 0 0 4px;
    width: 170px;
}
#home-left form {
    float: left !important;
    width: 280px;
}
#home-left div {
    background: #F3F3F3;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 14px;
}
#home-left h2 {
    color: #3a3a3a;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px;
}
#home-left p {
    line-height: 18px;
    margin: 0;
}
#home-left {
    color: #5c5c5c;
    float: left;
    font-size: 13px;
    width: 487px;
}
#home-right {
    background: #EEE;
    float: right;
    min-height: 385px;
    width: 460px;
}
#benefits {
    background-color: #126295;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 18px;
}
#benefits .button {
    float: right;
    left: -4px;
    position: relative;
    top: 0;
}
#benefits h2 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 0;
    margin: 0;
    padding: 18px 0 0 0;
}
#benefits p {
    color: #c4e0eb;
    font-size: 16px;
    margin: 0;
}
#partners {
    background-color: #efefef;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin: 0 0 20px 0;
    padding: 24px 0;
}
#partners a:hover .url {
    color: #333
}
#partners a .url {
    color: #2067b0;
    display: block;
    font-weight: normal;
}
#partners a img {
    display: block;
    margin: 0 auto 10px;
}
#partners li {
    display: block;
    float: left;
    margin: 0 0 0 15px;
    width: 225px;
    text-align: center;
}
#partners li a {
    color: #333;
    display: inline-block;
}
#partners li a span {
    display: block;
    height: 110px;
    margin-bottom: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#partners ul {
    text-align: center
}
#partners .button {
    font-size: 12px;
}
#partner_prev, #partner_next {
    display: block;
    height: 38px;
    position: relative;
    text-indent: -9000px;
    top: 44px;
    width: 38px;
}
#partner_prev {
    background: url(../images/partner_prev.png);
    float: left;
    left: -19px;
}
#partner_next {
    background: url(../images/partner_next.png);
    float: right;
    left: 19px;
}
#enterprise {
    background: #868686 url(../images/new_enterprise_bg.png);
    border-bottom: 2px solid #696969;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #fff;
    font-size: 14px;
    line-height: 47px;
    margin: 0 0 25px;
    padding: 0 0 0 10px;
    text-shadow: 0 -1px 0 #454545;
}
#enterprise .button {
    float: right;
    left: -6px;
    position: relative;
    top: 6px;
}
.featured {
    font-size: 12px;
    line-height: 18px;
    width: 473px;
}
.featured .rounded-img {
    border: 3px solid #ddd;
    border-radius: 6px;
    float: left;
    margin-right: 10px;
}
.featured .links {
    margin: 0 0 15px 0
}
.featured .links a {
    color: #126895;
    font-size: 12px;
    margin-right: 10px;
}
.featured .links a:hover {
    color: #333
}
.featured a.more {
    display: block;
    float: right;
    position: relative;
    right: 10px;
    top: 6px;
}
.featured .title {
    font-size: 14px;
    font-weight: bold;
}
.featured h2 {
    border-bottom: 1px solid #cfcfcf;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 6px;
}
.featured a {
    font-weight: bold
}
.featured p {
    margin-bottom: 0
}
#most-popular {
    float: left
}
#featured-videos {
    float: right
}
#index ul.video_list {
    color: #747B81;
    margin: 0;
    padding: 0;
}
#index ul.video_list h4 {
    line-height: 15px
}

#banner-ondemand {
width: 100%;
background-color: #1572ae;
margin-top: 24px;
padding: 10px 0;
border-top: 1px solid #333333;
border-bottom: 1px solid #333333;
position: relative;
text-align: center;
}

#banner-ondemand h2 {
font-size: 26px;
margin: 0 0 2px 0;
font-family: "Helvetica Neue",Helvetica,sans-serif;
font-weight: 200;
letter-spacing: 0.025em;
color: #FFFFFF;
}

#banner-ondemand h3 {
font-size: 18px;
margin: 0;
font-family: "Helvetica Neue",Helvetica,sans-serif;
font-weight: 200;
letter-spacing: 0.08em;
color: #BBBBBB;
padding-bottom: 4px;
}

#banner-ondemand span {
text-decoration: underline;
}

