$white: #fff;
$off-white: #f2f2f2;
$lightest-gray: #eee;
$lighter-gray: #ddd;
$light-gray: #bbb;
$medium-gray: #888;
$darkish-gray: #666;
$dark-gray: #333;
$darker-gray: #222;
$black: #000;

$primary: #0F80E2;
$success: #D9EDF7;
$warning: #FFCD2E;
$error: #FE6666;
$error-bg: #FEAAAA;

$red: #d75b5b;
$green: #77A700;
