{% load i18n videos_tags %}
{% with subtitle=video.get_subtitle %}
<div class="videoCard">
  <header class="videoCard-header">
    {% if priority %}<span class="videoCard-priority"><i class="icon icon-star"></i></span>{% endif %}
    {% if video.duration %}<span class="videoCard-duration">{{ video.duration|format_duration }}</span>{% endif %}
  </header>
  <div class="videoCard-thumbnail">
    <a href="{% block url %}{{ video.get_absolute_url }}{% endblock %}{% if team %}?team={{ team.slug }}{% endif %}">
      <div class="thumbWrapper">
        <img src="{{ video.get_huge_thumbnail }}" alt="Select {{ video.title_display }}" title="{{ video.title_display }}" />
      </div>
      <div class="videoCard-caption" title="{{ video.title_display }}">
        <h4 class="videoCard-title">{{ video.title_display }}</h4>
        {% block subtitle %}{% if subtitle %}<h4 class="videoCard-subtitle">{{ subtitle }}</h4>{% endif %}{% endblock %}
      </div>
    </a>
  </div>
  {% block footer %}<footer class="videoCard-footer"></footer>{% endblock %}
  {% block extra %}{% endblock %}
</div>
{% endwith %}
