{% extends "future/base.html" %}
{% load i18n %}

{% block content %}
<section>
  <div class="container">
    <h1>{% trans "Video URL Search" %}</h1>
    <form method="GET" action="{% url "videos:url-search" %}">
      <div class="form-group">
        <textarea rows="10" name="urls" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="button cta">{% trans "Search URLs" %}</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
