{% extends "future/base.html" %}
{% load i18n videos_tags modal %}

{% block head-extra %}
{% include "future/videos/embed-script.html" %}
{% endblock %}

{% block header %}{% if header %}{{ header }}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block content %}
<section id="video_details">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="content">
          {% include "future/videos/embed.html" %}
          <h2>{{ video.title_display }}</h2>
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"{% if tab == "info" %} class="active"{% endif %}><a href="#video_info" aria-controls="video_info" role="tab" data-toggle="tab">{% trans "Video info" %}</a></li>
            <li role="presentation"{% if tab == "activity" %} class="active"{% endif %}><a href="#video_activity" aria-controls="video_activity" role="tab" data-toggle="tab">{% trans "Activity" %}</a></li>
            <li role="presentation"{% if tab == "comments" %} class="active"{% endif %}><a href="#video_comments" aria-controls="video_comments" role="tab" data-toggle="tab">{% trans "Comments" %}</a></li>
            <li role="presentation"{% if tab == "urls" %} class="active"{% endif %}><a href="#video_urls" aria-controls="video_urls" role="tab" data-toggle="tab">{% trans "URLs" %}</a></li>
          </ul>
          <div class="tab-content">
            <div id="video_info" class="tab-pane{% if tab == "info" %} active{% endif %}" role="tabpanel">
              <nav class="tab-actions">
                <button class="button small modal-show" data-target="#share-dialog">{% trans "Embed" %}</button>
                <span>{% trans "Follow" %}</span>
                <form action="{% url "api:video-follow" video.video_id %}" class="ajaxForm updateOnChange" method="post">
                  {% csrf_token %}
                  <label class="switch inline switchFollow">
                    <input class="switch-input" name="follow" type="checkbox" {% if video|is_follower:user %}checked{% endif %}>
                    <div class="switch-container inline">
                      <div class="switch-slider inline">
                        <span class="switch-onText inline">{% trans "ON" %}</span>
                        <span class="switch-offText inline">{% trans "OFF" %}</span>
                      </div>
                    </div>
                  </label>
                </form>
              </nav>
              {% include "future/videos/tabs/info.html" %}
            </div>
            <div id="video_activity" class="tab-pane{% if tab == "activity" %} active{% endif %}" role="tabpanel">
              {% include "future/videos/tabs/activity.html" with count=activity_count show_more=show_more %}
            </div>
            <div id="video_comments" class="tab-pane{% if tab == "comments" %} active{% endif %}" role="tabpanel">
              {% include "future/videos/tabs/comments.html" %}
            </div>
            <div id="video_urls" class="tab-pane{% if tab == "urls" %} active{% endif %}" role="tabpanel">
              {% include "future/videos/tabs/urls.html" %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        {% if custom_sidebar %}
        {{ custom_sidebar }}
        {% else %}
        {% include "future/videos/video-sidebar.html" %}
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block bottom %}
{% startmodal "share-dialog" _('Embed Video') %}
<div class="modal-content">
  <p>{% blocktrans %}Use the following code to embed this video. See our <a href="https://github.com/pculture/unisubs/wiki/Embed-Code-Usage-Guide" title="Embed usage guide">usage guide</a> for more details on embedding.{% endblocktrans %}</p>

  <p>
  {% trans "Paste this in your document somewhere (closest to the closing body tag is preferable):" %}
  <pre>
&lt;script type="text/javascript" src='https://amara.org/embedder-iframe'&gt;&lt;/script&gt;
  </pre>
  </p>
  <p>
  {% trans "Paste this inside your HTML body, where you want to include the widget:" %}
  <pre>
&lt;div class="amara-embed" data-url="{{ player_url }}" {% if team %}data-team="{{ team.slug}}"{% else %}data-team="null"{% endif %}&gt;&lt;/div&gt;
  </pre>
  </p>
</div>
{% endmodal %}

{% if create_url_form %}
{% startmodal "add-url-dialog" _('Add another URL for this video') %}
<div id="add-url-form">{% include "future/videos/forms/create-url.html" %}</div>
{% endmodal %}
{% endif %}

{% if allow_delete %}
{% startmodal "delete-url-dialog" _('Delete Video URL') %}
<form action="" class="ajaxForm" method="post">
  {% csrf_token %}
  <input type="hidden" name="form" value="delete-url">
  <input type="hidden" name="id" value="">
  <h4 class="modal-header"></h4>
  <div class="modal-content">
    <p class="alert alert-warning">{% trans "Warning: this cannot be undone. Only delete URLs for non-matching videos or videos where subtitles fail to display correctly." %}</p>
  </div>
  <div class="modal-footer">
    <button class="button borderless modal-close">{% trans "Cancel" %}</a>
    <button type="submit" class="button cta">{% trans "Delete" %}</button>
  </div>
</form>
{% endmodal %}
{% endif %}

{% if allow_make_primary %}
{% startmodal "make-url-primary-dialog" _("Make Video URL Primary") %}
<h4 class="modal-header"></h4>
<form action="" class="ajaxForm" method="post">
  {% csrf_token %}
  <input type="hidden" name="form" value="make-url-primary">
  <input type="hidden" name="id" value="">

  <div class="modal-content">
    <p>{% trans "This will make it the default playback URL" %}</p>
  </div>
  <div class="modal-footer">
    <button class="button borderless modal-close">{% trans "Cancel" %}</a>
    <button type="submit" class="button cta">{% trans "Make Primary" %}</button>
  </div>
</form>
{% endmodal %}
{% endif %}

{% if create_subtitles_form %}
  {% include 'future/videos/create-subtitles-modal.html' with form=create_subtitles_form %}
{% endif %}

{% endblock %}

{% block page-controls %}
{% if perms.videos.edit_video %}
<li><a href="{% url "admin:videos_video_change" video.pk %}" target="blank">{% trans 'Edit video' %}</a></li>
{% endif %}
{% endblock %}
