{% extends "new-teams/base.html" %}
{% load i18n teams_tags %}

{% block html_attrs %}{{ block.super }} id="team-settings-integration"{% endblock %}

{% block content %}

<h2>{% trans "Team Settings - Integrations" %}</h2>

{% if team|can_resync:user %}
<div class="remove-button">
  <a href="{% url "teams:settings_sync_externalsites" slug=team.slug %}">{% trans "Check for syncing issues" %} >> </a>
</div>
{% endif %}
<form id="external-accounts" method="POST" action="" novalidate>
  {# we need novalidate, since this form combines multiple forms, and sometimes the required fields for those won't be filled out #}
  {% csrf_token %}

  <fieldset class="youtube">
    <legend>{% trans "YouTube" %}</legend>
    {% for form in forms.youtube_forms %}
    <div class="youtube-form">
      <div class="remove-button">
        {{ form.remove_button }}
      </div>
      <h3>{% blocktrans with account_name=form.account.get_owner_display channel_url=form.account.channel_url %}
          Linked Account: <a style="color:#0f80e2" href="{{ channel_url }}">{{ account_name }}</a>
        {% endblocktrans %}
      </h3>
      {% include "_field.html" with field=form.sync_subtitles %}
      {% include "_field.html" with field=form.fetch_initial_subtitles %}
      {% if form.show_sync_teams %}
      <h4>{% trans "Sync subtitles for videos from these teams:" %}</h4>
      {{ form.sync_teams }}
      {% endif %}
      {% include "_field.html" with field=form.import_team %}
    </div>
    {% empty %}
    <p><em>{% trans 'No youtube accounts linked yet.' %}</em></p>
    {% endfor %}
    {{ forms.add_youtube.add_button }}
  </fieldset>

  <fieldset class="youtube">
    <legend>{% trans "Vimeo" %}</legend>
    {% for form in forms.vimeo_forms %}
    <div class="youtube-form">
      <div class="remove-button">
        {{ form.remove_button }}
      </div>
      <h3>{% blocktrans with account_name=form.account.get_owner_display %}
          Linked Account: {{ account_name }}
        {% endblocktrans %}
      </h3>
      {% include "_field.html" with field=form.sync_subtitles %}
      {% include "_field.html" with field=form.fetch_initial_subtitles %}
      {% if form.show_sync_teams %}
      <h4>{% trans "Sync subtitles for videos from these teams:" %}</h4>
      {{ form.sync_teams }}
      {% endif %}
    </div>
    {% empty %}
    <p><em>{% trans 'No Vimeo accounts linked yet.' %}</em></p>
    {% endfor %}
    {{ forms.add_vimeo.add_button }}
  </fieldset>

  <fieldset class="kaltura{% if not forms.kaltura.enabled.value %} disabled{% endif %}">
    <legend>{% trans "Kaltura" %}</legend>
    {% include "_checkbox_field.html" with field=forms.kaltura.enabled %}
    {{ forms.kaltura.non_field_errors }}
    <div class="account-fields">
      {% include "_field.html" with field=forms.kaltura.partner_id %}
      {% include "_field.html" with field=forms.kaltura.secret %}
    </div>
  </fieldset>

  <fieldset class="brightcove{% if not forms.brightcovecms.enabled.value %} disabled{% endif %}">
    <legend>{% trans "Brightcove CMS" %}</legend>
    <label>{% trans "Syncs subtitles for videos hosted on Brightcove as well as now-deprecated old Brightcove player videos." %}</label>
    {% include "_checkbox_field.html" with field=forms.brightcovecms.enabled %}
    {{ forms.brightcovecms.non_field_errors }}
    <div class="account-fields">
      {% include "_field.html" with field=forms.brightcovecms.publisher_id %}
      {% include "_field.html" with field=forms.brightcovecms.client_id %}
      {% include "_field.html" with field=forms.brightcovecms.client_secret %}
    </div>
  </fieldset>

  <div class="actions">
    <button class="submit">{% trans "Save Changes" %} <span class="fa fa-angle-double-right"></span></button>
  </div>
</form>

<aside id="confirm-delete-account-modal" class="modal" role="dialog" aria-labeledby="confirm-delete-title">
    <h3 id="confrim-delete-title">{% trans 'About to delete account settings' %}</h3>
    <p>{% trans 'You have disabled an account that was previously enabled.  If you continue, then the settings for that account will be lost.' %}</p>
    <footer class="buttons">
        <button class="continue">{% trans 'Continue' %}</button>
        <button class="close">{% trans 'Cancel' %}</button>
    </footer>
</aside>
{% endblock %}
