{% load i18n %}
<li>
    <a href="{{ video.get_absolute_url }}" title="{{ video }}">
        {% with small_thumbnail=video.get_small_thumbnail %}
        {% if small_thumbnail %}
        <span class="video_thumb">
            <span class="clip">
            <img src="{{ small_thumbnail }}"/>
            </span><!-- // clip -->
        </span><!-- // video_thumb -->
        {% else %}
            <span class="video_thumb">
                <span class="clip">
                    <img src="{{ STATIC_URL }}images/watch_thumb.png" />
                </span><!-- // clip -->
            </span><!-- // video_thumb -->
        {% endif %}
        {% endwith %}
        <h4>{{ video.title_display }}</h4>
    </a>
</li>
