{% extends "future/base.html" %}

{% load i18n forms %}

{% block content %}
<div class="container">
  <div class="videosCreateForm bg-teal{% if not request.user.is_authenticated %} text-center{% endif %}">
    <h1>{% trans "Subtitle a Video" %}</h1>
    {% if request.user.is_authenticated %}
    <p>{% trans "Enter a video URL to use the Amara Editor. It will appear and remain on your public profile." %}</p>
    <form method="POST">
      {% csrf_token %}
      {% trans "Begin" as label %}
      {% button_field create_form.video_url label "plum" %}
    </form>
    {% else %}
    <a href="{% url "auth:login" %}?next={% url "videos:create" %}" data-persistent-tab-value="#create-form" class="button plum persistentTab">{% trans "Login to get started" %}</a>
    {% endif %}
  </div>
</div>
{% endblock %}
