{% load i18n new_subtitles_tags teams_tags i18n_tags %}
<div class="tab" id="transcripts-tab">
    <div class="tools">
        {% if request.user|can_delete_language:language %}
            <a class="button" href="{% url "teams:delete-language" video.get_team_video.team.slug language.pk %}">{% trans 'Delete Subtitle Language' %}</a>
        {% endif %}

        {% if language.is_original and request.user|can_create_subtitles_for:video or not language.is_original and request.user|can_create_translations_for:video %}
            {% if edit_disabled %}
                {% if must_use_tasks %}
                    <a id="edit_subtitles_button"
                       class="button disabled"
                       title="{% trans 'You must use the tasks panel to work with this version.' %}">
                        {% trans 'Edit Subtitles' %}
                    </a>
                {% else %}
                    <a id="edit_subtitles_button"
                       class="button disabled"
                       title="{% trans 'You do not have permission to edit this version.' %}">
                        {% trans 'Edit Subtitles' %}
                    </a>
                {% endif %}
            {% else %}
                <a id="edit_subtitles_button"
                   class="button"
                   href="{{ edit_url }}">
                    {% trans 'Edit Subtitles' %}
                </a>
            {% endif %}
        {% endif %}

        {% if version.has_subtitles %}
            <div class="sort_button action">
                <div class='arrow'>
                </div>
                <span class="sort_label">
                    <strong>{% trans 'Download' %}</strong>
                </span>
                <ul>
                  {% for format_name in downloadable_formats %}
                     {% subtitle_download_url version format_name as download_url %}
                     <li><a href="{{ download_url }} ">{{format_name|upper}}</a></li>
                  {% endfor %}
                  {% if show_download_all %}
                  <li><a href="{% url "subtitles:download_all" video.video_id video.get_download_filename %}">{% trans "DFXP All Languages" %}</a></li>
                  {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
    {% if version %}
        {% if version.has_subtitles %}
            <p class="view-notice{% if not version.is_public %} draft{% endif %}">
                {% if not version.is_public %}<em>{% trans 'Draft only' %}</em>{% endif %}
                {% if language.get_translation_source_language_code %}
                    {% blocktrans with language.get_translation_source_language_code|to_localized_display as language %}
                        Subtitles translated from {{ language }}
                    {% endblocktrans %}
                {% endif %}
                {% blocktrans with version.version_number as version_number and version.revision_time as revision_time and version.author.profile_url as profile_url and version.author as author %}
                Showing <strong>Revision {{ version_number }}</strong> created <strong>{{ revision_time }}</strong> by <a href="{{ profile_url}}" title="View {{ author }}'s profile"><strong>{{ author }}</strong></a>.
                {% endblocktrans %}
                {% if user.is_staff and perms.videos.edit_video %}
                    <a style="float: right; color: #417690; margin-right: 7px; font-weight: bold; display: inline-block;" href="{% url "admin:subtitles_subtitleversion_change" version.pk %}">{% trans "Edit in Django Admin" %}</a>
                {% endif %}
            </p>

            <ol class="subtitles {% if language.is_rtl %}is_rtl{% endif %}">
                <li class="metadata">
                    <div class="field">{% trans "Title:" %}</div>
                    {{ version.title }}
                </li>
                <li class="metadata">
                    <div class="field">{% trans "Description:" %}</div>
                    <div class="description">
                        {{ version.description|urlize|linebreaks }}
                    </div>
                </li>
                {% for field in metadata %}
                <li class="metadata">
                    <div class="field">{{field.label }}:</div>
                    {{ field.content }}
                </li>
                {% endfor %}
                {{ version|old_render_subtitles }}
            </ol>
        {% else %}
            {% if revision_count > 1 %}
                <p class="empty">
                    {% blocktrans %}
                    The most recent revision for this language is blank, but there are older
                    revisions that contain subtitles.
                    {% endblocktrans %}
                    <a href="#revisions-tab" class="link_to_tab">{% trans 'View revision history' %}</a>
                </p>
            {% else %}
                <p class="empty">
                    {% if revision_count > 0 %}
                        {% trans 'These subtitles are in progress.' %}
                        <a href="#" id="add_subtitles">{% trans 'Make more?' %}</a>
                    {% else %}
                        {% trans 'No subtitles available yet.' %}
                        <a href="#" id="add_subtitles">{% trans 'Make some!' %}</a>
                    {% endif %}
                </p>
            {% endif %}
        {% endif %}
    {% else %}
        {% if language.subtitleversion_set.extant.exists %}
            <p class="empty">
                {% blocktrans %}
                    This language contains subtitles that are still waiting to be moderated.  Check back later.
                {% endblocktrans %}
            </p>
        {% elif language.subtitleversion_set.full.exists %}
            <p class="empty">
                {% blocktrans %}
                    Sorry, this language has been removed by Amara staff members or authorized users.
                {% endblocktrans %}
            </p>
        {% else %}
            <p class="empty">
                {% blocktrans %}
                    No subtitles have been added for this language yet.
                {% endblocktrans %}
            </p>
        {% endif %}

    {% endif %}

    {% if rollback_allowed %}
        <div id="rollback-button">
            <a href="{% url "videos:rollback" version.pk %}" class="button" id="rollback">
                {% trans 'Roll back to this version' %}
            </a>
        </div>
    {% endif %}
</div>
