{% extends "base.html" %}

{% load i18n i18n_tags %}

{% block html_attrs %}id="video_set_language"{% endblock %}
{% block body_attrs %}class="v1"{% endblock %}

{% block main_content %}
    <div class="grid_9 view push_2">
        <h2>{% trans "Change video language" %}</h2>

        <div class="grid_4 alpha">
            <h5>{% trans "Video" %}</h5>
            <div class="video-item">
                <a href="{% url "videos:video" video_id=video.video_id %}" title="{{ video.title }}">
                    <img src="{{ video.get_thumbnail }}" alt="{{ video.title }} thumbnail">
                </a>
                <h4>
                    <a href="{% url "videos:video" video_id=video.video_id %}">{{ video.title|truncatewords:9 }}</a>
                </h4>
            </div>
        </div>
        <div class="grid_4 omega">
            <form method="POST" action="./">
                {% csrf_token %}
                <fieldset>
                    {% for field in form %}
                        <label for="id_{{ field.html_name }}">{% trans "Choose a language" %}</label>
                        <p class="notation">
                            {% trans "Current language is" %}
                            <strong>
                                {% if video.primary_audio_language_code %}
                                     {{ video.primary_audio_language_code|to_language_display  }}
                                {% else %}
                                    {% trans "not set" %}
                                {% endif %}
                            </strong>
                        </p>
                        {{ field }}
                    {% endfor %}
                </fieldset>
                <div class="submit">
                    <button type="submit">Set language</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
