{% extends "base.html" %}

{% block body_attrs %}id="video"{% endblock %}

{% load paginator widget comments i18n subtitles_tags teams_tags %}

{% block scripts %}
<script type="text/javascript">
jQuery(function($) {
    $('#reset_metadata').click(function(e) {
         e.preventDefault();
         $('#loading').show();
         $.ajax({
                    url: '{% url "videos:reset_metadata" video.video_id  %}',
                    success: function() {
                        $('#loading').hide();
                        alert("Task queued. It might take about 30 seconds to complete.");
                    }
                })
    });
});
</script>
{% endblock %}

{% block main_content %}

<style type="text/css">
    h1 { font-size: 24px; font-weight: bold; }
    h1, h2, h3 {
        margin-top: 20px;
    }
    a.btn, .btn {
        background: #eee;
        border: 1px solid #bbb;
        padding: 6px 10px;
        border-radius: 4px;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 20px;
        color: black;
        font-weight: bold;
        text-decoration: none;

        background: #f4f4f4; /* Old browsers */
        background: -moz-linear-gradient(top,  #f4f4f4 0%, #cccccc 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #f4f4f4 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #f4f4f4 0%,#cccccc 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #f4f4f4 0%,#cccccc 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #f4f4f4 0%,#cccccc 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    }

    a.btn:hover, .btn:hover {
        border: 1px solid #ddd;
        background: #fcfcfc; /* Old browsers */
        background: -moz-linear-gradient(top,  #fcfcfc 0%, #e5e5e5 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #fcfcfc 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #fcfcfc 0%,#e5e5e5 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #fcfcfc 0%,#e5e5e5 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #fcfcfc 0%,#e5e5e5 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
        }

    table * {
        line-height: 1 !important;
        }
</style>

<h1>{{ video.title_display }}</h1>

<p><a href="javascript:void(0)" id="reset_metadata" class="btn">Reset metadata for this video</a> <span id="loading" style="display: none">loading</span></p>

<table class="debug new-style" cellspacing="0" cellpadding="0">
    <tr>
        <td>video</td>
        <td><a href="{{ video.get_absolute_url }}">Video {{ video.id }} - {{ video }}</a></td>
    </tr>
    {% with tv=video.get_team_video %}
        {% if tv %}
            <tr>
                <td>team video</td>
                <td><a href="{{ tv.get_absolute_url }}">Team Video {{ tv.id }} - {{ tv }}</a></td>
            </tr>
            <tr>
                <td>team</td>
                <td><a href="{{ tv.team.get_absolute_url }}">{{ tv.team }}</a></td>
            </tr>
        {% endif %}
    {% endwith %}
    <tr>
        <td>view_count</td>
        <td>{{video.view_count}}</td>
    </tr>
    <tr>
        <td>writelock_owner_id</td>
        <td>{{video.writelock_owner_id}}</td>
    </tr>
    <tr>
        <td>writelock_session_key</td>
        <td>{{video.writelock_session_key}}</td>
    </tr>
    <tr>
        <td>video_id</td>
        <td>{{video.video_id}}</td>
    </tr>
    <tr>
        <td>writelock_time</td>
        <td>{{video.writelock_time}}</td>
    </tr>
    <tr>
        <td>is_moderated</td>
        <td>{{video.is_moderated}}</td>
    </tr>
    <tr>
        <td>moderated_by</td>
        <td>{{video.moderated_by}}</td>
    </tr>
    <tr>
        <td>allow_community_edits</td>
        <td>{{video.allow_community_edits}}</td>
    </tr>
    <tr>
        <td>id</td>
        <td>{{video.id}}</td>
    </tr>
    <tr>
        <td>views_counts</td>
        <td>{{video.views_nocache}}</td>
    </tr>
    <tr>
        <td>title</td>
        <td>{{video.title}}</td>
    </tr>
    <tr>
        <td>is_subtitled</td>
        <td>{{video.is_subtitled}}</td>
    </tr>
    <tr>
        <td>was_subtitled</td>
        <td>{{video.was_subtitled}}</td>
    </tr>
    <tr>
        <td>duration</td>
        <td>{{video.duration}}</td>
    </tr>
    <tr>
        <td>thumbnail</td>
        <td>{{video.thumbnail}}</td>
    </tr>
    <tr>
        <td>allow_video_urls_edit</td>
        <td>{{video.allow_video_urls_edit}}</td>
    </tr>
    <tr>
        <td>created</td>
        <td>{{video.created}}</td>
    </tr>
    <tr>
        <td>description</td>
        <td>{{video.description}}</td>
    </tr>
    <tr>
        <td>edited</td>
        <td>{{video.edited}}</td>
    </tr>
    <tr>
        <td>user_id</td>
        <td>{{video.user_id}}</td>
    </tr>
    <tr>
        <td>s3_thumbnail</td>
        <td>{{video.s3_thumbnail}}</td>
    </tr>
    <tr>
        <td>languages_count</td>
        <td>{{video.languages_count}}</td>
    </tr>
    <tr>
        <td>complete_date</td>
        <td>{{video.complete_date}}</td>
    </tr>
    <tr>
        <td>urls</td>
        <td>{{video.videourl_set.all}}</td>
    </tr>
    <tr>
        <td>Primary Audio language</td>
        <td>{{video.primary_audio_language_code}}</td>
    </tr>
</table>

<h2>Languages</h2>
<table class="new-style">
  <tr>
    <th>Language</th>
    <th>Is Original</th>
    <th>Is Forked</th>
    <th>Is complete</th>
    <th>Num Subs</th>
    <th>Translated from</th>
    <th>Has version</th>
  </tr>
  {% for x in video.newsubtitlelanguage_set.all %}
  <tr>
    <td>{{x.language_code}}</td>
    <td>{{x.is_primary_audio_language}}</td>
    <td>{{x.is_forked}}</td>
    <td>{{x.subtitles_complete}}</td>
    <td>{{x.get_subtitle_count}}</td>
    <td>{{x.get_translation_source_language_code}}</td>
    <td>{{x.has_version}}</td>
  </tr>
  {% endfor %}
</table>

<h2>Tasks</h2>
<table class="new-style">
    <tr>
        <th>id</th>
        <th>deleted</th>
        <th>type</th>
        <th>priority</th>
        <th>approved</th>
        <th>language</th>
        <th>assignee</th>
        <th>language</th>
        <th>version</th>
        <th>review_base_version</th>
        <th>completed</th>
        <th>expiration_date</th>
    </tr>
    {% for task in tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.deleted }}</td>
            <td>{{ task.get_type_display }}</td>
            <td>{{ task.priority }}</td>
            <td>{{ task.get_approved_display }}</td>
            <td>{{ task.get_language_display }} ({{ task.language }})</td>
            {% if task.assignee %}
                <td>
                    {{ task.assignee.id }} -
                    <a href="{{ task.assignee.get_absolute_url }}">{{ task.assignee.display_username }}</a>
                </td>
            {% else %}
                <td>Unassigned</td>
            {% endif %}
            {% with l=task.subtitle_version.language %}
                {% if l %}
                    <td>
                        {{ l.id }} -
                        {{ l.get_language_display }}
                        ({{ l.language }})
                    </td>
                {% else %}
                    <td>
                        None
                    </td>
                {% endif %}
            {% endwith %}
            {% with v=task.subtitle_version %}
                {% if v %}
                    <td>
                        {{ v.id }}
                    </td>
                {% else %}
                    <td>
                        None
                    </td>
                {% endif %}
            {% endwith %}
            {% with v=task.review_base_version %}
                {% if v %}
                    <td>
                        {{ v.id }}
                    </td>
                {% else %}
                    <td>
                        None
                    </td>
                {% endif %}
            {% endwith %}
            <td>{{ task.completed }}</td>
            <td>{{ task.expiration_date }}</td>
        </tr>
    {% endfor %}
</table>
<br/>

<h3>Cache</h3>
{% for k,v in cache.items %}
<b>{{k}}</b>: <pre>{{v|pprint}}</pre><br/>
{% endfor %}

{% endblock %}
