{% load amara_cache widget i18n subtitles_tags teams_tags videos_tags %}
{% cache-by-video video-tab %}
<div class="tab" id="video-tab"> 
  {% include "future/videos/embed.html" with url=video.get_video_url team=video.get_team %}
    <div id="metadata" {% if video.latest_version.language.is_rtl %}class="is-rtl"{% endif %}>
        {% video-metadata video %}
    </div>
    <div id="description"{% if video.latest_version.language.is_rtl %} class="is-rtl"{% endif %}>
        {{ video.description|urlize|linebreaks }}
    </div>
</div>
{% endcache %}
