{% extends "base.html" %}

{% load i18n media_bundle %}

{% block body_attrs %}id="watch"{% endblock %}

{% block main_content %}

{% include "videos/watch-search-form.html" %}

<h1>{% block heading %}{% trans "Watch Subtitled Videos" %}{% endblock %}</h1>

<div class="pod" id="featured_videos">
    <div class="hd">
        <a class="btn_more_videos" href="{% url "videos:featured_videos" %}">
            {% trans "More Featured Videos" %}
        </a>
        <h2>{% trans "Featured Videos" %}</h2>
    </div><!-- // hd -->
    <div class="bd">
        {% with featured_videos as video_list %}
            {% include 'videos/_watch_page.html' %}
        {% endwith %}
    </div><!-- // bd -->
</div><!-- // pod -->
<br/>

<div class="pod" id="latest_videos">
    <div class="hd">
        <a class="btn_more_videos" href="{% url "videos:latest_videos" %}">
            {% trans "More Recent Videos" %}
        </a>
        <h2>{% trans "Latest Videos" %}</h2>
    </div><!-- // hd -->
    <div class="bd">
        <div class="watch-page-content">
            {% with latest_videos as video_list %}
                {% include 'videos/_watch_page.html' with showdate="true" %}
            {% endwith %}
        </div>
    </div><!-- // bd -->
</div><!-- // pod -->

{% endblock %}
