*~
*.pyc
*.swo
*.swp
*.orig
*.db
*.sqlite3
*calcdeps.js
.DS_Store
docs/_build
settings_local.py
dev_settings_local.py
dev_settings_test_local.py
server_local_settings.py
commit.py
.sass-cache
celerybeat-schedule
user-data/
apps/webdriver_testing/Results/*.png
apps/webdriver_testing/Results/results.html
apps/webdriver_testing/Screenshots/
nosetests.xml
.dbreset-testdata
.deploy_keys
/codeship.aes
/aws_creds
/guitests/screenshots
