<div class="users">
  <ul>
    <li>
      <span>
        <a href="{{ site.baseurl }}/profile">
          <img src="http://placehold.it/100x100/000000/000000" class="avatar">
        </a>
      </span>
      <span>Naiara Perez de Villarreal Amilburu</span>
      <span><a href="mailto:user@amara.com"><i class="icon icon-mail"></i></a></span>
    </li>
    <li>
      <span>
        <a href="{{ site.baseurl }}/profile">
          <img src="http://placehold.it/100x100/000000/000000" class="avatar">
        </a>
      </span>
      <span>Jianfeng Fan</span>
      <span><a href="mailto:user@amara.com"><i class="icon icon-mail"></i></a></span>
    </li>
    <li>
      <span>
        <a href="{{ site.baseurl }}/profile">
          <img src="http://placehold.it/100x100/000000/000000" class="avatar">
        </a>
      </span>
      <span>Joost van der Borg</span>
      <span><a href="mailto:user@amara.com"><i class="icon icon-mail"></i></a></span>
    </li>
    <li>
      <span>
        <a href="{{ site.baseurl }}/profile">
          <img src="http://placehold.it/100x100/000000/000000" class="avatar">
        </a>
      </span>
      <span>Anton Hikov</span>
      <span><a href="mailto:user@amara.com"><i class="icon icon-mail"></i></a></span>
    </li>
    <li>
      <span>
        <a href="{{ site.baseurl }}/profile">
          <img src="http://placehold.it/100x100/000000/000000" class="avatar">
        </a>
      </span>
      <span>Naiara Perez de Villarreal Amilburu</span>
      <span><a href="mailto:user@amara.com"><i class="icon icon-mail"></i></a></span>
    </li>
    <li>
      <span>
        <a href="{{ site.baseurl }}/profile">
          <img src="http://placehold.it/100x100/000000/000000" class="avatar">
        </a>
      </span>
      <span>Jianfeng Fan</span>
      <span><a href="mailto:user@amara.com"><i class="icon icon-mail"></i></a></span>
    </li>
    <li>
      <span>
        <a href="{{ site.baseurl }}/profile">
          <img src="http://placehold.it/100x100/000000/000000" class="avatar">
        </a>
      </span>
      <span>Joost van der Borg</span>
      <span><a href="mailto:user@amara.com"><i class="icon icon-mail"></i></a></span>
    </li>
    <li>
      <span>
        <a href="{{ site.baseurl }}/profile">
          <img src="http://placehold.it/100x100/000000/000000" class="avatar">
        </a>
      </span>
      <span>Anton Hikov</span>
      <span><a href="mailto:user@amara.com"><i class="icon icon-mail"></i></a></span>
    </li>
  </ul>
</div>