<nav class="paginator">
  {% if paginator.num_pages > 1 %}
  <ul class="paginator-list">
    <li><a class="paginator-link{% if page.number == 1 %} disabled{% endif %}" href="{{previous}}" aria-label="Previous"><span aria-hidden="true">&#xab;</span></a></li>
    {% for number, url in page.nearest_page_links %}
    <li><a class="paginator-link{% if number == page.number %} active{% endif %}"href="{{ url }}">{{ number }}</a></li>
    {% endfor %}
    <li><a class="paginator-link{% if page.number == paginator.num_pages %} disabled{% endif %}" href="{{next}}" aria-label="Next"><span aria-hidden="true">&#xbb;</span></a></li>
  </ul>
  <p class="paginator-objectCount">{{ page.start_index }}-{{ page.end_index }} out of {{ paginator.count }}</p>
  {% else %}
  <p class="paginator-objectCount">{{ page.object_list|length }} out of {{ paginator.count }}</p>
  {% endif %}
</nav>
