{% extends "videos/email_base.html" %}
{% load i18n localeurl_tags %}

{% block content %}

{% load i18n %}{% blocktrans with user.email as email %}Hi,

Thanks for joining Amara!<br/>

<p>If you created the "{{ user }}" user account on amara.org, please click the following link to confirm your email address ({{ email }}):<br/></p>

<p><a href="{{ activate_url }}">Confirm email</a></p>

<p>If you believe you've received this message in error, we apologize—feel free to ignore it. If you have any concerns, please contact us at support@amara.org.</p>

Thanks, <br/>
The Amara team
{% endblocktrans %}
{% endblock %}

{% block dont_send %} {% endblock %}
