{% extends "videos/email_base.html" %}
{% comment %}
This gets sent to the rest of the team, notifying about the new member
{% endcomment %}
{% load i18n localeurl_tags %}

{% block content %}

Hi {{ user }},<br/>

<p>Congratulations! You are now a member of the {{ team.name }} team.</p>
{% if custom_message %}
{{ custom_message|linebreaks }}
{% endif %}
<p>Check out the  <a href="{{url_base}}{% url "teams:dashboard" slug=team.slug %}">team dashboard</a></p>

Happy subtitling!<br/>
{% endblock %}
{% block dont_send %}{% endblock %}
