{% extends "videos/email_base.html" %}
{% load i18n localeurl_tags %}

{% block content %}
Dear {{ user }},</br>

<p>The {{ team.name }} team has assigned you a new task:<br/>
 {% if task_type == 'Subtitle'%}Transcribe{% else %}{{ task_type }}{% endif %} {% if task_language %}{{ task_language}}{% endif %}{% if task_type != 'Subtitle' %} subtitles for {% endif %}{{ task.team_video.video.title }}.</p>

<a href="{{url_base}}{% url "teams:perform_task"  slug=team.slug task_pk=task.pk%}">Perform this task.</a><br/>
{% endblock %}
{% block dont_send %}{% endblock %}
