{% extends "videos/email_base.html" %}
{% comment %}
This gets sent to the rest of the team, notifying about the new member
{% endcomment %}
{% load i18n localeurl_tags %}

{% block content %}

Hi {{ user }},

Great news! {{ new_member}} has joined the {{ team.name }} team as a(n) {{ role }}.

<a href="{{url_base}}{% url "messages:new" %}">Send {{ invitee }} a message</a>
 or <a href="{{url_base}}{% url "teams:members" slug=team.slug %}">view the team’s members</a>.
{% endblock %}
{% block dont_send %}{% endblock %}
