{% load i18n %}
<nav class="appnav">
  <ul>
    <li><a class="topnav-button" href="{% url "videos:watch_page" %}"><i class="icon icon-search topnav-search hidden-sm hidden-xs" aria-hidden="true"></i><span class="visible-sm visible-xs">{% trans "Search Videos" %}</span><span class="sr-only">{% trans "Search videos" %}</span></a></li>
    {% if request.user.is_anonymous %}
    <li><a class="topnav-button amaranth bold" href="{% url "auth:login" %}?next={% url "videos:create" %}#create-account">{% trans "Sign up for free" %}</a> </li>
    <li><a class="topnav-button plum bold" href="{% url "auth:login" %}?next={% if next %}{{ next|urlencode }}{% else %}{{ request.path_info|urlencode }}{% endif %}">{% trans 'Login' %}</a></li>
    {% else %}
    <li>{% if old_user_menu %}{% include "old/user-menu.html" %}{% else %}{% include "future/user-menu.html" %}{% endif %}</li>
    {% endif %}
  </ul>
</nav>
