{% load i18n %}
<nav>
  <ul class="nav navbar-nav">
    <li><a href="/recruitment/">{% trans 'Jobs' %}</a></li>
    <li><a href="{% url "videos:watch_page" %}">{% trans "Videos" %}</a></li>
    <li><a href="https://blog.amara.org/">{% trans "Blog" %}</a></li>
    <li><a href="https://support.amara.org/">{% trans "Help" %}</a></li>
    <li><a href="https://support.amara.org/support/solutions/articles/35517--i-have-a-non-technical-question-about">{% trans "Contact" %}</a></li>
    <li><a href="http://facebook.com/Amara.Community" class="text-teal"><span class="fab fa-lg fa-facebook-square"></span></a></li>
    <li><a href="http://twitter.com/AmaraSubs" class="text-teal"><span class="fab fa-lg fa-twitter-square"></span></a></li>
    <li><a href="https://www.linkedin.com/company/amara-subtitles/" class="text-teal"><span class="fab fa-lg fa-linkedin"></span></a></li>
  </ul>
</nav>
