{% load i18n %}
<nav id="mobilenav" role="navigation">
    <div class="navbar-header">
      <button type="button" class="menuToggle navbar-toggle" data-target="#collapsible-menu">
        <span class="sr-only">{% trans "Toggle navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand no-underline" href="{% if brand_url %}{{ brand_url }}{% else %}{% url "home" %}{% endif %}">{% include brand|default:"future/amara-brand.html" %}</a>
    </div>
    <div id="collapsible-menu" class="collapse">
      {% include primarynav|default:"future/navigation/primarynav.html" %}
      {% include "future/navigation/accessnav.html" %}
      {% include "future/navigation/appnav.html" with user_menu_id="user-menu-mobile" %}
    </div>
</nav>
