{% load i18n videos_tags %}
<header class="dashboardHeader">
  <h2>{% trans "Subtitling history" %}</h2>
  {% if hide_member_profile_link %}{%else%}
  <a class="small" href="{{ member_profile_url }}">See all</a>
  {% endif %}
</header>

{% if histories %}
  <table class="assignmentHistoryTable">
    <thead></thead>
    <tbody>
      {% for history in histories %}
      <tr>
        <td>
          <span data-toggle="tooltip" data-placement="top" title="{{ history.video.title_display }}">
            <a href="{{ history.video_page_url }}">{{ history.video.title_display }}</a>
          </span>
        </td>
        <td class="simpleDashboardHistoryLanguageLink"><a href="{{ history.language_page_url }}">{{ history.language }}</a></td>
        <td class="simpleDashboardHistoryDuration hidden-md visible-lg">{{ history.video.duration|format_duration }}</td>
        <td class="simpleDashboardHistoryDate">{{ history.date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if paginated %}
    {% include "future/paginator.html" %}
  {% endif %}

{% else %}
<div class="zero-state">{% trans "No subtitling history yet!" %}</div>
{% endif %}
