{% extends "future/teams/base.html" %}
{% load i18n forms dropdown %}
{% block content %}
<div class="container">
  <div class="filterBox" data-singleton-filters="sort video" data-sort-default="-created">
    {% filterbox-dropdown-button "filter-dropdown" _('Filter and Sort') %}
    {% dropdown "filter-dropdown" %}
    {% dropdown-js-item _('Type') 'type' %}
    {% dropdown-js-item _('Video') 'video' %}
    {% dropdown-js-item _('Video Language') 'video_language' %}
    {% dropdown-js-item _('Subtitle Language') 'subtitle_language' %}
    {% dropdown-js-item _('Sort') 'sort' separator=True %}
    {% enddropdown %}
    <div class="filterBox-fields">
      {% render_filter_field filters_form.type %}
      {% render_filter_field filters_form.video %}
      {% render_filter_field filters_form.video_language %}
      {% render_filter_field filters_form.subtitle_language %}
      {% render_filter_field filters_form.sort %}
    </div>
  </div>

  <div id="activity-table">{% include "future/teams/activity/table.html" %}</div>
</div>

{% endblock %}
