{% load utils_tags %}
{{ field.errors }}
{% if widget_type != "checkbox" %}
    {% if label %}
        <label for="id_{{ field.html_name }}">{{ label }}</label>
    {% else %}
        {{ field.label_tag }}
    {% endif %}
    {{ field }}
{% else %}
    <label for="id_{{ field.html_name }}">
        {{ field }} {% if label %}{{ label }}{% else %}{{ field.label }}{% endif %}
    </label>
{% endif %}

{% if help_text %}
    <p class="notation">{{ help_text }}</p>
{% else %}
    {% if field.help_text %}
        <p class="notation">{{ field.help_text }}</p>
    {% endif %}
{% endif %}
