{% extends "hands_base.html" %}

{% load i18n %}

{% block body_attrs %}id="community"{% endblock %}

{% block main_content %}
<div id="community-banner" class="top-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

      </div>
    </div>
  </div>
</div>

<div class="container whitespace">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <h1 class="community-header">{% trans 'Find your Community' %}</h1>
      <h5 class="community-header">{% trans 'Amara is home to dozens of volunteer teams that make video accessible around the globe. Look below to find a topic or organization that interests you, then join the team to get involved!' %}</h5>
    </div>
  </div>
</div>

<div class="mini-banner-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4>Accessibility</h4>
      </div>
    </div>
  </div>
</div>


<div class="container community-directory">
  <div class="row">

    <a href="//amara.org/teams/captions-requested/">
      <div class="col-xs-6 col-sm-4 col-md-3 col-md-offset-1 community-directory-listing">
        <div class="community-directory-listing-frame">
          <img src="{{ STATIC_URL }}images/community-directory/captioning.png" alt="Closed Captions CC logo" />
        </div>
        <h4>Captions Requested</h4>
        <p>Videos that deaf &amp; hard of hearing users have asked the Amara community to caption. </p>

      </div>
    </a>

    <a href="//amara.org/teams/ability/">
      <div class="col-xs-6 col-sm-4 col-md-3 community-directory-listing">
        <div class="community-directory-listing-frame">
          <img src="{{ STATIC_URL }}images/community-directory/abilitylogo.jpg" alt="Ability Magazine logotype" />
        </div>
        <h4>ABILITY Magazine</h4>
        <p>Translate with ABILITY, a magazine educating about health, disability and human potential.</p>

      </div>
    </a>

    <a href="//amara.org/en/teams/doit/">
      <div class="col-xs-6 col-sm-4 col-md-3 community-directory-listing">
        <div class="community-directory-listing-frame">
          <img src="{{ STATIC_URL }}images/community-directory/do-it.png" alt="DO-IT logo" />
        </div>
        <h4>DO-IT</h4>
        <p>DO-IT is all about empowering people with disabilities worldwide through technology and education.</p>

      </div>
    </a>

  </div>
</div>

<div class="mini-banner-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4>Art, Culture, &amp; Ideas</h4>
      </div>
    </div>
  </div>
</div>


<div class="container community-directory">
  <div class="row">

    <a href="//amara.org/teams/ted/">
      <div class="col-xs-6 col-sm-4 col-md-3 col-md-offset-1 community-directory-listing">
        <div class="community-directory-listing-frame">
          <img src="{{ STATIC_URL }}images/community-directory/ted.png" alt="TED logotype" />
        </div>
        <h4>TED</h4>
        <p>TED believes in the power of ideas to change attitudes, lives and ultimately, the world.</p>
      </div>
    </a>

    <a href="//amara.org/teams/arte/">
      <div class="col-xs-6 col-sm-4 col-md-3 community-directory-listing">
        <div class="community-directory-listing-frame">
          <img src="{{ STATIC_URL }}images/community-directory/arte.jpg" alt="ARTE logo" />
        </div>
        <h4>ARTE</h4>
        <p>This European culture channel provides programmes that foster understanding and bring people together.</p>
      </div>
    </a>

    <a href="//amara.org/teams/art21">
        <div class="col-xs-6 col-sm-4 col-md-3 community-directory-listing">
          <div class="community-directory-listing-frame">
            <img src="{{ STATIC_URL }}images/community-directory/art21.png" alt="art21 logo" />
          </div>
          <h4>Art21</h4>
          <p>Help translate stories about contemporary art and artists with this award winning NYC-based nonprofit.</p>
        </div>
      </a>

  </div>
</div>

<div class="mini-banner-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4>Education</h4>
      </div>
    </div>
  </div>
</div>


<div class="container community-directory">
  <div class="row">

    <a href="//amara.org/teams/udacity">
      <div class="col-xs-6 col-sm-4 col-md-3 col-md-offset-1 community-directory-listing">
        <div class="community-directory-listing-frame">
          <img src="{{ STATIC_URL }}images/community-directory/udacity.png" alt="Udacity logo" />
        </div>
        <h4>Udacity</h4>
        <p>Udacity brings accessible, engaging and effective higher education to the world.</p>
      </div>
    </a>

    <a href="//amara.org/teams/justinguitar/">
      <div class="col-xs-6 col-sm-4 col-md-3 community-directory-listing">
        <div class="community-directory-listing-frame">
          <img src="{{ STATIC_URL }}images/community-directory/justin.gif" alt="Justin Guitar logo" />
        </div>
        <h4>Justin Guitar</h4>
        <p>Justin Guitar does amazing guitar lessons &mdash; help make them available around the world.</p>
      </div>
    </a>

  </div>
</div>

<div class="mini-banner-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4>Entertainment</h4>
      </div>
    </div>
  </div>
</div>


<div class="container community-directory">
  <div class="row">

    <a href="//amara.org/teams/erb">
      <div class="col-xs-6 col-sm-4 col-md-3 col-md-offset-1 community-directory-listing">
        <div class="community-directory-listing-frame">
          <img src="{{ STATIC_URL }}images/community-directory/erb_logo.png" alt="Epic Rap Battles of History logotype" />
        </div>
        <h4>Epic Rap Battles of History</h4>
        <p>Who’d win in a rap battle, Skrillex or Mozart? Rasputin or Stalin? Translate for ERB and find out!</p>
      </div>
    </a>

    <a href="//amara.org/teams/snagfilms/">
      <div class="col-xs-6 col-sm-4 col-md-3 community-directory-listing">
        <div class="community-directory-listing-frame">
          <img src="{{ STATIC_URL }}images/community-directory/snag-logo-color.png" alt="SnagFilms logo" />
        </div>
        <h4>SnagFilms</h4>
        <p>SnagFilms, invites viewers to help make film accessible through closed captions.</p>
      </div>
    </a>

    <a href="//amara.org/teams/film-tv/">
        <div class="col-xs-6 col-sm-4 col-md-3 community-directory-listing">
          <div class="community-directory-listing-frame">
            <img src="{{ STATIC_URL }}images/community-directory/camera.png" alt="Camera Boom" />
          </div>
          <h4>Film and TV</h4>
          <p>A community of film and TV lovers who are getting proactive about accessibility and translation.</p>
        </div>
      </a>

  </div>
</div>

<div class="mini-banner-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4>Grassroots Media &amp; Activism</h4>
      </div>
    </div>
  </div>
</div>


<div class="container community-directory">
  <div class="row">

    <a href="//amara.org/teams/globalvoices/">
      <div class="col-xs-6 col-sm-4 col-md-3 col-md-offset-1 community-directory-listing">
        <div class="community-directory-listing-frame">
          <img src="{{ STATIC_URL }}images/community-directory/globalvoices.png" alt="Global Voices logo" />
        </div>
        <h4>Global Voices</h4>
        <p>Join an international community of bloggers and citizen media makers from around the world.</p>
      </div>
    </a>

    <a href="//amara.org/teams/engagemedia/">
      <div class="col-xs-6 col-sm-4 col-md-3 community-directory-listing">
        <div class="community-directory-listing-frame">
          <img src="{{ STATIC_URL }}images/community-directory/em.jpg" alt="EngageMedia logo" />
        </div>
        <h4>EngageMedia</h4>
        <p>EngageMedia focuses on Social Justice videos from the Asia-Pacific &mdash; help amplify their voices.</p>
      </div>
    </a>

    <a href="//amara.org/teams/attitudelive">
      <div class="col-xs-6 col-sm-4 col-md-3 community-directory-listing">
        <div class="community-directory-listing-frame">
          <img src="{{ STATIC_URL }}images/community-directory/attitudelive.png" alt="AttitudeLive logo" />
        </div>
        <h4>AttitudeLive</h4>
        <p>Help translate amazing stories about real people living with disabilities.</p>

      </div>
    </a>

  </div>
</div>

<div class="mini-banner-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4>Science &amp; Technology</h4>
      </div>
    </div>
  </div>
</div>


<div class="container community-directory">
  <div class="row">

    <a href="//amara.org/teams/calacademy/">
      <div class="col-xs-6 col-sm-4 col-md-3 col-md-offset-1 community-directory-listing">
        <div class="community-directory-listing-frame">
          <img src="{{ STATIC_URL }}images/community-directory/calacademy_logo.jpg" alt="California Academy of Sciences logotype" />
        </div>
        <h4>California Academy of Sciences</h4>
        <p>Explore the world of science with these videos from the California Academy of Sciences.</p>
      </div>
    </a>

    <a href="//amara.org/teams/sciamerican/">
      <div class="col-xs-6 col-sm-4 col-md-3 community-directory-listing">
        <div class="community-directory-listing-frame">
          <img src="{{ STATIC_URL }}images/community-directory/sciam_logo.jpg" alt="Scientific American logotype" />
      </div>
      <h4>Scientific American</h4>
      <p>Translate these videos and learn about dark matter, cosmic rays, Mars landings and more!</p>
      </div>
    </a>

    <a href="//amara.org/teams/github/">
        <div class="col-xs-6 col-sm-4 col-md-3 community-directory-listing">
          <div class="community-directory-listing-frame">
            <img src="{{ STATIC_URL }}images/community-directory/github.png" alt="GitHub logo" />
        </div>
        <h4>GitHub</h4>
        <p>Translate GitHub’s videos and help people around the world build awesome stuff together.</p>
        </div>
      </a>

  </div>
</div>

<div class="mini-banner-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4>Help Make Amara Awesome</h4>
      </div>
    </div>
  </div>
</div>


<div class="container community-directory">
  <div class="row">

    <a target="_blank" href="//transifex.com/projects/p/universalsubtitles/">
      <div class="col-xs-6 col-sm-4 col-md-3 col-md-offset-1 community-directory-listing">
        <div class="community-directory-listing-frame">
          <img src="{{ STATIC_URL }}images/community-directory/amara-site.png" alt="Amara website screenshot" />
        </div>
        <h4>Localize the Amara.org Website</h4>
        <p>Help localize the Amara website and make the platform available in your native language!</p>
      </div>
    </a>

    <a target="_blank" href="//github.com/pculture/unisubs/wiki">
      <div class="col-xs-6 col-sm-4 col-md-3 community-directory-listing">
        <div class="community-directory-listing-frame">
          <img src="{{ STATIC_URL }}images/community-directory/github-amara.png" alt="GitHub logo" />
        </div>
        <h4>Help Amara Development &amp; Testing</h4>
        <p>Check out ways that you can participate and make Amara even better.</p>
      </div>
    </a>

  </div>
</div>

{% endblock %}
