<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Embedder test for external sites.</title>
        <meta charset="utf-8" />
	<script type="text/javascript" src='/embedder-iframe'></script>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
        <style type="text/css" media="screen">
            body {
                margin: 20px 0 500px 0;
            }
            p {
                margin: 20px 0;
            }
        </style>
    </head>
    <body>
      <div class="container">
	<div class="amara-embed" data-url="http://www.youtube.com/watch?v=j8e0fBlvEMQ" data-noanalytics="true" data-embed-on-amara="true"></div>
        <hr>
	<div class="amara-embed" data-width="200px" data-url="http://www.youtube.com/watch?v=5CKwCfLUwj4" data-noanalytics="true" data-embed-on-amara="true"></div>
        <hr>
	<div class="amara-embed" data-width="600px" data-url="http://www.youtube.com/watch?v=Tpr_IDKVv9k" data-noanalytics="true" data-embed-on-amara="true"></div>
        <hr>

      </div>
    </body>
    </html>
