{% extends "future/base.html" %}
{% load cache %}
{% block body_attrs %}id="index"{% endblock %}

{% block user-menu %}
{% endblock %}
{% block content %}
<div class="container">
  <h1>Placeholder Homepage</h1>
  <p>
  This is our homepage, but there's no content in it.  That's because the
  homepage for amara.org is served by from our private repository.

  If you want to clone amara, you can put your homepage here by adding your
  private app using the optionalapps module, then updating the
  settings.HOMEPAGE_VIEW variable.
  </p>
  <hr>
  {% lorem 20 p %}
</div>
{% endblock %}
