{% load i18n amara_cache %}
{% if user.is_authenticated %}
{% cache-by-user new-top-panel %}
<a href="#" class="menu-toggle">{{ user.username }}</a>
<ul class="dropdown">
  <li>
    <a href="{% url "profiles:dashboard" %}">{% trans "Dashboard" %}</a>
  </li>
  <li>
    <a href="{% url "profiles:edit" %}">{% trans "Profile" %}</a>
  </li>
  <li>
    <a href="{% url "profiles:videos" user.username %}">{% trans "Videos" %}</a>
  </li>
  <li>
    <a href="{% url "messages:inbox" %}">
      {% trans "Messages" %}
      {% if user.unread_messages_count %}
      <span class="count">{{ user.unread_messages_count }}</span>
      {% endif %}
    </a>
  </li>
  <li>
    <a href="{% url "profiles:account" %}">
      {% trans "Account" %}
    </a>
  </li>
  <li>
    <a href="{% url "logout" %}?next=/">{% trans 'Logout' %}</a>
  </li>
  {% if user.teams.all %}
  <li class="separator">
  <strong><a href="{% url "teams:user_teams" %}">{% trans "Your Teams" %}</a></strong>
  </li>
  {% for team in user.teams.all %}
  <li>
    <a href="{% url "teams:dashboard" slug=team.slug %}">{{ team }}</a>
  </li>
  {% endfor %}
  {% endif %}
</ul>
{% endcache %}
{% else %}
<a href="{% url "auth:login" %}?next={{ request.path_info|urlencode }}">{% trans 'Sign in / Sign up' %}</a>
{% endif %}
