{% load i18n %}
<header class="main group">
    <div class="site">
        <h1>{{ title }}</h1>
        <div class="video-title">
            <a title="{% trans "Edit title and description" %}" href="#" ng-click="onTitleClicked($event)"><img src="{{ STATIC_URL }}images/subtitle-editor/glyphicons_030_pencil.png"></img></a>
            <a title="{% trans "Edit title and description" %}" href="#" ng-click="onTitleClicked($event)">[[ displayedTitle() ]]
            </a>
        </div>
    </div>
    <div class="session">
        {% if DEBUG %}
        <button href="#" ng-click="dialogManager.onOpenClick('debug', $event)">Debug</button>
        {% endif %}
        <button class="discard" ng-click="onExitClicked($event)">Exit</button>
        <button ng-hide="noLinkToLegacy" class="go-to-legacy-editor" ng-click="onLegacyEditorClicked($event)">Legacy Editor</button>
        <button class="save" ng-if="session.allowSaveDraft()" ng-disabled="!session.subtitlesChanged" ng-click="onSaveDraftClicked($event)">{% trans "Save Draft" %}</button>
    </div>
</header>
