{% load i18n %}
<div class="help-panel">
    <!-- not ready for release just yet
       <a class="advanced" ng-click="showAdvancedModal()">Advanced &raquo;</a>
   -->

    <h1>{% trans "Keyboard controls" %}&nbsp;&nbsp;&nbsp;<a href="" ng-click="onMoreControlsClicked($event)">{% trans "more commands" %} &#187;</a></h1>
    <div ng-show="workflow.stage == 'typing'">
        <div class="instruction-item reddish-pink-key clickable" ng-click="handleMouseKeyDown('9')">
            <div class="key-pattern">Tab</div>
            <div class="shortcut-desc">{% trans "Play / Pause" %}</div>
        </div>
        <div class="instruction-item lighter-blue-key clickable" ng-click="handleMouseKeyDown('9-shift')">
            <div class="key-pattern">Shift</div>
            <div class="key-pattern small">+</div>
            <div class="key-pattern">Tab</div>
            <div class="shortcut-desc">{% trans "Skip back" %}</div>
        </div>
        <div class="instruction-item blue-key">
            <div class="key-pattern">Shift</div>
            <div class="key-pattern small">+</div>
            <div class="key-pattern">Enter</div>
            <div class="shortcut-desc">{% trans "Insert a line break" %}</div>
        </div>
    </div>
    <div ng-show="workflow.stage == 'syncing'">
        <div class="instruction-item reddish-pink-key clickable" ng-click="handleMouseKeyDown('9')">
            <div class="key-pattern">Tab</div>
            <div class="shortcut-desc">{% trans "Play / Pause" %}</div>
        </div>
        <div class="instruction-item lighter-blue-key clickable" ng-click="handleMouseKeyDown('9-shift')">
            <div class="key-pattern">Shift</div>
            <div class="key-pattern small">+</div>
            <div class="key-pattern">Tab</div>
            <div class="shortcut-desc">{% trans "Skip back" %}</div>
        </div>
        <div class="key-row">
            <div class="instruction-item teal-key clickable" ng-click="handleMouseKeyDown('40')">
                <div class="key-pattern small">
                    <img src="{{ STATIC_URL }}images/subtitle-editor/down_arrow.png"></img></div>
                <div class="shortcut-desc">{% trans "Start subtitle" %}</div>
            </div>
            <div class="instruction-item-small"></div>
            <div class="instruction-item blue-key clickable" ng-click="handleMouseKeyDown('38')">
                <div class="key-pattern small">
                    <img src="{{ STATIC_URL }}images/subtitle-editor/up_arrow.png"></img></div>
                <div class="shortcut-desc">{% trans "End subtitle" %}</div>
            </div>
        </div>
    </div>
    <div ng-show="(workflow.stage == 'review')">
        <div class="instruction-item reddish-pink-key clickable" ng-click="handleMouseKeyDown('9')">
            <div class="key-pattern">Tab</div>
            <div class="shortcut-desc">{% trans "Play / Pause" %}</div>
        </div>
        <div class="instruction-item lighter-blue-key clickable" ng-click="handleMouseKeyDown('9-shift')">
            <div class="key-pattern">Shift</div>
            <div class="key-pattern small">+</div>
            <div class="key-pattern">Tab</div>
            <div class="shortcut-desc">{% trans "Skip back" %}</div>
        </div>
        <div class="instruction-item blue-key">
            <div class="key-pattern">Shift</div>
            <div class="key-pattern small">+</div>
            <div class="key-pattern">Enter</div>
            <div class="shortcut-desc">{% trans "Insert a line break" %}</div>
        </div>
    </div>
    <ng-switch on="showTeamGuidelines()">
    <a class="guidelines-link" ng-switch-when="true" title="" href="" ng-click="onGuidelinesClicked($event)">[[ teamName ]] Guidelines &#187;</a>
    <a class="guidelines-link" ng-switch-when="false" title="" href="" ng-click="onGuidelinesClicked($event)">{% trans "Subtitling Guidelines" %} &#187;</a>
    </ng-switch>
    <a class="playback-mode-link" title="" href="" ng-click="onPlaybackModeClicked($event)">
        {% trans "Playback Mode:" %} [[ playbackMode.name ]]
        &#187;
    </a>
</div>
