<div class="language-selections group toolbar"
    language-selector
    ng-controller="LanguageSelectorController">
    <div class="select" ng-show="languages">
        <select name="language"
            ng-model='language'
            ng-options="(item.name + (item.isPrimaryAudioLanguage? ' (original)' : '')) for item in languages | orderBy:'name'">
        </select>
    </div>
    <div class="select" ng-show="versions">
        <select name="version" class="version-select">
            <option
            ng-repeat='thisVersion in versions'
            ng-selected='version == thisVersion'
            value="[[thisVersion.version_no]]">
            [[thisVersion|versionDropDownDisplay]]</option>
        </select>
    </div>
</div>
<div class="subtitles-wrapper">
    <div class="reference subtitles" subtitle-scroller="reference-subtitle-set">
        <ul class="subtitle-list"
            subtitle-repeat="referenceSubtitles.subtitleList"
            dir="[[ referenceSubtitles.language.dir ]]"
            read-only="yes"></ul>

    </div>
    <a ng-click="toggleScrollingSynced()" ng-show="referenceSubtitles.subtitleList.length() > 0"
        ng-class="{ locked: scrollingSynced, unlocked: !scrollingSynced }"
        class="scroll-lock">
    </a>
</div>
