{% load i18n %}
<div ng-switch-when="review">
    <h2>[[ workMode.heading ]]</h2>

    <h3>[[ workMode.helpText ]]</h3>
    <p>
    <a class="edit-metadata" href="#" ng-click="onEditTitleClicked($event)">{% trans "Edit title and description." %}</a>
    </p>
    {% include "./workflow-errors-review.html" %}
    <div class="actions">
        <button ng-repeat="action in actions" ng-disabled="!action.canPerform()" ng-class="{disabled: !action.canPerform()}" class="[[ action.class ]]" ng-click="action.perform()" title="[[ action.tooltip() ]]">
            [[ action.label ]]
        </button>
    </div>
</div>
