{% extends "styleguide/base.html" %}
{% load forms %}
{% block "content" %}

<p>
You can use dynamic help texts if you want certain inputs to change help text depending on the selected option/value. Good example of this is the general team settings page (team.forms.GeneralSettingsForm)

Current implementations include ui.forms.fields.AmaraChoiceFieldMixin and ui.forms.widgets.AmaraRadioSelect
</p>

<div class="content">
<form>
    {% render_field form.field_using_enum %}
    {% render_field form.field_using_list %}
    {% render_field form.field_using_radio %}
</form>
</div>

{% endblock %}
