{% extends "styleguide/base.html" %}
{% load forms dropdown %}
{% block content %}
<p>filterBox is a flexible system to allow users to filter content.</p>

<p>When the filters are changed, we will make an AJAX request to the current URL.  Respond using AJAXResponseRenderer to update the page.</p>

<p>If a sort has a default value, use data-[name]-default to specify it.  Then if a user chooses that value, we won't display the filter.</p>

<p>Filterbox is often combined with the listView and/or contentHeader elements.</p>

<div class="filterBox">
  {% filterbox-dropdown-button "dropdown-id" "Add a filter&hellip;" %}
  {% dropdown "dropdown-id" %}
  {% dropdown-js-item 'Color' 'color' %}
  {% dropdown-js-item 'Shape' 'shape' %}
  {% enddropdown %}
  <div class="filterBox-fields">
    {% render_field form.color %}
    {% render_field form.shape %}
  </div>
</div>

<h2>Test content:</h2>
<div id="content-list">{% include "styleguide/filter-box-content.html" %}</div>
{% endblock %}
