{% extends "styleguide/base.html" %}
{% load forms %}
{% block content %}

<p>
These work like checkboxes, but display an different message for the on/off
state.  We use this as an alternate way to present a yes/no choice.
</p>

<form method="POST">
  {% csrf_token %}
  {% render_field form.choice reverse_required=True %}
  {% render_field form.inline_choice reverse_required=True %}
  <div class="form-actions">
    <button class="button cta" type="submit">Submit</button>
  </div>
</form>
{% endblock %}

