{% load i18n forms modal captureas %}
{% captureas title %}{% blocktrans count count=selection_count %}Deny Application{{ team }}?{% plural %}Deny Applications{% endblocktrans %}{% endcaptureas %}
{% startmodal "deny-dialog" title %}
<form class="ajaxForm" method="POST" action="{{ request.get_full_path }}" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="modal-content">
    <p>
    {% blocktrans count count=selection_count %}
    Are you sure that you want to deny the application for {{ team }}?
    {% plural %}
    Are you sure that you want to deny {{ count }} applications for {{ team }}?
    {% endblocktrans %}
    </p>
    {% include "future/forms/non-field-errors.html" %}
  </div>
  <div class="modal-footer">
    <button class="button cta-reverse modal-close">{% trans "Cancel" %}</button>
    <button class="button cta">{% trans "Deny" %}</button>
</form>
{% endmodal %}
