{% load i18n %}
{% if msg_count %}
<ul class="announce-banner">
  <li>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="note">
              {% blocktrans %}
                  You have {{ msg_count }} new messages.
              {% endblocktrans %}
              <a href="{% url "messages:inbox" %}">{% trans 'View all' %}</a>
              <a href="#" class="hide-messages">{% trans "Hide" %}</a>
              <script type="text/javascript">
                  $('.note .hide-messages').click(function(){
                      var $this = $(this);
                      $this.parents('.announce-banner').hide();
                      $.post("/auth/set-hidden-message-id/", {
                        csrfmiddlewaretoken: Cookies.get('csrftoken'),
                        message_id: {{ last_message_id }}
                      })
                      return false;
                  });
              </script>
          </div>
        </div> <!--/col-xs-12-->
      </div> <!--/row-->
    </div> <!--/container-->
  </li>
</ul>
{% endif %}
