{% extends "messages/base.html" %}

{% load paginator i18n %}

{% block body-class %}new-message {{ block.super }}{% endblock %}
{% block html_attrs %}id="messages_new"{% endblock %}

{% block title %}
    {% trans 'Messages - New' %} | Amara
{% endblock %}

{% block view_content %}
    <form action="" method="post">
        {% csrf_token %}

        <fieldset>
            <legend>Compose a Message</legend>

            {{ form.non_field_errors }}

            <div class="group">
                <div class="recipient">
                    <label for="">Recipient</label>
                    {{ form.errors.user }}
                    <div class="ajaxChosen">
                        <select id="id_user" name="user">
                            <option value="">-----</option>
                            <option value="">Begin typing to search.</option>
                            {% if selected_user %}
                                <option selected="selected" value="{{ selected_user.id }}">{{ selected_user.display_username }}
                                    {% if selected_user.get_full_name %}
                                        ({{ selected_user.get_full_name }})
                                    {% endif %}
                                </option>
                            {% endif %}
                        </select>
                    </div>
                </div>

                {% if not request.GET.user and request.user.messageable_teams %}
                    <div class="or">-- or --</div>
                    <div class="team">
                        <label for="id_team">Team</label>
                        {{ form.errors.team }}
                        {{ form.team }}
                    </div>
                    <div class="language">
                        <label for="id_language">Speaking</label>
                        {{ form.errors.language }}
                        {{ form.language }}
                    </div>
                {% endif %}
            </div>
            <label for="id_subject">Subject</label>
            {{ form.errors.subject }}
            {{ form.subject }}

            <label for="id_content">Message</label>
            {{ form.errors.content }}
            {{ form.content }}
        </fieldset>

        <div class="submit">
            <button>Send</button>
        </div>
    </form>
{% endblock %}
