{% load i18n_tags %}
<li class="selectList-item">
  <div class="checkbox">
    <input value="{{ application.id }}" id="application-{{ application.id }}" type="checkbox" class="selectList-checkbox">
    <label for="application-{{ application.id }}"><span class="checkbox-icon"></span></label>
  </div>
  <div>
    <a href="{{ application.user.profile_url }}">{{ application.user.avatar_tag_large }}</a>
  </div>
  <div>
    <nav class="actions">
      <form class="ajaxForm copyQuery" method="GET" action="{{ request.path }}">
        <input class="selectList-selection" type="hidden" name="selection" value="{{application.id}}">
        <button class="inline" type="submit" name="form" value="approve">
          <i class="icon icon-check"></i>
        </button>
        <button class="inline" type="submit" name="form" value="deny">
          <i class="icon icon-close"></i>
        </button>
        <a class="button inline" type="action" href="{% url "messages:new" %}?user={{ application.user.username }}">
          <i class="icon icon-mail"></i>
        </a>
      </form>
    </nav>
    <h3><a href="{{ application.user.profile_url }}">{{ application.user.display_name }}</a></h3>
    <p>{{ application.user.get_languages|to_localized_display_list }}</p>
    <div class="clamp">
      <div class="clamp-lines clamp-sm-3 clamp-xs-2">
        {{ application.note|linebreaks }}
      </div>
      <a class="clamp-expand">More <i class="icon icon-down"></i></a>
      <a class="clamp-collapse">Less <i class="icon icon-up"></i></a>
    </div>
  </div>
</li>
