<div class="input-group fileUpload">
  <input type="text" class="fileUpload-text" readonly />
  {% if widget.is_initial %}{{initial_text}}: <a href="{{value.url}}">{{value}}</a>
  {% if not widget.required %}
  <input type="checkbox" name="{{checkbox_name}}" id="{{checkbox_id}}" />
  <label for="{{checkbox_id}}">{{clear_checkbox_label}}</label>
  {% endif %}
  {{input_text}}:{% endif %}
  <label class="input-group-btn">
    <span class="button buttonFile">
      Browse&hellip; <input type="file" name="{{name}}" style="display: none;" {% if value != None %}value="{{value|stringformat:'s'}}"{% endif %} {% include "widget/attrs.html" %} multiple />
    </span>
  </label>
</div>
