{% extends "future/teams/base.html" %}
{% load i18n teams_tags %}

{% block content %}

<section>
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
	  <h1>{{ member_user.get_full_name }}</h1>
	  <p>{{ member_user.display_username }}</p>
	  <div class="profileWell">
	    <div class="row middle-xs">
	      <div class="col-xs">
		{{ member_user.avatar_tag_extra_large }}
	      </div>
	      <div class="col-xs">
		<h3>{{ member.get_role_display }} <a class="no-underline" href="{{ member_user.send_message_url }}"><i class="icon icon-mail"></i></a></h3>
		<p><!--
		  <a href="{% url "teams:activity" team.slug %}">{% trans "See team activity" %}</a><br>-->
		  <a href="{% url "profiles:profile" member_user.username %}">{% trans "See full profile" %}</a>
		</p>
	      </div>
	    </div>
	    <hr>
	    <div class="row">
	      <div class="col-xs">
		{% with member_user.get_language_names as languages %}
		<h4>{% trans "Languages" %}</h4>
		{% if languages %}
		<ul class="unstyled">
		  {% for language in languages %}
		  <li>{{ language }}</li>
		  {% endfor %}
		</ul>
		{% else %}
		<em>
		  {{ member_user }} {% trans "hasn't selected languages yet." %}
		</em>
		{% endif%}
		{% endwith %}
	      </div>
	    </div>
	  </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-lg-9">
	  {% block main_content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
