{% load i18n teams_tags utils_tags old_query_string %}

<h2 class="main-title">
    <a href="" title="permalink">{{ team }}</a>
</h2>
{% if team.description %}
    <div id="description"{% if team.description|length > 300 %} class="abbr collapsed"{% endif %}>
        <div>
            {{ team.description|urlize|linebreaks }}
        </div>
        {% if team.description|length > 300 %}
            <a class="expand" href="#">{% trans 'Show all' %} ↓</a>
        {% endif %}
    </div>
{% endif %}
{% team_projects team as projects %}
{% if projects|length > 0 %}
    <div id="projects-list">
        <div>
            <h4>{% trans 'Projects' %} ({{ projects|length }})</h4>
            <ul {% if projects|length > 6 %} class="list-collapsible"{% endif %}>
                {% for project in projects %}
                    <li {% if forloop.counter > 6 %} class="hidden"{% endif %}>
                        {% if '/tasks/' in request.path %}
                            <a href="{% url "teams:team_tasks" team.slug %}{% query_string request.GET project=project.slug %}">
                        {% else %}
                            <a href="{% url "teams:videos" team.slug %}{% query_string request.GET project=project.slug %}">
                        {% endif %}
                            {{ project }}
                            <span class="count">
                                {{ project.videos_count }}
                                {% trans 'video' %}{{ project.videos_count|pluralize }}
                            </span>
                        </a>
                    </li>
                {% endfor %}
                {% if projects|length > 6 %}
                    <li class="expand">
                        <a href="#"><span class="all">{% trans 'Show all' %} ↓</span><span class="less">{% trans 'Show less' %} ↑</span></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}
{% team_metrics team member projects %}
{% if member %}
    <h3>Member Tools</h3>
    {% if team.workflow_enabled %}
        {% if team.max_tasks_per_member or team.task_expiration %}
            <p class="notation policy">
            {% if team.max_tasks_per_member %}
            <strong>{{ team.max_tasks_per_member }}</strong> task{{ team.max_tasks_per_member|pluralize }} per member{% if team.task_expiration %} • {% endif %}
            {% endif %}
            {% if team.task_expiration %}
                <strong>{{ team.task_expiration }}</strong> day{{ team.task_expiration|pluralize }} per task
            {% endif %}
            </p>
        {% endif %}
    {% endif %}
    <ul>
        <li>
            {% trans "Your role:" %}
            {{ team|user_role:user|capfirst }}
            {% if member.language_narrowings_fast or member.project_narrowings_fast %}
                {% if member.project_narrowings_fast %}{% trans 'for' %} {% for narrowing in member.project_narrowings_fast %}{% if forloop.last and not forloop.first %}{% trans 'and' %} {% endif %}<em>{{ narrowing.project.name }}</em>{% if not forloop.last %}, {% endif %}{% endfor %} {% trans "project" %}{{ member.project_narrowings_fast|length|pluralize }}{% if member.language_narrowings_fast %} {% trans 'and' %} {% endif %}{% endif %}
                {% if member.language_narrowings_fast %}{% trans 'for' %} {% for narrowing in member.language_narrowings_fast %}{% if forloop.last and not forloop.first %}{% trans 'and' %} {% endif %}<em>{{ narrowing.get_language_display }}</em>{% if not forloop.last %}, {% endif %}{% endfor %} {% trans "language" %}{{ member.language_narrowings_fast|length|pluralize }}{% endif %}
            {% endif %}
        </li>
        {% if team.workflow_enabled %}
            <li>
                <a href="{% url "teams:team_tasks" team.slug %}?assignee=me&project=any&lang=all">{% trans 'Your tasks' %}</a>
                ({{ team|user_tasks_count:user }})
            </li>
            <li>
                <a href="{% url "teams:team_tasks" team.slug %}?project=any">{% trans 'All available tasks' %}</a>
            </li>
        {% endif %}
        {% if team|can_leave_team:user %}
            <li><a id="leave" onclick="return confirm('{% trans "Do you really wish to leave this team?" %}')" href="{% url "teams:leave" team.slug %}">{% trans "Leave team" %}</a></li>
        {% endif %}
    </ul>
{% endif %}

{% if team.team_public %}
    <h3>{% trans 'Share' %}</h3>
    <ul class="buttons">
        <li><a href="#" onclick="return share_on_facebook(event);" class="facebook" title="{% trans 'Post to Facebook' %}">{% trans 'Post to Facebook' %}</a></li>
        <li><a href="http://twitter.com/share/?text={{ team.name|urlencode }} on Amara&url={{ request.build_absolute_uri|urlencode }}" target="post_to_twitter" class="twitter" title="{% trans 'Post to Twitter' %}">{% trans 'Post to Twitter' %}</a></li>
        <li class="unisubs-facebook-like"><iframe src="https://www.facebook.com/plugins/like.php?href={{ request.build_absolute_uri|urlencode }}&layout=button_count&show_faces=false&width=150&action=like&colorscheme=light&height=25" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:25px; padding: .45em .25em;" allowTransparency="true"></iframe></li>
    </ul>
{% endif %}

<script type="text/javascript">
    function share_on_facebook(event) {
        window.open('http://www.facebook.com/sharer.php?u={{ request.build_absolute_uri|urlencode }}&t={{ team.name|urlencode }} on Amara', 'post_to_fb', 'status=0,width=560,height=320');
        return false;
    }
    $(function() {
        $('a.expand', 'div#projects-list').toggle(function() {
            $(this).parent().toggleClass('collapsed');
            $(this).text('{% trans "Show less" %} ↑');
            return false;
        }, function() {
            $(this).parent().toggleClass('collapsed');
            $(this).text('{% trans "Show all" %} ↓');
            return false;
        });
    });
</script>

<p class="notation">{% trans "Want to create your own subtitling team? Contact " %} <a href="mailto:enterprise@pculture.org">enterprise@pculture.org</a></p>
