{% load i18n teams_tags %}

<ul class="tabs">
    <li{% if current == "dashboard" %} class="current" {% endif %}>
        <a href="{% url "teams:dashboard" team.slug %}">
            {% trans "Dashboard" %}
        </a>
    </li>
    {% for page in team|extra_pages:request.user %}
    <li{% if current == page.name %} class="current" {% endif %}>
        <a href="{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endfor %}
    <li{% if current == "videos" %} class="current" {% endif %}>
        <a href="{% url "teams:videos" team.slug %}">
            {% trans "Videos" %}
        </a>
    </li>
    <li{% if current == "members" %} class="current" {% endif %}>
        <a href="{% url "teams:members" team.slug %}">
            {% trans "Members" %}
        </a>
    </li>
    {% if team|is_team_member:user %}
    <li{% if current == "activity" %} class="current" {% endif %}>
        <a href="{% url "teams:activity" team.slug %}">
            {% trans "Activity" %}
        </a>
    </li>
    {% endif %}

    {% if team|is_team_member:user %}
        {% if team|can_view_settings_tab:user %}
            <li{% if current == "settings" %} class="current" {% endif %}>
                <a href="{% url "teams:settings_basic" slug=team.slug %}">
                    {% trans "Settings" %}
                </a>
            </li>
        {% endif %}
    {% endif %}
</ul>
