{% load i18n teams_tags to_json %}

<li class="team_video_listing_{{ team_video.id }}">

    <div class="thumb">
        <a href="{% url "videos:video" video_id=video.video_id %}" title="{{ video.title_display }}">
            <img src="{{ video.get_thumbnail}}" alt="{{ video.title_display }} thumbnail">
        </a>
        {% with tasks=video.num_tasks language_count=video.num_completed_languages %}
            {% if tasks %}
                <a href="{% url "teams:team_tasks" slug=team.slug %}?team_video={{ team_video.id }}&lang=all&assignee=anyone" class="languages">
                    {% blocktrans count tasks as num %}
                        {{ num }} language needed
                    {% plural %}
                        {{ num }} languages needed
                    {% endblocktrans %}
                </a>
            {% else %}
                <a href="{% url "videos:video" video_id=video.video_id %}" class="languages">
                    {% blocktrans count language_count as num %}
                        {{ num }} language
                    {% plural %}
                        {{ num }} languages
                    {% endblocktrans %}
                </a>
            {% endif %}
        {% endwith %}
        <h4>
            <a href="{% url "videos:video" video_id=video.video_id %}" title="{{ video.title_display }}">{{ video.title_display|truncatewords:9 }}</a>
        </h4>
    </div>
    <ul class="admin-controls">
        {% with team_video|can_edit_video:request.user as can_edit_this_video %}
            {% if can_edit_this_video %}
                {% if team.slug|lower == 'tedx-import' or team.slug|lower == 'tedxtalks-prep' or team.slug|lower == 'tedxtalks-import' %}
                    <li>
                        <a href="{% url "videos:set_original_language" video.video_id %}" title="Set language">Set language</a>
                    </li>
                {% endif %}
                {% if team.workflow_enabled %}
                    <li>
                        <a href="{% url "teams:team_tasks" slug=team.slug %}?team_video={{ team_video.id }}" title="Manage tasks">{% trans 'Tasks' %}</a>
                    </li>
                {% endif %}

                <li>
                    <a href="{% url "teams:team_video" team_video_pk=team_video.id %}" title="Edit this video">{% trans 'Edit' %}</a>
                </li>

                <li>
                    <form action="{% url "teams:remove_video" team_video_pk=team_video.id %}" method="post" style="display: none;">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}" />
                    </form>
                    <a class="remove-video open-modal" href="#remove-modal" title="Remove this video from the team">{% trans 'Remove' %}</a>
                </li>
            {% endif %}
        {% endwith %}
    </ul>


    <script type="text/javascript">
        $('a.team_video_{{ team_video.id }}').click(function(){
            unisubs.api.openUnisubsDialogOnsite(
                '{{video.video_id}}',
                '{{video_url}}',
                GLOBAL_WIDGET_SETTINGS
            );
            return false;
        });
    </script>
</li>
