{% extends "teams/base.html" %}

{% load i18n teams_tags widget %}

{% block title %}
    {% trans 'Team video' %} | Amara
{% endblock %}

{% block view_content %}
    <div class="view grid_8 omega">
        {% with 'videos' as current %}
            {% include 'teams/_tabs.html' %}
        {% endwith %}

        <form method='post' action="." enctype="multipart/form-data" class="add-video">
            <h3>{% trans 'Add video' %}</h3>
            <fieldset>
                {% include "_form_field.html" with field=form.video_url %}
                {% if team.has_projects %}
                    {% include "_form_field.html" with field=form.project %}
                {% else %}
                    <input type="hidden" name="project" value="{{ team.default_project.slug }}" />
                {% endif %}
                {% include "_form_field.html" with field=form.thumbnail %}
            </fieldset>

            <div class="submit">
                <button>{% trans 'Save' %}</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
