{% extends "teams/base.html" %}

{% load i18n teams_tags paginator %}

{% block title %}
    {{ team }} {% trans 'Team Approvals' %} | Amara
{% endblock %}

{% block html_attrs %}id="team_approvals"{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function() {
            $select = $("select#lang-filter, select#role-filter", ".tools");
            $select.change(function(e) {
                window.location = $(this).children('option:selected').attr('value');
            });
        });
    </script>
{% endblock %}

{% block view_content %}

    <div class="view grid_8 omega">
        {% with 'tasks' as current %}
            {% include 'teams/_tabs.html' %}
        {% endwith %}
        <div class="tools group">
          <form action="" method="get" class="search">
            <fieldset>
              {% if project_filter %}
              <input type="hidden" name="project" value="{{ project_filter }}" />
              {% endif %}
              {% if language_filter %}
              <input type="hidden" name="lang" value="{{ language_filter }}" />
              {% endif %}
            </fieldset>
          </form>  
          <a href="#filter" id="sort-filter">
            {% trans 'Filter' %}
            <span></span>
          </a>
        </div>
        <form class="filters videos-list group no-ajax{% if filtered %} active{% endif %}" action="" method="GET">
            <input type="hidden" name="q" value="{{ query }}" />
            <button class="reduced" id="update">Update</button>
            {% if filtered %}
            <a href="{% url "teams:videos" team.slug %}{% if query %}?q={{ query }}{% endif %}" class="button cancel">Clear</a>
            {% endif %}
            <div class="group">
                <div class="filter-chunk">
                    <span class="inner">{% trans 'Project:' %}</span>
                    <select name="project" id="project">
                        <option value="any"{% if project == None %} selected="selected"{% endif %}>{% trans 'any' %}</option>
                        {% for project_choice in project_choices %}
                        <option {% if project == project_choice %}selected="selected"{% endif %} value="{{ project_choice.slug }}">{{ project_choice.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter-chunk">
                    {% trans 'Language:' %}
                    <select name="lang" id="lang">
                        <option value="any"{% if language_code == None %}selected="selected"{% endif %}>{% trans 'any' %}</option>
                        {% for label, choices in language_choices %}
                        <optgroup label="{{ label }}">
                          {% for code, name in choices %}
                            <option {% if language_code == code %}selected="selected"{% endif %} value="{{ code }}">{{ name }}</option>
                          {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
	<div>
	  <h3>{% trans "Bulk Accept Unassigned Approval Tasks" %}</h3>
	  <p><em>{% trans "Tasks in white rows haven't been modified in more than 3 weeks." %}</em></p>
	</div>
        {% if approvals_list %}
	<form method="post" action="">{% csrf_token %}
	  <span class="bulk-actions">
	    <input type="checkbox" class="bulk-select" name="bulk"><a href="" class="bulk-select">{% trans "Select/Deselect all" %}</a>
	    <button type="submit" name="approve">{% trans "Approve selected" %}</button>
	  </span>
          {% if is_paginated %}{% paginator %}{% endif %}
          <table border="1" class="simple-list members listing">
	    <tr>
	      <th> </th>
	      <th>{% trans 'Video' %}</th>
	      <th>{% trans 'Project' %}</th>
	      <th>{% trans 'Language' %}</th>
	      <th>{% trans 'Last modified' %}</th>
	    </tr>
                {% for item in approvals_list %}
                <tr class="{{ item.modified|recent:now }}">
		  <td>
		    <input class="bulkable" type="checkbox" value="{{item.id}}" name="approvals[]">
		  </td>
		  <td>
		    {% with item.get_subtitle_version as version %}
                      {% if version %}
		        <a href="{{ version.get_absolute_url }}"  target="_blank">{{ item.team_video }}</a><br/>
		        <div class="one-line-summary">{% trans 'Title:' %} {{ version.title }}</div>
		        <div class="one-line-summary">{% trans 'Description:' %} {{ version.description }}</div>
		      {% else %}
		        {{ item.team_video }}
		      {% endif %}
		    {% endwith %}
		  </td>
		  <td>
		    {{ item.team_video.project|display_project:"None" }}
		  </td>
		  <td>
		    {{ item.language|display_language }}
		  </td>
		  <td>
		    {{ item.modified }}
		  </td>
                </tr>
                {% endfor %}
          </table>
            {% if is_paginated %}{% paginator %}{% endif %}
	    <span class="bulk-actions">
	      <input type="checkbox" class="bulk-select" name="bulk"><a href="" class="bulk-select">{% trans "Select/Deselect all" %}</a>
	      <button type="submit" name="approve">{% trans "Approve selected" %}</button>
	    </span>
	</form>
        {% else %}
            <p class="empty">{% trans "There are no approvals right now" %}...</p>
        {% endif %}
    </div>
    
{% endblock %}
