{% extends "teams/base.html" %}

{% load i18n i18n_tags to_json utils_tags teams_tags paginator media_bundle profiles_tags videos_tags %}

{% block title %}
    {% trans 'Dashboard' %} - {{ team }} | Amara
{% endblock %}

{% block body_attrs %}class="v1 team_dashboard" id="teams"{% endblock %}
{% block html_attrs %}id="team_dashboard"{% endblock %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% media_bundle "teams.js" %}
    <script src="{% url "teams:rpc_api" %}" type="text/javascript"></script>
    <script type="text/javascript">
        window.ASSIGN_TASK_AJAX_URL = '{% url "teams:assign_task_ajax" slug=team.slug %}';
        window.CURRENT_USER_ID = {% firstof request.user.id -1 %};
        window.TEAM_SLUG = '{{ team.slug }}';
    </script>
{% endblock %}

{% block view_content %}

    {% block select_language_dialog %}
        {% if not team|is_team_member:user %}
            {% url "teams:join" slug=team.slug as redirect_url %}
            {% select_language_dialog hide_link="True" redirect=redirect_url %}
        {% else %}
            {% select_language_dialog hide_link="True" %}
        {% endif %}
    {% endblock %}
    <div class="grid_8 view omega{% if team.get_workflow.requires_review_or_approval %} moderated{% endif %}{% if team.workflow_enabled %} task-enabled{% endif %}">
          {% with "dashboard" as current %}
              {% if not project %}
                  {% include 'teams/_tabs.html' %}
              {% else %}
                  {% include 'teams/_tabs_projects.html' %}
              {% endif %}
          {% endwith %}

        {% if team|is_team_member:user %}
            {% if user_tasks %}
                <h3>
                    {% trans "Videos you're working on" %}
                    <a href="{% url "teams:team_tasks" team.slug %}?assignee=me&lang=all">Manage your tasks</a>
                </h3>

                <ul class="listing tasks yours">
                    {% for task in user_tasks %}
                        <li>
                            <h3><a href="{{ task.team_video.video.get_absolute_url }}" title="View video">
                                {{ task.team_video.video.title_display|truncatechars:30 }}
                            </a></h3>
                            <a href="{{ task.team_video.video.get_absolute_url }}" class="thumb"><img src="{{ task.team_video.get_thumbnail }}" alt="{{ task.team_video.title }}"></a>
                            <ul class="actions">
                                <li>
                                    {% include "teams/_perform_task_link.html" %}
                                </li>
                                {% if task.expiration_date != None %}
                                    <li>
                                        {% if task.future %}
                                            <span class="due">{% trans "Due in" %} {{ task.expiration_date|timeuntil }}</span>
                                        {% else %}
                                            <span class="due overdue">{% trans "Overdue by" %} {{ task.expiration_date|timesince }}</span>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% else %} {# user has no tasks #}
                <div class="get-started">
                    <h3>{% trans "Helping out is easy!" %}</h3>
                    <p>
                        {% blocktrans %}
                            Just find a video that interests you and click the button below it to get started!
                        {% endblocktrans %}
                    <p>
                    <p class="prompt"><a href="http://support.amara.org/support/home">{% trans "Learn more" %}</a>{% trans " about subtitling in Amara." %}</p>
                </div>
            {% endif %}
        {% else %} {# user is not a team member #}
            <div class="get-started">
                <h3>{% trans "Welcome!" %}</h3>
                {% if not team.is_open and not team.is_by_application %} {# team is by invite only #}
                    <p>This team is invitation only. If you're interested in helping out, <a href="{% url "teams:admin-list" slug=team.slug %}">contact a team admin</a>.</p>
                {% else %}
                    <p>
                        {% blocktrans %}
                            We need your help subtitling our videos!
                        {% endblocktrans %}
                    </p>
                    {% include "teams/_join.html" %}

                {% endif %}
            </div>
        {% endif %}

        {% if videos %}
            <h3>
                {% if member %}
                    {% trans "Videos that need your help" %}
                {% else %}
                    {% trans "Some of the videos we're working on now" %}
                {% endif %}
            </h3>
            {% if member and team_messages.pagetext_warning_tasks %}
                <h4 class="warning">
	            {{ team_messages.pagetext_warning_tasks }}
                </h4>
            {% endif %}
            {% if user.is_authenticated and not user.get_languages %}
                <p class="prompt">
                    <a href="#" data-modal="language_modal" id="lang_select_btn">{% trans 'Tell us what languages you speak' %}</a> {% trans "and we'll personalize this list for you" %}
                </p>
            {% endif %}

            {% if not member.has_max_tasks %}

                <ul class="listing videos">
                    {% for team_video in videos %}
                        <li>
                            <div class="thumb">
                                <a href="{{ team_video.video.get_absolute_url }}" title="{{ team_video.video.title_display }}">
                                    <img src="{{ team_video.get_thumbnail }}" alt="{{ video.title }}">
                                </a>
                                <h4>
                                    <a href="{{ team_video.video.get_absolute_url }}" title="{{ team_video.video.title_display }}">
                                        {{ team_video.video.title_display|truncatewords:15 }}
                                        {% if team_video.video.duration %}
                                            <span class="duration">{{ team_video.video.duration|format_duration }}</span>
                                        {% endif %}
                                    </a>
                                </h4>
                            </div>
                            {% if team|is_team_member:user %}
                                <div class="langs">
                                    {% if team.workflow_enabled %}
                                        {% if team_video.tasks|length > 1 %}
                                            <a href="#" class="dropdown">
                                                {{ team_video.tasks|length }}
                                                {% trans " languages need your help" %}
                                            </a>
                                            <div>
                                                <span class="expand">{% trans "View all" %}</span>
                                                <ul>
                                                    {% for task in team_video.tasks %}
                                                        <li>
                                                            {% include "teams/_perform_task_link.html" %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% else %} {# there is only one task for this video #}
                                            {% with task=team_video.tasks|first %}
                                                {% include "teams/_perform_task_link.html" %}
                                            {% endwith %}
                                        {% endif %}
                                    {% else %} {# this is a non-task team #}
                                        {% if not team_video.video.primary_audio_language_code or not team_video.languages %}
                                        <a href="#multi-video-create-subtitles-modal" class="open-modal" {{ team_video.video|multi_video_create_subtitles_data_attrs }} title="Get started now">{% trans 'Create Subtitles' %}</a>
                                        {% elif team_video.languages|length > 1 %}
                                            <a href="#" class="dropdown">
                                                {{ team_video.languages|length }}
                                                {% trans " languages need your help" %}
                                            </a>
                                            <div>
                                                <span class="expand">{% trans "View all" %}</span>
                                                <ul>
                                                    {% for lang in team_video.languages %}
                                                        <li>
                                                            <a href="{% url "subtitles:subtitle-editor" video_id=team_video.video.video_id language_code=lang %}" title="Get started now">{% blocktrans with language=lang|to_localized_display %}Create {{ language }} Subtitles{% endblocktrans %}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% else %} {# there is only one language user can work on #}
                                            {% with lang=team_video.languages.0 %}
                                                <a href="{% url "subtitles:subtitle-editor" video_id=team_video.video.video_id language_code=lang %}" title="Get started now">{% blocktrans with language=lang|to_localized_display %}Create {{ language }} Subtitles{% endblocktrans %}</a>
                                            {% endwith %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %} {# member already has max tasks #}
                <p class="empty">
                    {% trans "Sorry, you've reached the maximum number of tasks for this team." %}
                </p>
                <ul class="suggestions">
                    <li>
                        <a href="{% url "teams:team_tasks" team.slug %}?assignee=me&lang=all">Manage your tasks</a>
                    </li>
                </ul>
            {% endif %}
        {% else %} {# there are no videos to show #}
            {% if team|is_team_member:user %}
                <h3>{% trans "Videos that need your help" %}</h3>
                <p class="empty">
                    {% trans "Sorry, we couldn't find any videos for you." %}
                </p>
                <ul class="suggestions">
                    <li>
                        <a href="#" data-modal="language_modal" id="lang_select_btn">{% trans "Select the languages you can caption or translate" %}</a>
                    </li>
                    <li>
                        <a href="{% url "teams:videos" team.slug %}">Browse all videos</a>
                    </li>
                    {% if can_add_video %}
                        <li><a href="{% url "teams:add_video" team.slug %}">{% trans "Add videos to the team" %}</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        {% endif %}
    </div>

    {% if create_subtitles_form %}
        {% include 'videos/_multi-video-create-subtitles-form.html' %}
    {% endif %}
{% endblock %}
