{% extends "teams/base.html" %}

{% load i18n l10n teams_tags %}

{% block title %}
    {{ team }} | Amara
{% endblock %}

{% block body_attrs %}id="teams" class="v1 video-feeds"{% endblock %}

{% block view_content %}

    <div class="view grid_8 omega">
        {% with "videos" as current %}
            {% include "teams/_tabs.html" %}
        {% endwith %}

        <div class="tools group">
            {% if can_create_feed %}
            <a href="{% url "teams:add_videos" slug=team.slug %}" class="button reduced">{% trans "Add Video Feed" %}</a>
            {% endif %}
        </div>

        {% if feeds %}
            <ul class="feeds listing">
            {% for feed in feeds %}
                <li>
                    <a href="{% url "teams:video_feed" slug=team.slug feed_id=feed.id %}"><h3>{{ feed.url }}</h3></a>
                    {% if feed.last_update %}
                    {% blocktrans with feed.last_update|localize as last_update %}
                    Last import attempt: {{ last_update }}
                    {% endblocktrans %}
                    {% else %}
                        {% trans "No import attempts" %}
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p class="empty">{% trans "No video feeds created." %}</p>
        {% endif %}
    </div>

{% endblock %}
