{% extends "teams/base.html" %}
{% load i18n teams_tags paginator %}

{% block title %}
    {{ team }} {% trans 'Settings' %} | Amara
{% endblock %}

{% block view_content %}
    <div class="view grid_8 omega">
        {% with 'settings' as current %}
            {% include 'teams/_tabs.html' %}
        {% endwith %}

        <div class="tools subnav">
            {% with "projects" as current_sub %}
                {% include "teams/_subnav_settings.html" %}
            {% endwith %}
            <!-- <a class="button project-add" href="{% url "teams:add_project" slug=team.slug %}">{% trans 'Add Project' %}</a> -->
        </div>

        <form action="" method="POST" class="settings">
            {% csrf_token %}
            {{ form.non_field_errors }}

                <fieldset>
                    <legend>{% trans 'Add new project' %}</legend>

                    <label for="id_name">{% trans 'Name' %}</label>
                    {{ form.errors.name }}
                    {{ form.name }}

                    <label for="id_description">{% trans 'Description' %}</label>
                    {{ form.errors.description }}
                    {{ form.description }}
                </fieldset>

                <div style="display: none;">
                    <fieldset>
                            <legend>Workflows</legend>
                            <p class="notation">{% trans "Moderate this project's subtitles. Will override the team's workflow if exists." %}</p>
        
                            <label for="id_workflow_enabled">{{ form.workflow_enabled }} {% trans 'Enable workflows' %}</label>
                    </fieldset>
    
                    <div class="workflow">
                        <fieldset id="workflow">
                            <label for="id_autocreate_subtitle">
                                {{ workflow_form.autocreate_subtitle }}
                                {% trans 'Automatically create subtitle tasks' %}
                            </label>
    
                            <label for="id_autocreate_translate">
                                {{ workflow_form.autocreate_translate }}
                                {% trans 'Automatically create translation tasks for preferred languages' %} (<a href="{% url "teams:settings_languages" slug=team.slug %}">{% trans 'manage languages' %}</a>)
                            </label>
    
                            <label for="id_review_allowed">{% trans 'Review' %}</label>
                            {{ workflow_form.review_allowed }}
    
                            <label for="id_approve_allowed">{% trans 'Approval' %}</label>
                            {{ workflow_form.approve_allowed }}
                        </fieldset>
                    </div> 
                </div>

            <div class="submit">
                <a class="button cancel project-cancel" href="{% url "teams:settings_projects" slug=team.slug %}">{% trans 'Cancel' %}</a>
                <input type="submit" class="submit save" value="Save Changes" name="save" />
            </div>
        </form>

    </div>

    <script type="text/javascript">
        $(window).load(function(){
            $workflow = $('#id_workflow_enabled');

            if ($workflow.attr('checked')) {
                $('.v1 .workflow').show();
            }

            $workflow.change(function() {
                if ($workflow.attr('checked')) {
                    $('.v1 .workflow').show();
                } else {
                    $('.v1 .workflow').hide();
                }
            });
        });
    </script>

    <script id="IMAGE_PRELOADER" type="text/html">
        <img class="placeholder" width="256" height1="30" src="{{ STATIC_URL }}images/ajax-loader.gif"/>
    </script>
{% endblock %}
