{% extends "teams/base.html" %}
{% load i18n teams_tags paginator %}

{% block title %}
    {{ team }} {% trans 'Guidelines' %} | {% trans 'Settings' %} | Amara
{% endblock %}

{% block view_content %}

    <div class="view grid_8 omega">
        {% with 'settings' as current %}
            {% include 'teams/_tabs.html' %}
        {% endwith %}

        <div class="tools subnav">
            {% with 'messages' as current_sub %}
                {% include 'teams/_subnav_settings.html' %}
            {% endwith %}
        </div>
        <form id="guidelines_messages_form" method="POST" action="" class="settings">
            {% csrf_token %}
            <input type="hidden" name="team" value="" />

                {% if not team.is_old_style %}
                <fieldset>
                    <legend>{% trans 'Custom page text' %}</legend>
                    <p class="notation">
                        {% trans 'Customize text on your team pages.' %}
                    </p>

                    <label for="id_pagetext_welcome_heading">{% trans 'Welcome heading on your landing page for non-members' %}</label>
                    {{ form.pagetext_welcome_heading.errors }}
                    {{ form.pagetext_welcome_heading }}

                </fieldset>
                {% endif %}
                <fieldset>
                    <legend>{% trans 'Custom messages' %}</legend>

                    <p class="notation">
                        {% trans 'Customize the messages sent to your users. The text you enter will accompany the default system message.' %}
                    </p>
		    <p>
		      <a href="{% url "teams:settings_lang_messages" team.slug %}">{% trans "Add messages in users' preferred languages" %} >></a>
		    </p>
                    <label for="id_messages_invite">{% trans 'When a member is invited to join the team' %}</label>
                    {{ form.messages_invite.errors }}
                    {{ form.messages_invite }}

                    <label for="id_messages_application">{% trans 'Custom message to display at the top of the application form' %}</label>
                    {{ form.messages_application.errors}}
                    {{ form.messages_application }}

                    <label for="id_messages_manager">{% trans 'When a member is given the Manager role' %}</label>
                    {{ form.messages_manager.errors }}
                    {{ form.messages_manager }}

                    <label for="id_messages_admin">{% trans 'When a member is given the Admin role' %}</label>
                    {{ form.messages_admin.errors }}
                    {{ form.messages_admin }}

                    <label for="id_messages_joins">{% trans 'When a member joins the team' %}</label>
                    {{ form.messages_joins.errors }}
                    {{ form.messages_joins }}
                </fieldset>
                <fieldset>
                    <legend>{% trans 'Guidelines' %}</legend>

                    <p class="notation">
                        {% trans 'Add guidelines to be displayed to your users when completing tasks.' %}
                    </p>

                    <label for="id_guidelines_subtitle">{% trans 'When transcribing' %}</label>
                    {{ form.guidelines_subtitle.errors }}
                    {{ form.guidelines_subtitle }}

                    <label for="id_guidelines_translate">{% trans 'When translating' %}</label>
                    {{ form.guidelines_translate.errors }}
                    {{ form.guidelines_translate }}

                    <label for="id_guidelines_review">{% trans 'When reviewing' %}</label>
                    {{ form.guidelines_review.errors }}
                    {{ form.guidelines_review }}
                </fieldset>

            <div class="submit">
                <input type="submit" class="submit save" value="Save Changes" name="save" />
            </div>
        </form>
    </div>

    <script id="IMAGE_PRELOADER" type="text/html">
        <img class="placeholder" width="256" height1="30" src="{{ STATIC_URL }}images/ajax-loader.gif"/>
    </script>
{% endblock %}
