{% extends "teams/base.html" %}
{% load i18n teams_tags paginator %}

{% block title %}
    {{ team }} {% trans 'Settings' %} | Amara
{% endblock %}

{% block html_attrs %}id="team_settings_permissions"{% endblock %}

{% block view_content %}

    <div class="view grid_8 omega">
        {% with 'settings' as current %}
            {% include 'teams/_tabs.html' %}
        {% endwith %}

         <div class="tools subnav">
            {% with 'workflows' as current_sub %}
                {% include 'teams/_subnav_settings.html' %}
            {% endwith %}
        </div>
        
        <form class="permissions settings" action="" method="POST">
            {% csrf_token %}

            <fieldset>
                <legend>{% trans 'Team Management' %}</legend>
                <label for="id_membership_policy">{% trans 'How can users join your team?' %}</label>
                {{ form.membership_policy }}

                <label for="id_video_policy">{% trans 'Who can add/remove videos?' %}</label>
                {{ form.video_policy }}
            </fieldset>

            <fieldset>
                <legend>{% trans 'Subtitling' %}</legend>

                <label for="id_subtitle_policy">{% trans 'Who can transcribe subtitles?' %}</label>
                <p class="notation">{% trans 'i.e. transcribe from video and perform time-alignment' %}</p>
                {{ form.subtitle_policy }}

                <label for="id_translate_policy">{% trans 'Who can translate subtitles?' %}</label>
                <p class="notation">{% trans 'i.e. translate text from an original subtitle into a new language' %}</p>
                {{ form.translate_policy }}
            </fieldset>

            <div id="summary" class="group">
                <h4>{% trans 'How your subtitles will get published <em>(configure below)</em>' %}</h4>
                <div class="grid_2">
                    <h5>{% trans 'Transcribed' %}</h5>
                    <p id="perm-sub"><p>
                    <p class="divider">{% trans 'or ...' %}</p>
                    <h5>{% trans 'Translated' %}</h5>
                    <p id="perm-trans"></p>
                    <span>→</span>
                </div>
                <div class="grid_2" id="review-step">
                    <h5>{% trans 'Reviewed' %}</h5>
                    <p id="perm-rev"></p>
                    <span>→</span>
                </div>
                <div class="grid_2" id="approve-step">
                    <h5>{% trans 'Approved' %}</h5>
                    <p id="perm-app"></p>
                    <span>→</span>
                </div>
                <div class="grid_2 omega">
                    <h5>{% trans 'Published' %}</h5>
                </div>
            </div>
            
            <fieldset>
                <legend>{% trans 'Tasks' %}</legend>
                <p class="notation">{% trans 'Tasks enable you to manage and assign subtitling and translation work for your videos' %}</p>
                <label for="id_workflow_enabled">{{ form.workflow_enabled }} {% trans 'Enable tasks' %}</label>
            </fieldset>

            <div class="workflow">
                <fieldset>
                    <legend>{% trans 'Permissions and Limits' %}</legend>

                    <label for="id_task_assign_policy">{% trans 'Who can create and assign tasks?' %}</label>
                    {{ form.task_assign_policy }}
                    <p class="notation">{% trans 'Specified members will only be able to create/assign tasks they are permitted to complete themselves' %}</p>

                    <label for="id_max_tasks_per_member">{% trans 'How many tasks can a user have at once?' %}</label>
                    {{ form.errors.max_tasks_per_member }}
                    {{ form.max_tasks_per_member }}
                    <p class="notation">{% trans 'If left blank there will be no limit.' %}</p>

                    <label for="id_task_expiration">{% trans 'How many days should an assignee get to complete a task?' %}</label>
                    {{ form.errors.task_expiration }}
                    {{ form.task_expiration }}
                    <p class="notation">{% trans 'If left blank tasks will not expire.' %}</p>
                </fieldset>
                <fieldset id="workflow">
                    <legend>{% trans 'Workflow' %}</legend>
                    <label for="id_autocreate_subtitle">
                        {{ workflow_form.autocreate_subtitle }}
                        {% trans 'Automatically create transcription tasks' %}
                    </label>

                    <label for="id_autocreate_translate">
                        {{ workflow_form.autocreate_translate }}
                        {% trans 'Automatically create translation tasks for preferred languages' %} (<a href="{% url "teams:settings_languages" slug=team.slug %}">{% trans 'manage languages' %}</a>)
                    </label>

                    <label for="id_review_allowed">{% trans 'Review' %}</label>
                    {{ workflow_form.review_allowed }}

                    <label for="id_approve_allowed">{% trans 'Approval' %}</label>
                    {{ workflow_form.approve_allowed }}
                </fieldset>
            </div>

            <div class="submit">
                <input type="submit" class="submit save" value="{% trans 'Save Changes' %}" name="save" />
            </div>
        </form>
    </div>

    <script id="IMAGE_PRELOADER" type="text/html">
        <img class="placeholder" width="256" height1="30" src="{{ STATIC_URL }}images/ajax-loader.gif"/>
    </script>
{% endblock %}
