{% extends "teams/base.html" %}
{% load to_json i18n teams_tags paginator media_bundle old_query_string utils_tags videos_tags %}

{% block html_attrs %}id="team_tasks"{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% media_bundle "teams.js" %}
    <script src="{% url "teams:rpc_api" %}" type="text/javascript"></script>
    <script type="text/javascript">
        window.REQUEST_GET_LANG = '{{ request.GET.lang }}';
        window.REQUEST_GET_PROJECT = '{{ request.GET.project }}';
        window.ASSIGN_TASK_AJAX_URL = '{% url "teams:assign_task_ajax" slug=team.slug %}';
        {% if request.GET.assignee %}
            window.ASSIGNEE = '{{ request.GET.assignee }}';
        {% else %}
            window.ASSIGNEE = '{% firstof request.user.id -1 %}';
        {% endif %}
        window.CURRENT_USER_ID = {% firstof request.user.id %};
        window.TEAM_SLUG = '{{ team.slug }}';
        window.REQUEST_TEAM_VIDEO = '{{ request.GET.team_video }}';
    </script>
{% endblock %}

{% block title %}
    {% trans 'Tasks' %} - {{ team }} | Amara
{% endblock %}

{% block view_content %}
    <div class="view grid_8 omega">
    {% with "tasks" as current %}
        {% include 'teams/_tabs.html' %}
    {% endwith %}

    <div class="tools group">


      {% if team|can_view_approve_tab:user %}
        <a class="button reduced" href="{% url "teams:approvals" team.slug %}">
          {% trans "Bulk approve tasks" %}
        </a>
      </li>
      {% endif %}

        {% include "teams/_search.html" %}
        {% if filters.team_video != None %}
            {% can_create_any_task_for_teamvideo filters.team_video request.user %}
            {% if user_can_create_any_task %}
                <a class="button"
                   href="{% url "teams:create_task" slug=team.slug team_video_pk=request.GET.team_video %}">{% trans 'Add Task' %}</a>
            {% endif %}
        {% endif %}
        <a href="#filter" id="sort-filter">
            {% trans 'Filter and Sort' %}
            <span></span>
        </a>
    </div>

    <div class="filters group {% if filtered or request.GET.sort or project %}active{% endif %}">
        <p>

        <div class="filter-chunk">
            <select id="id_task_type" name="type" class="type-filter chosen">
                <option value="{{ request.path }}{% query_string request.GET type="" page='' %}">{% trans 'All' %}</option>
                <option value="{% query_string request.GET type='Subtitle' page='' %}"
                        {% if request.GET.type == 'Subtitle' %}selected="selected"{% endif %}>{% trans 'Transcribe' %}</option>
                <option value="{% query_string request.GET type='Translate' page='' %}"
                        {% if request.GET.type == 'Translate' %}selected="selected"{% endif %}>{% trans 'Translate' %}</option>
                {% if team|review_enabled %}
                    <option value="{% query_string request.GET type='Review' page='' %}"
                            {% if request.GET.type == 'Review' %}selected="selected"{% endif %}>{% trans 'Review' %}</option>
                {% endif %}
                {% if team|approve_enabled %}
                    <option value="{% query_string request.GET type='Approve' page='' %}"
                            {% if request.GET.type == 'Approve' %}selected="selected"{% endif %}>{% trans 'Approve' %}</option>
                {% endif %}
            </select>
            <span class="inner">{% trans 'tasks in' %}</span>
        </div>
        <div class="filter-chunk">
            <select id="id_project" name="project"
                    class="project-filter chosen">
                    <option value=" {% url "teams:team_tasks" team.slug %}{% if team.slug == 'ted' %}{% query_string request.GET project='any' %}{% else %}{% query_string request.GET project='' %}{% endif %}" id="project-opt-any" {% if not project %}selected="selected"{% endif%}>{% trans 'any project' %}</option>
                {% for proj in project_choices %}
                    <option id="project-opt-{{ proj.slug }}" {% if project == proj %}selected="selected"{% endif %} value="{% url "teams:team_tasks" team.slug %}{% query_string request.GET project=proj.slug %}">{{ proj.name }}</option>
                {% endfor %}
            </select>
            </select>
            <span class="inner">{% trans 'for' %}</span>
        </div>
        <div class="filter-chunk">
            <select id="id_task_language" name="lang" class="lang-filter chosen">
                <option id="lang-opt-all" value="{{ request.path }}{% query_string request.GET lang='all' page='' %}">{% trans 'all languages' %}</option>
                {% if request.user.is_authenticated %}
                <option id="lang-opt-mine" value="{{ request.path }}{% query_string request.GET lang='' page='' %}">{% trans 'my languages' %}</option>
                {% endif %}
                {% for language in languages %}
                    <option id="lang-opt-{{ language.code }}" value="{% query_string request.GET lang=language.code page='' %}">{{ language.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="filter-chunk">
            <span class="inner">{% trans 'assigned to' %}</span>
            <select name="assignee" class="assignee-filter">
                <option value="
                        {{ request.path }}{% query_string request.GET assignee='' page='' %}"
                        {% if not request.GET.assignee %}selected="selected"{% endif %}>{% trans 'no one' %}</option>
                <option value="{% query_string request.GET assignee='me' page='' %}"
                        {% if request.GET.assignee == 'me' %}selected="selected"{% endif %}>{% trans 'me' %}</option>
                <option value="{% query_string request.GET assignee='anyone' page='' %}"
                        {% if request.GET.assignee == 'anyone' %}selected="selected"{% endif %}>{% trans 'anyone' %}</option>
                {% with request.GET.assignee as assigned %}
                    {% if assigned and assigned != 'me' and assigned != 'anyone' %}
                        <option value="{% query_string request.GET assignee=assigned page='' %}"
                                selected="selected">{{ assigned }}</option>
                    {% endif %}
                {% endwith %}
            </select>
        </div>
        <div class="filter-chunk">
            <span class="inner">{% trans 'sorted by' %}</span>
            <select name="sort">
                <option {% if request.GET.sort == '-created' or not request.GET.sort %}selected="selected"{% endif %}
                        value="{% query_string request.GET sort='-created' page='' %}">
                    {% trans 'date, newest' %}
                </option>
                <option {% if request.GET.sort == 'created' %}selected="selected"{% endif %}
                        value="{% query_string request.GET sort='created' page='' %}">
                    {% trans 'date, oldest' %}
                </option>
                {% if team.task_expiration != None %}
                    <option {% if request.GET.sort == 'expires' %}selected="selected"{% endif %}
                            value="{% query_string request.GET sort='expires' page='' %}">
                        {% trans 'time left, least' %}
                    </option>
                    <option {% if request.GET.sort == '-expires' %}selected="selected"{% endif %}
                            value="{% query_string request.GET sort='-expires' page='' %}">
                        {% trans 'time left, most' %}
                    </option>
                {% endif %}
            </select>
        </div>
        </p>
        {% if filtered or request.GET.sort %}
            <a href="{{ request.path }}" class="clear-filters"
               title="{% trans 'Clear all filters, sorts, and search terms' %}">{% trans 'Clear' %}</a>
        {% endif %}
    </div>

    {% if filters.team_video %}
        <p class="view-notice">
            {% trans 'Video' %}: <strong>{{ filters.team_video }}</strong>
            <a href="{{ request.path }}" class="clear-filters"
               title="{% trans 'Clear all filters, sorts, and search terms' %}">{% trans 'Clear' %}</a>
        </p>
    {% endif %}
    {% if request.GET.sort == 'expires' or request.GET.sort == '-expires' %}
        <p class="view-notice">
            <strong>{% trans 'NOTE:' %}</strong>
            {% trans 'When sorting by expiration date, tasks without an expiration are not shown.' %}
            <a href="{{ request.path }}" class="clear-filters"
               title="{% trans 'Clear all filters, sorts, and search terms' %}">{% trans 'Clear' %}</a>
        </p>
    {% endif %}

    {% if not tasks and filtered %}
        <p class="view-notice">
            <strong>{% trans 'Try broadening your selection using the filters above' %}</strong>
        </p>
    {% endif %}

    {% if not tasks and user.is_authenticated and not user.get_languages %}
        <p class="prompt">
          <strong>{% trans "Use the filter to view tasks in a specific language" %}</strong>
        </p>
    {% else %}
        {% if not filtered %}
            <p class="view-notice">
                <strong>
                    {% trans 'Showing unassigned tasks in languages you speak. ' %}
                    {% if team|user_tasks_count:user > 0 %}
                        {% trans "Want to view " %}
                        <a href="{% url "teams:team_tasks" team.slug %}?assignee=me&lang=all">{% trans "your tasks" %}</a>
                        {% trans ' instead?' %}
                    {% endif %}
                </strong>
                {% if not tasks %}
                    <strong>
                        <br/>
                        {% trans 'Try changing your selection using the filters above to find tasks' %}
                    </strong>
                {% endif %}
            </p>
        {% endif %}
    {% endif %}


    {% if tasks %}
        <ul class="tasks listing">
        {% with member.has_max_tasks as has_max_tasks %}
            {% for task in tasks %}
                {% with task.new_subtitle_version.subtitle_language.get_translation_source_language as translated_from %}
                    <li class="packed"
                          {% if task.is_blocked  %}
                              {%if  task.get_type_display == 'Translate' %}
                                  class="disabled">
                                  <div class="cannot-perform disabled">Locked until {{ translated_from.get_language_display }} subtitles have been approved.</div
                              {% endif %}
                              {% if task.get_type_display == 'Review' or task.get_type_display == 'Approve' %}
                                      class="disabled">
                                      <div class="cannot-perform disabled">Locked until {{ translated_from.get_language_display }} subtitles are completed.</div

                              {% endif %}
                          {% endif %}                                                                                                  
                          {% if not task|can_perform_task:user and not task.assignee %}
                              class="disabled">
                              <div class="cannot-perform">{% trans "You don't have permission to perform this task." %}</div
                          {% endif %}
                          {% if task.assignee and task.assignee != user %}
                              class="assigned"
                          {% endif %}
                    >

                    <h3>
                        {% if task.get_type_display == "Subtitle" %}
                            {% trans 'Transcribe' %}
                        {% else %}
                            {{ task.get_type_display }}
                            {% if task.get_type_display == 'Review' or task.get_type_display == 'Approve' %}
                                {% if  task.new_subtitle_version.subtitle_language.is_primary_audio_language %}
                                    {% trans 'Original' %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% if task.get_type_display == "Translate" %}
                            {% trans 'Subtitles into' %}
                            {{ task.get_language_display }}
                        {% else %}
                            {% if task.get_language_display %}
                                {{ task.get_language_display }}
                            {% endif %}
                            {% trans 'Subtitles' %}
                        {% endif %}
                    </h3>

		    {% if task.team_video.video.language %}
                    <p>
                         <strong>{% trans "Original Language" %}:</strong>
                         {{ task.team_video.video.language|display_language }}
                    </p>
                    {% endif %}
                    <p>
                        <strong>{% trans "Video" %}:</strong>
                        <a href="{{ task.team_video.video.get_absolute_url }}"
                           title="{{ task.team_video.video.title_display }}">
                            {{ task.team_video|truncatewords:12 }}
                        </a>
                        {% if task.team_video.video.duration %}
                            (
                            {{ task.team_video.video.duration|format_duration }}
                            )
                        {% endif %}
                    </p>

                    {% with task.get_subtitle_version as version %}
                        {% if version %}
                            <p>
                                <strong>{% trans 'Subtitles' %}:</strong>
                                <a href="{{ version.get_absolute_url }}">{% trans 'latest draft' %}</a>
                                {% if task.get_reviewer != version.author %}
                                    {% if not version.subtitle_language.get_translation_source_language_code %}
                                        {% trans 'transcribed' %}
                                    {% else %}
                                        {% trans 'translated' %}
                                    {% endif %}
                                    by
                                    <a href="{{ version.author.get_absolute_url }}"
                                       title="View {{ version.author }}'s profile">{{ version.author }}</a>
                                {% endif %}
                                {% if task.get_type_display == 'Approve' %}
                                    {% with task.get_reviewer as reviewer %}
                                        {% if reviewer %}
                                            {% trans 'reviewed' %}
                                            {% if reviewer == version.author %}
                                                {% trans 'and edited' %}
                                            {% endif %}
                                            {% trans 'by' %}
                                            <a href="{{ reviewer.get_absolute_url }}">{{ reviewer }}</a>
                                            .
                                        {% endif %}
                                    {% endwith %}
                                {% endif %}
                            </p>
                        {% endif %}
                    {% endwith %}

                    <a href="{{ task.team_video.video.get_absolute_url }}"
                       class="thumb"><img
                            src="{{ task.team_video.get_thumbnail }}"
                            alt="{{ task.team_video.title }}"></a>
                    <ul class="actions">
                        <li>
                            <h4>
                                {% if task.assignee %}
                                    {% trans 'Assigned to' %}
                                    {% if task.assignee == user %}
                                        {% trans 'me' %}
                                    {% else %}
                                        <a href="{{ task.assignee.get_absolute_url }}"
                                           title="View {{ task.assignee }}'s profile">
                                            {{ task.assignee }}
                                        </a>
                                    {% endif %}
                                {% else %}
                                    {% trans 'Unassigned' %}
                                {% endif %}
                            </h4>
                        </li>
                        {% if task.expiration_date != None and not task.is_blocked %}
                            {% if task.future %}
                                <li class="due">Due
                                    in {{ task.expiration_date|timeuntil }}</li>
                            {% else %}
                                <li class="due">Overdue
                                    by {{ task.expiration_date|timesince }}</li>
                            {% endif %}
                        {% endif %}

                        {% if task|can_perform_task:user and not task.is_blocked %}
                            {% if task.assignee == user or task.assignee == None %}
                                <div class="action-group perform-task">
                                <h5 class="trigger">{% trans 'Perform Task' %}</h5>
                                <ul>
                                {% if task.assignee == user %}
                                    <li>
                                        {% include "teams/_perform_task_link.html" with link_text=task.tasks_page_perform_link_text %}
                                    </li>
                                {% else %}
                                    {% if task.assignee == None %}
                                        {% if has_max_tasks %}
                                            <li class="disabled">{% trans 'You have reached the maximum number of tasks.' %}</li>
                                        {% else %}
                                            <li>
                                                {% include "teams/_perform_task_link.html" with link_text=task.tasks_page_perform_link_text %}
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                        {% if task.get_subtitle_version %}
                            <li>
                                <a href="#download-draft-{{ task.id }}"
                                   class="open-modal upload-draft-button">{% trans 'Download draft' %}</a>
                            </li>
                        {% endif %}
                        </ul>
                        <div class="bootstrap">
                            <div class="modal upload-draft-modal"
                                id="upload-draft-{{ task.id }}">
                                <form action="{% url "teams:upload_draft" slug=team.slug video_id=task.team_video.video.video_id %}"
                                      method="post"
                                      enctype="multipart/form-data">
                                    {% with task|get_upload_form:request.user as form %}
                                        <div class="modal-header">
                                            <a href="#" class="close">x</a>

                                            <h3>{% trans 'Upload a draft' %}</h3>
                                        </div>
                                        <div class="modal-body">
                                            <input type="hidden" name="task"
                                                   value="{{ task.id }}"/>

                                            {% if not form.video.primary_audio_language_code %}
                                                <label for="id_primary_audio_language_code">{% trans 'Video Language' %}</label>
                                                <div class="no-chosen">
                                                    {{ form.primary_audio_language_code }}
                                                </div>
                                                <p class="notice">{% trans "Please double check the primary spoken language. This step cannot be undone." %}</p>
                                            {% else %}
                                                <input type="hidden"
                                                       name="primary_audio_language_code"
                                                       value="{{ form.video.primary_audio_language_code|default:"" }}"/>
                                            {% endif %}

                                            {% if task.get_type_display == "Translate" and not task.get_subtitle_version %}
                                                <div class="no-chosen">
                                                    <label for="id_from_language_code">{% trans 'Translate from' %}</label>
                                                    {{ form.from_language_code }}
                                                </div>
                                            {% else %}
                                                <input type="hidden"
                                                       name="from_language_code"
                                                       value="{{ task.get_subtitle_version.subtitle_language.get_translation_source_language_code|default:"" }}"/>
                                            {% endif %}

                                            <p>
                                                <strong>{% trans 'Important:' %}</strong> {% trans 'Uploading a draft will not complete the task. After uploading, select "Resume" from the "Perform Task" drop-down to verify timing, video title and video description in the onsite editor and to submit the final version.' %}
                                            </p>

                                            {% if not task.language %}
                                                <div class="no-chosen">
                                                    <label for="id_language_code">{% trans 'Language' %}</label>
                                                    {{ form.language_code }}
                                                </div>
                                            {% else %}
                                                <input type="hidden"
                                                       name="language_code"
                                                       value="{{ task.language|default:"" }}"/>
                                            {% endif %}

                                            <label for="id_draft">
                                                {% trans 'File:' %}
                                            </label>

                                            {{ form.draft }}

                                            <p class="notation">
                                                {% trans 'Accepted formats: .srt, .ssa, .sbv, .dfxp, .txt or .xml (for DFXP)' %}
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            {% csrf_token %}
                                            <input type="submit"
                                                   class="btn primary"
                                                   value="Upload draft"/>
                                        </div>
                                    {% endwith %}
                                </form>
                            </div>
                            <div class="modal" id="download-draft-{{ task.id }}">
                                <div class="modal-header">
                                    <a href="#" class="close">x</a>

                                    <h3>{% trans 'Download a draft' %}</h3>
                                </div>
                                <div class="modal-body">
                                    <div class="fix-chosen">
                                        <div class="no-chosen">
                                            <p>{% trans 'Download a draft of these subtitles so you can work offline.' %}</p>
                                            <select class="goto">
                                                <option value="">Select a
                                                    format
                                                </option>
                                                <option value="{% url "teams:download_draft" slug=team.slug task_pk=task.id type='srt' %}">
                                                    SRT
                                                </option>
                                                <option value="{% url "teams:download_draft" slug=team.slug task_pk=task.id type='ssa' %}">
                                                    SSA
                                                </option>
                                                <option value="{% url "teams:download_draft" slug=team.slug task_pk=task.id type='txt' %}">
                                                    TXT
                                                </option>
                                                <option value="{% url "teams:download_draft" slug=team.slug task_pk=task.id type='sbv' %}">
                                                    SBV
                                                </option>
                                                <option value="{% url "teams:download_draft" slug=team.slug task_pk=task.id type='dfxp' %}">
                                                    DFXP
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        {% endif %}
                        {% endif %}
                    </ul>

                    {% with can_delete=task|can_delete_task:user can_assign=task|can_assign_task:user can_decline=task|can_decline_task:user %}
                        {% if can_delete or can_assign or can_decline %}
                            <ul class="admin-controls">
                                {% if can_decline %}
                                    <li>
                                        <a class="action-decline" href="#">
                                            {% trans 'Decline' %}

                                            <form class="hidden"
                                                  action="{% url "teams:assign_task" slug=team.slug %}"
                                                  method="post">
                                                {% csrf_token %}

                                                <input type="hidden" name="next"
                                                       value="{{ request.path }}{% query_string request.GET %}"/>

                                                <input type="hidden" name="task"
                                                       value="{{ task.id }}"/>
                                                <input type="hidden"
                                                       name="assignee"
                                                       value=""/>

                                                <input type="submit"
                                                       class="submit"
                                                       value="decline" name=""/>
                                            </form>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if can_assign %}
                                    <li>
                                        <a class="action-assign" href="#">
                                            {% if task.assignee %}
                                                {% trans 'Reassign' %}
                                            {% else %}
                                                {% trans 'Assign' %}
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if can_delete %}
                                    <li>
                                        <a class="action-delete open-modal"
                                           href="#delete-task-{{ task.pk }}">{% trans 'Delete' %}</a>
                                    </li>
                                {% endif %}
                            </ul>
                            {% if can_delete %}
                                <div class="bootstrap">
                                    <div class="modal"
                                         id="delete-task-{{ task.pk }}">
                                        <div class="modal-header">
                                            <a href="#" class="close">x</a>

                                            <h3>{% trans 'Delete task' %}</h3>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{% url "teams:delete_task" slug=team.slug %}"
                                                  method="post">
                                                <fieldset>
                                                    {% if task.get_type_display == "Review" or task.get_type_display == "Approve" %}
                                                        <p>{% trans 'What would you like to do with the subtitles for this task?' %}</p>
                                                        <label class="radio"
                                                               for="id_discard_subs_no_{{ task.pk }}">
                                                            <input checked="checked"
                                                                   type="radio"
                                                                   name="discard_subs"
                                                                   value="0"
                                                                   id="id_discard_subs_no_{{ task.pk }}"/>
                                                            {% trans "Publish these subtitles immediately" %}
                                                        </label>
                                                        <label class="radio"
                                                               for="id_discard_subs_yes_{{ task.pk }}">
                                                            <input type="radio"
                                                                   name="discard_subs"
                                                                   value="1"
                                                                   id="id_discard_subs_yes_{{ task.pk }}"/>
                                                            {% trans "Delete these subtitles permanently (discard all drafts since the last published version)" %}
                                                        </label>
                                                    {% else %}
                                                        <p>Are you sure you want
                                                            to delete this
                                                            task?</p>
                                                        <input type="hidden"
                                                               name="discard_subs"
                                                               value="0"/>
                                                    {% endif %}
                                                </fieldset>

                                                {% csrf_token %}

                                                <input type="hidden" name="next"
                                                       value="{{ request.path }}{% query_string request.GET %}"/>
                                                <input type="hidden" name="task"
                                                       value="{{ task.pk }}"/>

                                                <div class="modal-footer">
                                                    <input type="submit"
                                                           class="btn danger"
                                                           value="Delete task"/>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endwith %}

                    {% if task|can_assign_task:user %}
                        <form class="assign-form"
                              action="{% url "teams:assign_task" slug=team.slug %}"
                              method="post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}{% query_string request.GET %}"/>

                            <input type="hidden" name="task"
                                   value="{{ task.id }}"/>

                            <div class="assignee-choice" style="display: none;">
                                <a class="cancel"
                                   href="#">{% trans 'Cancel' %}</a>

                                <div class="member-ajax-chosen">
                                    <select name="assignee">
                                        <option value="">-----</option>
                                        <option value=""
                                                class="begin-typing-trans">{% trans 'Begin typing to search' %}</option>
                                    </select>
                                </div>
                                <a class="button action-assign-submit"
                                   href="{% url "teams:assign_task" slug=team.slug %}">{% trans 'Assign to User' %}</a>
                            </div>
                        </form>
                    {% endif %}
                    </li>
                {% endwith %}
            {% endfor %}
        {% endwith %}
        </ul>
    {% else %}
        <p class="empty">{% trans 'Sorry, no tasks here.' %}</p>
    {% endif %}

    {% if is_paginated %}{% paginator %}{% endif %}

    </div>
    <div class='no-chosen'>
        {% if create_subtitles_form %}
            {% include 'videos/_multi-video-create-subtitles-form.html' %}
        {% endif %}
    </div>
    <script id="IMAGE_PRELOADER" type="text/html">
        <img class="placeholder" width="256" height1="30"
             src="{{ STATIC_URL }}images/ajax-loader.gif"/>
    </script>
{% endblock %}
