{% extends "future/teams/videos/base.html" %}
{% load i18n forms %}

{% block filters %}
<form method="GET" action="" class="ajaxForm updateOnChange updateLocation">
  {{ filters_form.q.as_hidden }}
  {{ filters_form.sort.as_hidden }}
  {{ filters_form.language|render_filter_field }}
  {% if filters_form.fields.project.enabled %}
  {{ filters_form.project|render_filter_field }}
  {% endif %}
  {{ filters_form.duration|render_filter_field }}
</form>
{% endblock %}

{% block filters2 %}
<div class="row filters">
  <div class="col-xs-8 proxyField" data-proxy-for="#id_q">
    {{ filters_form.q|render_field }}
  </div>
  <div class="col-xs-4 proxyField" data-proxy-for="#id_sort">
    {{ filters_form.sort|render_field }}
  </div>
</div>
{% endblock %}

{% block videos %}
<div id="video-list">{% include "future/teams/videos/list.html" %}</div>
{% endblock %}
