{% load forms i18n query_string modal %}
{% startmodal "delete-dialog" _("Deleting subtitles") %}
<form action="{% query_string form=delete %}" class="ajaxForm" method="POST">
  {% csrf_token %}
  <h4 class="modal-header">{{ video.title_display }}</h4>
  <h4 class="modal-subheader">{% blocktrans with language=subtitle_language.get_language_code_display %}Subtitle language: {{ language}}{% endblocktrans %}</h4>
  <div class="modal-content">
    <ul class="bullets">
      {% for bullet in form.bullets %}
      <li>{{ bullet }}</li>
      {% endfor %}
    </ul>
    {{ form.verify|render_field  }}
  </div>
  <div class="modal-footer">
    <button class="button borderless modal-close">{% trans "Cancel" %}</a>
    <button class="button cta" type="submit">{% trans "Delete subtitles" %}</button>
  </div>
</form>
{% endmodal %}
