{% load i18n forms modal captureas %}
{% captureas title %}{% blocktrans count count=selection_count %}Editing Video{% plural %}Editing Videos{% endblocktrans %}{% endcaptureas %}
{% startmodal "edit-dialog" title %}
<form class="ajaxForm" action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data">
  <h4 class="modal-header">
    {% if single_selection %}
    {{ first_video.title_display }}
    {% else %}
    {% blocktrans count count=selection_count %}{{ count }} video selected{% plural %}{{ count }} videos selected{% endblocktrans %}
    {% endif %}
  </h4>
  <div class="modal-content">
    {% csrf_token %}
    {% include "future/forms/non-field-errors.html" %}
    {% if form.include_all %}
    {{ form.include_all|render_field }}
    {% endif  %}
    {% if form.title %}
    {{ form.title|render_field }}
    {% endif %}
    {{ form.language|render_field }}
    {% if form.fields.project.enabled %}
    {{ form.project|render_field }}
    {% endif %}
    {{ form.thumbnail|render_field }}
  </div>
  <div class="modal-footer">
    <button class="button borderless modal-close">{% trans "Cancel" %}</button>
    <button class="button cta">{% trans "Update" %}</button>
  </div>
</form>
{% endmodal %}
