{% load i18n forms modal captureas %}
{% captureas title %}{% blocktrans count count=selection_count %}Moving Video{% plural %}Moving Videos{% endblocktrans %}{% endcaptureas %}
{% startmodal "move-dialog" title %}
<form class="ajaxForm" action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data">
  <h4 class="modal-header">
    {% if single_selection %}
    {{ first_video.title_display }}
    {% else %}
    {% blocktrans count count=selection_count %}{{ count }} video selected{% plural %}{{ count }} videos selected{% endblocktrans %}
    {% endif %}
  </h4>
  <div class="modal-content">
    {% csrf_token %}
    {% include "future/forms/non-field-errors.html" %}
    {% if form.include_all %}
    {{ form.include_all|render_field }}
    {% endif  %}
    {{ form.new_team|render_field }}
    <div class="dependentSelect" data-controller="#id_new_team" data-choice-map='{{ form.project_map_json }}'>
      {{ form.project|render_field }}
    </div>
  </div>
  <div class="modal-footer">
    <button class="button borderless modal-close">{% trans "Cancel" %}</button>
    <button class="button cta">{% trans "Move" %}</button>
  </div>
</form>
{% endmodal %}
