{% load i18n %}{% autoescape off %}
{% trans "You're receiving this e-mail because you requested a password reset" %}
{% blocktrans %}for your user account at {{ site_name }}{% endblocktrans %}.

{% if not amara_user %}
{% trans "This account currently uses an external login mechanism. If you proceed and reset your password, it will be converted into a regular Amara account, and you will have to authenticate with your username and newly created password. Your existing videos, teams and subtiles will not be affected in any ways." %}
{% endif %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{% if amara_user %}
{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}
{% else %}
{{ protocol }}://{{ domain }}{% url "password_reset_confirm_external" uidb64=uid token=token %}
{% endif %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
